<!doctype html>
<html class="no-js" lang="">
<head>
    {% include head.html %}
</head>
<body>
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div id="page" class="site">
        <a class="skip-link sr-only" href="#main">Skip to content</a>

        {% include header.html %}

        {% include page-title-classic.html background="8" class="mb-30" %}

        <div id="container" class="container">

            <div id="layout" class="main-layout sidebar-{{ page.sidebar }}">

                <div id="primary" class="content-area">
                    <main id="main" class="site-main">

                    {{ content }}

                    </main><!-- #main -->
                </div><!-- #primary -->

                {% if "none" != page.sidebar %}
                <aside id="secondary" class="sidebar widget-area">
                    {% include sidebar.html %}
                </aside><!-- #secondary -->
                {% endif %}

            </div><!-- /#layout -->
        </div><!-- /#container -->

        {% include loader.html %}

        {% include footer.html %}
    </div>

    {% include scripts.html %}
</body>
</html>
