---
title: 404
layout: default
---

<main class="site-main">
    <div class="br-background section-404 section-404--white bg-404" >
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <h1 class="mb-20">Error Page</h1>
                    <h2>Well! Something you go wrong pages</h2>
                    <p class="fz-16 mb-25">If you want go back to my hotel. Please in put the box below</p>
                    <div class="form-search mb-35">
                        <form action="index.html">
                            <label class="sr-only"  >search</label>
                            <input name="search" type="text" placeholder="Search your entry here..." value="">

                            <button type="button"><i class="fa fa-search" aria-hidden="true"></i></button>
                        </form>
                    </div>
                    <p>or go back to the <a href="index.html">Home Page</a></p>
                </div>
            </div>
        </div>
    </div>
</main>
