---
title: Account
layout: default
breadcrumbs:
    - Account
---

<main class="site-main">
    {% include page-title.html background="4" %}

    <section class="section pb-80">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-1">
                    <h2 class="heading-page fz-25 mb-30">User Register</h2>

                    <form method="post" class="br-register">

                        <p class="form-row">
                            <label class="sr-only">User name</label>
                            <input type="text" name="username" placeholder="User name *">
                        </p>

                        <p class="form-row">
                            <label class="sr-only">Password</label>
                            <input type="password" name="password" placeholder="Password *">
                        </p>

                        <p class="form-row">
                            <label class="sr-only">Re password</label>
                            <input type="password" name="password" placeholder="Re password *">
                        </p>

                        <p class="form-row mb-30">
                            <label class="sr-only">email</label>
                            <input type="email" name="email" placeholder="Email *">
                        </p>


                        <p class="form-row">
                            <input type="submit" class="btn-primary" name="Register" value="Register">
                        </p>

                    </form>

                </div>

                <div class="col-md-4 col-md-offset-2">
                    <h2 class="heading-page fz-25 mb-30">Login Account</h2>

                    <form method="post" class="br-login">

                        <p class="form-row">
                            <label class="sr-only">User name</label>
                            <input type="text" name="username" placeholder="User name *">
                        </p>

                        <p class="form-row mb-30">
                            <label class="sr-only">Password</label>
                            <input class="mb-10" type="password" name="password" placeholder="Password *">

                            <label class="c-input c-checkbox">
                                <input type="checkbox">
                                <span class="c-indicator"></span>
                                Check this custom checkbox
                            </label>
                        </p>

                        <p class="form-row">
                            <input type="submit" class="btn-primary" name="Login" value="Login">

                            <a class="lost_password" href="#">Forgot your password</a>
                        </p>

                    </form>
                </div>
            </div>
        </div>
    </section>
</main>
