---
title: All-Categories
layout: default
---

<main class="site-main">
    <section>
        <div class="js-slide-banner-full-1 br-slick-white br-slick-animation">

            <div class="slide-banner-full">
                <div class="br-background bg-slide-3">
                    <div class="slide-banner-full-content slide-banner-slide-3">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-5 col-md-offset-6">
                                    <h2 class="font-secondary">Native</h2>
                                </div>

                                <div class="col-md-6 col-md-offset-4">
                                    <h2 class="font-secondary mb-30">Fashion</h2>
                                </div>

                                <div class="col-md-4 col-md-offset-6">
                                    <span class="fz-20 font-third dark">Colection items form brilliant</span>
                                </div>
                            </div>
                        </div>
                    </div><!-- .slide-banner-content -->
                </div>
            </div><!-- .slide-banner-full -->

            <div class="slide-banner-full">
                <div class="br-background bg-slide-5">
                    <div class="slide-banner-full-content slide-banner-slide-5">
                        <div class="container">
                            <img class="mb-20" src="img-demo/bg-slides/icon-slide.png" alt="">

                            <span class="fz-20 uppercase white mb-10">new products for</span>

                            <h2 class="font-secondary white mb-30">Winter Mountaineering</h2>

                            <span class="fz-20 font-four white mb-60">The latest products for the long day of climbing</span>

                            <a href="#" class="btn btn-primary">shop now</a>
                        </div>
                    </div><!-- .slide-banner-content -->
                </div>
            </div><!-- .slide-banner-full -->

            <div class="slide-banner-full">
                <div class="br-background bg-slide-4">
                    <div class="slide-banner-full-content slide-banner-slide-4">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6">
                                    <span class="fz-20 dark uppercase mb-10">Collection items</span>
                                    <h2 class="font-secondary mb-50">Short Spring <br> Brilliant</h2>

                                    <a href="#" class="btn btn-default">view more</a>
                                    <a href="#" class="btn btn-primary">add to cart</a>
                                </div>
                            </div>
                        </div>
                    </div><!-- .slide-banner-content -->
                </div>
            </div><!-- .slide-banner-full -->

            <div class="slide-banner-full">
                <div class="br-background bg-slide-6">
                    <div class="slide-banner-full-content slide-banner-slide-6">
                        <div class="container">
                            <span class="fz-20 dark uppercase mb-10">LOOKBOOK FASHION 2016</span>
                            <h2 class="font-secondary mb-85 pl-md-60">Spring <span>&amp;</span> Summer</h2>

                            <a href="#" class="btn btn-primary">shop now</a>
                        </div>
                    </div><!-- .slide-banner-content -->
                </div>
            </div><!-- .slide-banner-full -->

        </div>
    </section>

    <section>
        <div class="br-policy">
            <div class="container">
                <div class="br-policy__item">
                    <div class="br-policy__icon">
                        <i class="br br-car"></i>
                    </div> <!-- End .br-policy__icon -->
                    <div class="br-policy__text">
                        <h5 class="text-uppercase mb-0">Free shipping</h5>
                        <span>Free returns &amp; exchanges</span>
                    </div> <!-- End br-policy__text -->
                </div> <!-- End br-policy__item  -->

                <div class="br-policy__item">
                    <div class="br-policy__icon">
                        <i class="br br-money"></i>
                    </div> <!-- End .br-policy__icon -->
                    <div class="br-policy__text">
                        <h5 class="text-uppercase mb-0">15 Days returns</h5>
                        <span>When order over $25</span>
                    </div> <!-- End br-policy__text -->
                </div> <!-- End br-policy__item  -->

                <div class="br-policy__item">
                    <div class="br-policy__icon">
                        <i class="br br-clock"></i>
                    </div> <!-- End .br-policy__icon -->
                    <div class="br-policy__text">
                        <h5 class="text-uppercase mb-0">support 24/7</h5>
                        <span>When order over $25</span>
                    </div> <!-- End br-policy__text -->
                </div> <!-- End br-policy__item  -->
            </div>
        </div>
    </section>

    <section class="section pt-40">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                     <div class="inner-title br-card--quad-h2 br-card-categories__item br-card-big">
                        <div class="br-card__media">
                            <div class="br-card__thumb">
                                <a href="#">
                                    <img src="img-demo/banners/banner-cat4.jpg" alt="">
                                </a>

                                <div class="br-card__main">
                                    <h2 class="br-card-categories__title text-uppercase">shop <br><span>Clothes</span></h2>
                                    <a href="#" class="btn btn-primary">shop now</a>
                                </div>
                            </div>
                        </div><!-- br-card__media -->
                    </div><!-- br-cart -->
                </div>

                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-tn-6">
                            {% include product.html  name="Gene Top in Mustard" price="62.00" image="img-demo/products/2.jpg" label="new" soldout="" %}
                        </div>

                        <div class="col-md-6 col-sm-6 col-tn-6">
                            {% include product.html  name="Parker crossbody bag" price="$ 192.99" sale="$456.00" image="img-demo/products/4.jpg" label="new" %}
                        </div>

                        <div class="col-md-6 col-sm-6 col-tn-6">
                            {% include product.html  name="Parker crossbody bag" price="$ 192.99" sale="$456.00" image="img-demo/products/5.jpg" label="new"  %}
                        </div>

                        <div class="col-md-6 col-sm-6 col-tn-6">
                            {% include product.html  name="Parker crossbody bag" price="$ 192.99" sale="$456.00" image="img-demo/products/6.jpg" label="new"  %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3 col-sm-6">
                    {% include product.html  name="Gene Top in Mustard" price="62.00" image="img-demo/products/7.jpg" label="hot"  %}
                </div>

                <div class="col-md-3 col-sm-6">
                    {% include product.html  name="Parker crossbody bag" price="$ 192.99" sale="$456.00" image="img-demo/products/8.jpg"  %}
                </div>

                <div class="col-md-3 col-sm-6">
                    {% include product.html  name="Parker crossbody bag" price="$ 192.99" sale="$456.00" image="img-demo/products/9.jpg" label="popular"  %}
                </div>

                <div class="col-md-3 col-sm-6">
                    {% include product.html  name="Parker crossbody bag" price="$ 192.99" sale="$456.00" image="img-demo/products/10.jpg" %}
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 col-md-push-6">
                     <div class="inner-title br-card--quad-h2 br-card-categories__item br-card-big">
                        <div class="br-card__media">
                            <div class="br-card__thumb">
                                <a href="#">
                                    <img src="img-demo/banners/banner-cat5.jpg" alt="">
                                </a>

                                <div class="br-card__main">
                                    <h2 class="br-card-categories__title text-uppercase">shop <br><span>Accessories</span></h2>
                                    <a href="#" class="btn btn-primary">shop now</a>
                                </div>
                            </div>
                        </div><!-- br-card__media -->
                    </div><!-- br-cart -->
                </div>

                <div class="col-md-6 col-md-pull-6">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-tn-6">
                            {% include product.html  name="Gene Top in Mustard" price="62.00" image="img-demo/products/11.jpg" label="new"  %}
                        </div>

                        <div class="col-md-6 col-sm-6 col-tn-6">
                            {% include product.html  name="Parker crossbody bag" price="$ 192.99" sale="$456.00" image="img-demo/products/12.jpg" label="new"  %}
                        </div>

                        <div class="col-md-6 col-sm-6 col-tn-6">
                            {% include product.html  name="Parker crossbody bag" price="$ 192.99" sale="$456.00" image="img-demo/products/13.jpg" label="new"  %}
                        </div>

                        <div class="col-md-6 col-sm-6 col-tn-6">
                            {% include product.html  name="Parker crossbody bag" price="$ 192.99" sale="$456.00" image="img-demo/products/14.jpg" label="new"  %}
                        </div>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-md-3 col-sm-6">
                    {% include product.html  name="Gene Top in Mustard" price="62.00" image="img-demo/products/15.jpg" label="new"  %}
                </div>

                <div class="col-md-3 col-sm-6">
                    {% include product.html  name="Parker crossbody bag" price="$ 192.99" sale="$456.00" image="img-demo/products/16.jpg" label="new"  %}
                </div>

                <div class="col-md-3 col-sm-6">
                    {% include product.html  name="Parker crossbody bag" price="$ 192.99" sale="$456.00" image="img-demo/products/17.jpg" label="new"  %}
                </div>

                <div class="col-md-3 col-sm-6">
                    {% include product.html  name="Parker crossbody bag" price="$ 192.99" sale="$456.00" image="img-demo/products/18.jpg" label="new"  %}
                </div>
            </div>

            <div class="row mb-30">
                <div class="col-md-6">
                     <div class="inner-title br-card--quad-h2 br-card-categories__item br-card-big">
                        <div class="br-card__media">
                            <div class="br-card__thumb">
                                <a href="#">
                                    <img src="img-demo/banners/banner-cat6.jpg" alt="">
                                </a>

                                <div class="br-card__main">
                                    <h2 class="br-card-categories__title text-uppercase">shop <br><span>Clothes</span></h2>
                                    <a href="#" class="btn btn-primary">shop now</a>
                                </div>
                            </div>
                        </div><!-- br-card__media -->
                    </div><!-- br-cart -->
                </div>

                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-tn-6">
                            {% include product.html  name="Gene Top in Mustard" price="62.00" image="img-demo/products/19.jpg" label="new"  %}
                        </div>

                        <div class="col-md-6 col-sm-6 col-tn-6">
                            {% include product.html  name="Parker crossbody bag" price="$ 192.99" sale="$456.00" image="img-demo/products/20.jpg" label="new"  %}
                        </div>

                        <div class="col-md-6 col-sm-6 col-tn-6">
                            {% include product.html  name="Parker crossbody bag" price="$ 192.99" sale="$456.00" image="img-demo/products/21.jpg" label="new"  %}
                        </div>

                        <div class="col-md-6 col-sm-6 col-tn-6">
                            {% include product.html  name="Parker crossbody bag" price="$ 192.99" sale="$456.00" image="img-demo/products/22.jpg" label="new"  %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="text-center">
                <a href="#" class="btn btn-outline btn-default btn-lg">shop new arrivals</a>
            </div>
        </div>
    </section>
</main>
