---
layout: default
title: Blog Text Only Style
breadcrumbs:
    - Blog Text Only Style
---

{% include page-title.html background="8" class="mb-0" %}

<article class="post post-textonly">

    <div class="entry-container">
        <div class="post-time">jun 24.2015</div><!-- post-time -->

        <h2 class="entry-title"><a href="#">Fashion Collection Blue Color</a></h2>

        <div class="entry-meta">
            <ul class="entry-meta-list">
                <li class="light">Posted by <a href="#">Brilliant</a> in the <a href="#">Women</a></li>
                <li><a class="link-comment" href="#">16 Comments</a></li>
                <li><a class="link-like" href="#">20 Like</a></li>
            </ul><!-- .entry-meta-list -->
        </div><!-- entry-meta -->
    </div><!-- entry-container -->
</article><!-- post -->

<article class="post post-textonly">

    <div class="entry-container">
        <div class="post-time">jun 24.2015</div><!-- post-time -->

        <h2 class="entry-title"><a href="#">Fashion Collection For Women</a></h2>

        <div class="entry-meta">
            <ul class="entry-meta-list">
                <li class="light">Posted by <a href="#">Brilliant</a> in the <a href="#">Women</a></li>
                <li><a class="link-comment" href="#">16 Comments</a></li>
                <li><a class="link-like" href="#">20 Like</a></li>
            </ul><!-- .entry-meta-list -->
        </div><!-- entry-meta -->
    </div><!-- entry-container -->
</article><!-- post -->

<article class="post post-textonly">

    <div class="entry-container">
        <div class="post-time">jun 24.2015</div><!-- post-time -->

        <h2 class="entry-title"><a href="#">Fashion Collection For Women</a></h2>

        <div class="entry-meta">
            <ul class="entry-meta-list">
                <li class="light">Posted by <a href="#">Brilliant</a> in the <a href="#">Women</a></li>
                <li><a class="link-comment" href="#">16 Comments</a></li>
                <li><a class="link-like" href="#">20 Like</a></li>
            </ul><!-- .entry-meta-list -->
        </div><!-- entry-meta -->
    </div><!-- entry-container -->
</article><!-- post -->

<article class="post post-textonly">

    <div class="label-sticky">
        <i class="fa fa-star"></i>
    </div><!-- .label-sticky -->

    <div class="entry-container">
        <div class="post-time">jun 24.2015</div><!-- post-time -->

        <h2 class="entry-title"><a href="#">Fashion Collection For Women <br> / Summer 2016</a></h2>

        <div class="entry-meta">
            <ul class="entry-meta-list">
                <li class="light">Posted by <a href="#">Brilliant</a> in the <a href="#">Women</a></li>
                <li><a class="link-comment" href="#">16 Comments</a></li>
                <li><a class="link-like" href="#">20 Like</a></li>
            </ul><!-- .entry-meta-list -->
        </div><!-- entry-meta -->
    </div><!-- entry-container -->
</article><!-- post -->

<article class="post post-textonly">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="entry-container">
                    <h2 class="entry-title sr-only"><a href="#">Fashion Collection For Women <br> / Summer 2016</a></h2>

                    <div class="entry-quote">
                        <blockquote>
                            <p>In a free hour, when our power of choice is untrammelled and when nothing prevents our being able</p>
                            <small>Raymond Cruz</small>
                        </blockquote>
                    </div><!-- entry-quote -->

                    <div class="entry-meta">
                        <ul class="entry-meta-list">
                            <li class="light">Posted by <a href="#">Brilliant</a> in the <a href="#">Women</a></li>
                            <li><a class="link-comment" href="#">16 Comments</a></li>
                            <li><a class="link-like" href="#">20 Like</a></li>
                        </ul><!-- .entry-meta-list -->
                    </div><!-- entry-meta -->
                </div><!-- entry-container -->
            </div>
        </div>
    </div>
</article><!-- post -->
