---
layout: blog
title: Blog No Sidebar
sidebar: none
breadcrumbs:
    - Blog No Sidebar
---

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="form-search mb-40">
            <form action="index.html">
                <label class="sr-only"  >search</label>
                <input name="search" type="text" placeholder="Search your entry here..." value="">

                <button type="button"><i class="fa fa-search" aria-hidden="true"></i></button>
            </form>
        </div>

        <article class="post post--standard">
            <header class="entry-header">

                <div class="entry-media entry-media-thumbnail">
                    <a href="#">
                        <img src="img-demo/blogs/1.jpg" alt="">
                    </a><!-- br-img -->
                </div><!-- .entry-media -->
            </header><!-- entry-header -->

            <div class="entry-container">
                <div class="post-time">jun 24.2015</div><!-- post-time -->

                <h2 class="entry-title"><a href="#">Stand Post</a></h2>

                <div class="entry-meta">
                    <ul class="entry-meta-list">
                        <li class="light">Posted by <a href="#">Brilliant</a> in the <a href="#">Women</a></li>
                        <li><a class="link-comment" href="#">16 Comments</a></li>
                        <li><a class="link-like" href="#">20 Like</a></li>
                    </ul><!-- .entry-meta-list -->
                </div><!-- entry-meta -->
            </div><!-- entry-container -->
        </article>

        <article class="post post--sticky">
            <header class="entry-header">
                <div class="label-sticky">
                    <i class="fa fa-star"></i>
                </div><!-- .label-sticky -->

                <div class="entry-media entry-media-thumbnail">
                    <a href="#">
                        <img src="img-demo/blogs/2.jpg" alt="">
                    </a><!-- br-img -->
                </div><!-- .entry-media -->
            </header><!-- entry-header -->

            <div class="entry-container">
                <div class="post-time">jun 24.2015</div><!-- post-time -->

                <h2 class="entry-title"><a href="#">Sticky Post</a></h2>

                <div class="entry-meta">
                    <ul class="entry-meta-list">
                        <li class="light">Posted by <a href="#">Brilliant</a> in the <a href="#">Women</a></li>
                        <li><a class="link-comment" href="#">16 Comments</a></li>
                        <li><a class="link-like" href="#">20 Like</a></li>
                    </ul><!-- .entry-meta-list -->
                </div><!-- entry-meta -->
            </div><!-- entry-container -->
        </article>

        <article class="post post--video">
            <header class="entry-header">

                <div class="entry-media entry-media-oembed">
                    <a href="https://vimeo.com/56962340" class="popup-video">
                        <img src="img-demo/blogs/3.jpg" alt="">

                        <span class="br-play">
                            <span class="sr-only">Play</span>
                            <i class="fa fa-play-circle" aria-hidden="true"></i>
                        </span>
                    </a><!-- br-img -->
                </div><!-- .entry-media -->
            </header><!-- entry-header -->

            <div class="entry-container">
                <div class="post-time">jun 24.2015</div><!-- post-time -->

                <h2 class="entry-title"><a href="#">Video Post</a></h2>

                <div class="entry-meta">
                    <ul class="entry-meta-list">
                        <li class="light">Posted by <a href="#">Brilliant</a> in the <a href="#">Women</a></li>
                        <li><a class="link-comment" href="#">16 Comments</a></li>
                        <li><a class="link-like" href="#">20 Like</a></li>
                    </ul><!-- .entry-meta-list -->
                </div><!-- entry-meta -->
            </div><!-- entry-container -->
        </article>

        <article class="post post--gallery br-slick-animation">
            <header class="entry-header">
                <div class="entry-media entry-media-gallery">
                    <div class="js-entry-gallery br-slick-white">
                        <div class="entry-gallery__item">
                            <img src="img-demo/blogs/4.jpg" alt="">
                        </div>

                        <div class="entry-gallery__item">
                            <img src="img-demo/blogs/3.jpg" alt="">
                        </div>

                        <div class="entry-gallery__item">
                            <img src="img-demo/blogs/1.jpg" alt="">
                        </div>
                    </div>
                </div><!-- .entry-media -->
            </header><!-- entry-header -->

            <div class="entry-container">
                <div class="post-time">jun 24.2015</div><!-- post-time -->

                <h2 class="entry-title"><a href="#">Gallery Picture Post</a></h2>

                <div class="entry-meta">
                    <ul class="entry-meta-list">
                        <li class="light">Posted by <a href="#">Brilliant</a> in the <a href="#">Women</a></li>
                        <li><a class="link-comment" href="#">16 Comments</a></li>
                        <li><a class="link-like" href="#">20 Like</a></li>
                    </ul><!-- .entry-meta-list -->
                </div><!-- entry-meta -->
            </div><!-- entry-container -->
        </article><!-- post -->

        <div class="text-center br-pagination">
            <ul class="pagination">
                <li><a href="#"><i class="fa fa-arrow-left"></i></a></li>
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#"><i class="fa fa-arrow-right"></i></a></li>
            </ul>
        </div>
    </div>
</div>
