---
title: Brand Brilliant
layout: default
breadcrumbs:
    - Brand Brilliant
---

<main class="site-main">
    {% include page-title-classic.html class="mb-0" background="13" %}


        <section>
            {% include filter.html product-grid="" %}

            <div class="container">
                <div class="row">

                    <div class="col-md-9">
                        <div class="row">
                            <div class="col-md-4 col-sm-6 col-tn-6">
                                {% include product.html  name="Glasses Dramos " price="168.00" image="img-demo/products/23.jpg" label="new"  %}
                            </div>

                            <div class="col-md-4 col-sm-6 col-tn-6">
                                {% include product.html  name="Glasses Dramos " price="168.00" image="img-demo/products/1.jpg" label="new"  %}
                            </div>

                            <div class="col-md-4 col-sm-6 col-tn-6">
                                {% include product.html  name="Glasses Dramos " price="168.00" image="img-demo/products/24.jpg" label="new"  %}
                            </div>

                            <div class="col-md-4 col-sm-6 col-tn-6">
                                {% include product.html  name="Glasses Dramos " price="168.00" image="img-demo/products/3.jpg" label="new"  %}
                            </div>

                            <div class="col-md-4 col-sm-6 col-tn-6">
                                {% include product.html  name="Glasses Dramos " price="168.00" image="img-demo/products/25.jpg" label="new"  %}
                            </div>

                            <div class="col-md-4 col-sm-6 col-tn-6">
                                {% include product.html  name="Glasses Dramos " price="168.00" image="img-demo/products/26.jpg" label="new"  %}
                            </div>

                            <div class="col-md-4 col-sm-6 col-tn-6">
                                {% include product.html  name="Glasses Dramos " price="168.00" image="img-demo/products/27.jpg" label="new"  %}
                            </div>

                            <div class="col-md-4 col-sm-6 col-tn-6">
                                {% include product.html  name="Glasses Dramos " price="168.00" image="img-demo/products/28.jpg" label="new"  %}
                            </div>

                            <div class="col-md-4 col-sm-6 col-tn-6">
                                {% include product.html  name="Glasses Dramos " price="168.00" image="img-demo/products/29.jpg" label="new"  %}
                            </div>

                            <div class="col-md-4 col-sm-6 col-tn-6">
                                {% include product.html  name="Glasses Dramos " price="168.00" image="img-demo/products/30.jpg" label="new"  %}
                            </div>

                            <div class="col-md-4 col-sm-6 col-tn-6">
                                {% include product.html  name="Glasses Dramos " soldout="" price="168.00" image="img-demo/products/31.jpg" label="new"  %}
                            </div>

                            <div class="col-md-4 col-sm-6 col-tn-6">
                                {% include product.html  name="Glasses Dramos " price="168.00" image="img-demo/products/32.jpg" label="new"  %}
                            </div>

                        </div>

                        <div class="text-center br-pagination mb-35">
                            <ul class="pagination">
                                <li><a href="#"><i class="fa fa-arrow-left"></i></a></li>
                                <li class="active"><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li><a href="#"><i class="fa fa-arrow-right"></i></a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-3">
                        {% include sidebar-product.html %}
                    </div>
                </div>
            </div>
        </section>

</main>
