---
title: Checkout
layout: default
breadcrumbs:
    - Checkout
---

<main>

    {% include page-title.html background="3" %}

    <section class="section pb-60">
        <div class="container">
            <div class="text-alert mb-40">
                <p>Returning customer? <a href="#" class="bold">Click here to login</a></p>
            </div><!-- .text-alert -->

            <div class="row">
                <div class="col-md-6 pb-40">
                    <div class="br-form-checkout">
                        <h2 class="text-uppercase fz-30 mb-20">Billing Details</h2>

                        <div class="form-group">
                            <label for="country">Country <sup>*</sup></label>
                            <select name="country" id="country" class="form-control dark">
                                <!-- option -->
                            </select>
                        </div>
                        <!-- /.form-group -->

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="first_name">First Name <sup>*</sup></label>
                                    <input type="text" class="form-control dark" id="first_name" placeholder="First Name">
                                </div>
                                <!-- /.form-group -->
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="last_name">Last Name <sup>*</sup></label>
                                    <input type="text" class="form-control dark" id="last_name" placeholder="Last Name">
                                </div>
                                <!-- /.form-group -->
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="company-name">Company Name</label>
                            <input type="text" class="form-control dark" id="company-name" placeholder="Company Name">
                        </div>
                        <!-- /.form-group -->

                        <div class="form-group">
                            <label for="address">Address*</label>
                            <input type="text" class="form-control dark" id="address" placeholder="Street Address">
                        </div>
                        <!-- /.form-group -->

                        <div class="form-group">
                            <label for="address_2" class="sr-only"></label>
                            <input type="text" class="form-control dark" id="address_2" placeholder="Apartment, suite, unit etc. (Optional)">
                        </div>
                        <!-- /.form-group -->

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="street-address">Town / City <sup>*</sup>
                                    </label>
                                    <input type="text" class="form-control dark" id="street-address" placeholder="Town / City">
                                </div>
                                <!-- /.form-group -->
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="town_country">Country <sup>*</sup>
                                    </label>
                                    <input type="text" class="form-control dark" id="town_country" placeholder="Country">
                                </div>
                                <!-- /.form-group -->
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="email_address">Email Address <sup>*</sup>
                                    </label>
                                    <input type="text" class="form-control dark" id="email_address">
                                </div>
                                <!-- /.form-group -->
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="phone">Phone <sup>*</sup>
                                    </label>
                                    <input type="text" class="form-control dark" id="phone">
                                </div>
                                <!-- /.form-group -->
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="order-notes">Order Notes</label>
                            <textarea name="order-notes" id="order-notes" class="form-control dark" rows="3" placeholder="Notes about your order, eg. special notes for delivery"></textarea>
                        </div>
                        <!-- /.form-group -->

                        <label class="c-input c-checkbox dark">
                            <input type="checkbox">
                            <span class="c-indicator"></span>
                            Create an account?
                        </label>
                    </div><!-- .br-form-checkout -->
                </div>

                <div class="col-md-5 col-md-offset-1 pb-40">
                    <div class="payment-right">
                        <h2 class="text-uppercase fz-30 mb-30">Your payment details</h2>

                        <div class="list-product-mini">
                            <ul class="list-style-none">
                                <li>
                                    <div class="product-mini">
                                        <a href="#" class="product-mini__img">
                                            <img src="img-demo/products/mini-1.jpg" alt="">
                                            <span>1</span>
                                        </a><!-- .product-mini__img -->
                                        <div class="product-mini__body">
                                            <h4 class="br-product__name"><a href="#" tabindex="0">Stretch toothpick jean in ecru</a></h4>
                                            <span class="br-product__price">$ 110.00 x 1</span>
                                        </div><!-- .product-mini__body -->

                                        <div class="product-mini__button">
                                            <a href="#" class="close"><i class="fa fa-times" aria-hidden="true"></i></a>
                                        </div><!-- .product-mini__button -->
                                    </div><!-- .product-mini -->
                                </li>

                                <li>
                                    <div class="product-mini">
                                        <a href="#" class="product-mini__img">
                                            <img src="img-demo/products/mini-2.jpg" alt="">
                                            <span>3</span>
                                        </a><!-- .product-mini__img -->
                                        <div class="product-mini__body">
                                            <h4 class="br-product__name"><a href="#" tabindex="0">Stretch toothpick jean in ecru</a></h4>
                                            <span class="br-product__price">$294.00 x 3</span>
                                        </div><!-- .product-mini__body -->

                                        <div class="product-mini__button">
                                            <a href="#" class="close"><i class="fa fa-times" aria-hidden="true"></i></a>
                                        </div><!-- .product-mini__button -->
                                    </div><!-- .product-mini -->
                                </li>

                                <li>
                                    <div class="product-mini">
                                        <a href="#" class="product-mini__img">
                                            <img src="img-demo/products/mini-3.jpg" alt="">
                                            <span>6</span>
                                        </a><!-- .product-mini__img -->
                                        <div class="product-mini__body">
                                            <h4 class="br-product__name"><a href="#" tabindex="0">Stretch toothpick jean in ecru</a></h4>
                                            <span class="br-product__price">$ 297.00 x 6</span>
                                        </div><!-- .product-mini__body -->

                                        <div class="product-mini__button">
                                            <a href="#" class="close"><i class="fa fa-times" aria-hidden="true"></i></a>
                                        </div><!-- .product-mini__button -->
                                    </div><!-- .product-mini -->
                                </li>
                            </ul>

                            <div class="total-product overflow-hidden mb-40">
                                <h5 class="text-uppercase">

                                    <span class="pull-left ">TOTAL Price</span>

                                    <span class="pull-right">$ 257.50</span>

                                </h5>
                            </div>
                        </div>

                        <div class="alert alert-dark">
                            <p>You have a coupon? <strong><a href="#" title="">Click here to enter your code</a></strong>
                            </p>
                        </div>
                        <!-- /.alert -->

                        <div class="cart-total mb-70">
                            <table>
                                <tbody>
                                    <tr class="cart-subtotal">
                                        <th>Cart Subtotal:</th>
                                        <td>$128</td>
                                    </tr>
                                    <tr class="shipping">
                                        <th>Shipping:</th>
                                        <td>Free Shipping</td>
                                    </tr>
                                    <tr class="order-total">
                                        <th>Order Total:</th>
                                        <td><strong><span class="amount">$128</span></strong>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.cart-total -->

                        <h2 class="text-uppercase fz-30 mb-30">payment method</h2>

                        <div class="mb-40">

                            <div class="br-checkbox mb-30">
                                <div class="mb-15">
                                    <label class="c-input c-checkbox dark">
                                        <input type="checkbox">
                                        <span class="c-indicator"></span>
                                        Direct Bank Transfer
                                    </label>
                                </div>

                                <p>Make your payment directly into our bank account. Please use your Order ID as the payment reference. Your order won’t be shipped until the funds have cleared in our account.</p>
                            </div><!-- .br-checkbox -->

                            <div class="pb-20">
                                <label class="c-input c-checkbox dark">
                                    <input type="checkbox">
                                    <span class="c-indicator"></span>
                                    Cheque Payment
                                </label>
                            </div>

                            <div class="pb-20">
                                <label class="c-input c-checkbox dark">
                                    <input type="checkbox">
                                    <span class="c-indicator"></span>
                                    Credit Card
                                </label>
                            </div>

                            <ul class="list-payments list-inline">
                                <li>
                                    <a href="#" title="">
                                        <img src="img-demo/utils/american-express.png" alt="">
                                    </a>
                                </li>

                                <li>
                                    <a href="#" title="">
                                        <img src="img-demo/utils/mastercard.png" alt="">
                                    </a>
                                </li>

                                <li>
                                    <a href="#" title="">
                                        <img src="img-demo/utils/moneybookers.png" alt="">
                                    </a>
                                </li>

                                <li>
                                    <a href="#" title="">
                                        <img src="img-demo/utils/paypal.png" alt="">
                                    </a>
                                </li>

                                <li>
                                    <a href="#" title="">
                                        <img src="img-demo/utils/visa.png" alt="">
                                    </a>
                                </li>

                                <li>
                                    <a href="#" title="">
                                        <img src="img-demo/utils/2chekout.png" alt="">
                                    </a>
                                </li>
                            </ul>

                        </div>
                        <!-- /.cart-checkboxes -->

                        <div class="wc-proceed-to-checkout">
                            <button class="btn btn-lg btn-primary">Check out</button>
                        </div>
                        <!-- /.wc-proceed-to-checkout -->

                    </div>
                </div>
            </div>
        </div>
    </section>

</main><!-- .site-about -->
