---
title: Comming soon
layout:
---

<!DOCTYPE html>
<html lang="en">
<head>
    {% include head.html %}
</head>
<body>

    <div class="stite-br">
        <div class="br-commingsoon text-center bg-comming-soon">
            <div class="container">
                <div class="br-commingsoon__content">
                    <a href="index.html" class="br-logo">
                        <img src="img/logo.png" alt="">
                    </a>

                    <div class="br-commingsoon__main">
                        <h1>Comming Soon</h1>
                        <p class="mb-60">Have no fear, we are lauching soon. We just have to do it and cross it</p>

                        <div class="br-clock-wrapper mb-80">
                            <div class="br-countdown"></div>
                        </div>

                        <h5 class="uppercase">follow us on</h5>
                        <ul class="nav-social">
                            <li>
                                <a href="#" target="_blank">
                                    <i class="fa fa-instagram"></i>
                                    <span class="sr-only">Google Plus</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank">
                                    <i class="fa fa-facebook"></i>
                                    <span class="sr-only">Facebook</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank">
                                    <i class="fa fa-pinterest"></i>
                                    <span class="sr-only">Pinterest</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" data-toggle="tooltip" target="_blank" data-original-title="" title="">
                                    <i class="fa fa-twitter"></i>
                                    <span class="sr-only">Twitter</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank">
                                    <i class="fa fa-tumblr"></i>
                                    <span class="sr-only">Tumblr</span>
                                </a>
                            </li>
                        </ul><!-- nav-social -->
                    </div><!-- br-commingsoon__main -->
                </div><!-- br-commingsoon__content -->
            </div>
        </div><!-- br-commingsoon -->
    </div><!-- stite-br -->

    {% include scripts.html %}
</body>
</html>
