---
title: Contact
layout: default
map: true
breadcrumbs:
    - Contact
---

<main class="site-contact">

    {% include page-title.html background="9" %}

    <section class="section">
        <div class="container">
            <div class="pb-80 br-bb">
                <div class="mb-70">
                    <img src="img-demo/utils/contact.jpg" alt="">
                </div>

                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <blockquote class="blockquote-style mb-40">
                            <p class="mb-20">A store for people who want to <br> buy less, but better</p>
                            <small>CEO Brilliant</small>
                        </blockquote>
                    </div>
                </div>

                <div class="row mb-50">
                    <div class="col-md-4">
                        <p class="dark">But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful.</p>
                    </div>

                    <div class="col-md-4">
                        <p class="dark">Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but occasionally circumstances occur in which toil and pain can procure him some great pleasure. To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it? But who has any right to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences, or one who avoids a pain that produces no resultant pleasure?</p>
                    </div>

                    <div class="col-md-4">
                        <p class="dark">The key to more success is to have a lot of pillows. In life you have to take the trash out, if you have trash in your life, take it out, throw it away, get rid of it, major key. How’s business? Boomin. Hammock talk come soon. I’m up to something. Mogul talk. Find peace, life is like a water fall, you’ve gotta flow. You see that bamboo behind me though, you see that bamboo? Ain’t nothin’ like bamboo. Bless up. It’s important to use cocoa butter.</p>
                    </div>
                </div>

                <div class="text-center">
                    <a href="#" class="btn btn-default w-160">more about us</a>
                </div>
            </div>

            <div class="pt-80 pb-70 br-bb">
                <div class="row">
                    <div class="col-md-2">
                        <h2 class="h1 text-uppercase">store</h2>
                    </div>

                    <div class="col-md-4">
                        <div class="br-contact-info">
                            <div class="mb-40 pt-10">
                                <select>
                                    <option>Brilliant Store in Columbia</option>
                                    <option>Brilliant Store in Tokyo</option>
                                    <option>Brilliant Store in UK</option>
                                    <option>Brilliant Store in Canada</option>
                                </select>
                            </div>


                            <div class="br-contact-info-group mb-20">
                                <h6 class="text-uppercase mb-5">address</h6>

                                <p class="fz-16 dark">1193 West Ray Road Chandler, Arizona</p>
                            </div><!-- .br-contact-info-group -->

                            <div class="br-contact-info-group mb-20">
                                <h6 class="text-uppercase mb-5">tell phone</h6>

                                <p class="fz-16 dark">+603-314-4692</p>
                            </div><!-- .br-contact-info-group -->

                            <div class="br-contact-info-group mb-20">
                                <h6 class="text-uppercase mb-5">Fax</h6>

                                <p class="fz-16 dark">+914-428-1193</p>
                            </div><!-- .br-contact-info-group -->

                            <div class="br-contact-info-group mb-20">
                                <h6 class="text-uppercase mb-5">email</h6>

                                <a href="brilliantunique@gmail.com" class="fz-16 email">brilliantunique@gmail.com</a>
                            </div><!-- .br-contact-info-group -->

                            <div class="br-contact-info-group mb-20">
                                <h6 class="text-uppercase mb-5">social connect</h6>

                                <ul class="nav-social">
                                    <li>
                                        <a href="#" target="_blank">
                                            <i class="fa fa-instagram"></i>
                                            <span class="sr-only">Google Plus</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank">
                                            <i class="fa fa-facebook"></i>
                                            <span class="sr-only">Facebook</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank">
                                            <i class="fa fa-pinterest"></i>
                                            <span class="sr-only">Pinterest</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" data-toggle="tooltip" target="_blank" data-original-title="" title="">
                                            <i class="fa fa-twitter"></i>
                                            <span class="sr-only">Twitter</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank">
                                            <i class="fa fa-tumblr"></i>
                                            <span class="sr-only">Tumblr</span>
                                        </a>
                                    </li>
                                </ul>
                            </div><!-- .br-contact-info-group -->

                        </div><!-- .br-contact-info -->
                    </div>

                    <div class="col-md-6">
                        <h2 class="h1 text-uppercase mb-20">get it touch</h2>

                        <form action="index.html" method="post" class="form-contact">
                            <div class="row">
                                <div class="col-md-6">
                                    <p>
                                        <label class="sr-only">Name</label>
                                        <input id="author" name="author" type="text" placeholder="Name" value="">
                                    </p>
                                </div>

                                <div class="col-md-6">
                                    <p>
                                        <label class="sr-only">Email</label>
                                        <input name="email" type="email" placeholder="Email" value="">
                                    </p>
                                </div>
                            </div>

                            <p>
                                <label class="sr-only">We can help you?</label>
                                <input name="text" type="text" placeholder="We can help you?" value="">
                            </p>

                            <p class="mb-30">
                                <label class="sr-only">Additional Detail</label>
                                <textarea  placeholder="Additional Detail"></textarea>
                            </p>

                            <p>
                                <input name="getittouch" type="submit" value="get it touch" class="submit btn-primary">
                            </p>
                        </form>
                    </div>
                </div>
            </div>

            <div class=" opening-hours pt-80">
                <div class="row">
                    <div class="col-md-2">
                        <h2 class="h1 text-uppercase">opening hours</h2>
                    </div>

                    <div class="col-md-4">
                        <table class="table table-hover table-opening">
                            <thead>
                                <tr>
                                    <th><span class="h5 text-uppercase mb-0">Days</span></th>
                                    <th><span class="h5 text-uppercase mb-0">hours</span></th>
                                </tr>
                            </thead>
                            <tbody class="fz-16">
                                <tr>
                                    <td>Monday</td>
                                    <td class="dark">Closed</td>
                                </tr>

                                <tr>
                                    <td>Tuesday</td>
                                    <td class="dark">11.00am   -  07.00pm</td>
                                </tr>

                                <tr>
                                    <td>Wednesday</td>
                                    <td class="dark">11.00am   -  07.00pm</td>
                                </tr>

                                <tr>
                                    <td>Thursday</td>
                                    <td class="dark">11.00am   -  07.00pm</td>
                                </tr>

                                <tr>
                                    <td>Friday</td>
                                    <td class="dark">11.00am   -  07.00pm</td>
                                </tr>

                                <tr>
                                    <td>Satuday</td>
                                    <td class="dark">11.00am   -  07.00pm</td>
                                </tr>

                                <tr>
                                    <td>Sunday</td>
                                    <td class="dark">11.00am   -  05.00pm</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="col-md-6">
                        <div id="contact-map" data-init="gmap" data-lat="33.3209127" data-lng="-111.8005377" data-zoom="14" data-style="gray">
                            <div data-map="marker" data-lat="33.3209127" data-lng="-111.8005377" data-icon="img/logo-contact.png">Brilliant Store in UK</div>
                        </div>

                        <script>jQuery(function($) { plaseSetGmap('#contact-map'); });</script>
                    </div>
                </div>
            </div><!-- .opening-hours -->
        </div>
    </section>
</main><!-- .site-about -->
