---
layout: default
title: CustomeSay
breadcrumbs:
    - Customer Say
---

<main class="site-main">
    {% include page-title-classic.html background="2" %}

    <section class="section pt-30">
        <div class="container">
            <div class="js-masonry-testimonial masonry-testimonial mb-20">

                {% include el.html id="testimonial-classic" %}

            </div>

            <div class="text-center">
                <a href="#" class="btn btn-default">view more</a>
            </div>
        </div>
    </section>
</main>
