---
title: HomePage
layout: default
---

<main class="site-main site-homepage">

    <section>
        <div class="js-slide-banner-full-1 br-slick-white br-slick-animation">

            <div class="slide-banner-full">
                <div class="br-background bg-slide-6">
                    <div class="slide-banner-full-content slide-banner-slide-6">
                        <div class="container">
                            <span class="fz-20 dark uppercase mb-10">LOOKBOOK FASHION 2016</span>
                            <h2 class="font-secondary mb-85 pl-md-60">Spring <span>&amp;</span> Summer</h2>

                            <a href="#" class="btn btn-primary">shop now</a>
                        </div>
                    </div><!-- .slide-banner-content -->
                </div>
            </div><!-- .slide-banner-full -->

            <div class="slide-banner-full">
                <div class="br-background bg-slide-3">
                    <div class="slide-banner-full-content slide-banner-slide-3">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-5 col-md-offset-6">
                                    <h2 class="font-secondary">Native</h2>
                                </div>

                                <div class="col-md-6 col-md-offset-4">
                                    <h2 class="font-secondary mb-30">Fashion</h2>
                                </div>

                                <div class="col-md-4 col-md-offset-6">
                                    <span class="fz-20 font-third dark">Colection items form brilliant</span>
                                </div>
                            </div>
                        </div>
                    </div><!-- .slide-banner-content -->
                </div>
            </div><!-- .slide-banner-full -->

            <div class="slide-banner-full">
                <div class="br-background bg-slide-5">
                    <div class="slide-banner-full-content slide-banner-slide-5">
                        <div class="container">
                            <img class="mb-20" src="img-demo/bg-slides/icon-slide.png" alt="">

                            <span class="fz-20 uppercase white mb-10">new products for</span>

                            <h2 class="font-secondary white mb-30">Winter Mountaineering</h2>

                            <span class="fz-20 font-four white mb-60">The latest products for the long day of climbing</span>

                            <a href="#" class="btn btn-primary">shop now</a>
                        </div>
                    </div><!-- .slide-banner-content -->
                </div>
            </div><!-- .slide-banner-full -->

            <div class="slide-banner-full">
                <div class="br-background bg-slide-4">
                    <div class="slide-banner-full-content slide-banner-slide-4">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6">
                                    <span class="fz-20 dark uppercase mb-10">Collection items</span>
                                    <h2 class="font-secondary mb-50">Short Spring <br> Brilliant</h2>

                                    <a href="#" class="btn btn-default">view more</a>
                                    <a href="#" class="btn btn-primary">add to cart</a>
                                </div>
                            </div>
                        </div>
                    </div><!-- .slide-banner-content -->
                </div>
            </div><!-- .slide-banner-full -->

        </div>
    </section>

    <section class="pt-md-20 pb-md-20 pb-40">
        <div class="br-policy">
            <div class="container">
                <div class="br-policy__item">
                    <div class="br-policy__icon">
                        <i class="br br-car"></i>
                    </div> <!-- End .br-policy__icon -->
                    <div class="br-policy__text">
                        <h5 class="text-uppercase mb-0">Free shipping</h5>
                        <span>Free returns &amp; exchanges</span>
                    </div> <!-- End br-policy__text -->
                </div> <!-- End br-policy__item  -->

                <div class="br-policy__item">
                    <div class="br-policy__icon">
                        <i class="br br-money"></i>
                    </div> <!-- End .br-policy__icon -->
                    <div class="br-policy__text">
                        <h5 class="text-uppercase mb-0">15 Days returns</h5>
                        <span>When order over $25</span>
                    </div> <!-- End br-policy__text -->
                </div> <!-- End br-policy__item  -->

                <div class="br-policy__item">
                    <div class="br-policy__icon">
                        <i class="br br-clock"></i>
                    </div> <!-- End .br-policy__icon -->
                    <div class="br-policy__text">
                        <h5 class="text-uppercase mb-0">support 24/7</h5>
                        <span>When order over $25</span>
                    </div> <!-- End br-policy__text -->
                </div> <!-- End br-policy__item  -->
            </div>
        </div>
    </section>

    <section class="pb-80">
        <div class="container">
            <div class="br-card-wrapper br-card-categories" data-gap="5">
                <div class="grid-sizer"></div>

                <div class="br-card inner-title br-card--quad-h2 br-card-categories__item">
                    <div class="br-card__media">
                        <div class="br-card__thumb">
                            <a href="#">
                                <img src="img-demo/banners/banner-cat1.jpg" alt="">
                            </a>

                            <div class="br-card__main">
                                <h2 class="br-card-categories__title text-uppercase">shop <br><span>Men</span></h2>
                                <a href="#" class="btn btn-primary">shop now</a>
                            </div>
                        </div>
                    </div><!-- br-card__media -->
                </div><!-- br-cart -->

                <div class="br-card br-card--quad-w2">
                    <div class="br-card__media">
                        <div class="br-card__thumb">
                            <a href="#">
                                <img src="img-demo/banners/banner-1.jpg" alt="">
                            </a>
                        </div>
                    </div><!-- br-card__media -->
                </div><!-- br-cart -->

                <div class="br-card br-card--quad-h2 inner-title br-card-categories__item">
                    <div class="br-card__media">
                        <div class="br-card__thumb">
                            <a href="#">
                                <img src="img-demo/banners/banner-cat2.jpg" alt="">
                            </a>

                            <div class="br-card__main">
                                <h2 class="br-card-categories__title text-uppercase">shop <br><span>Women</span></h2>
                                <a href="#" class="btn btn-primary">shop now</a>
                            </div>
                        </div>
                    </div><!-- br-card__media -->
                </div><!-- br-cart -->

                <div class="br-card br-card--quad">
                    <div class="br-card__media">
                        <div class="br-card__thumb">
                            <a href="#">
                                <img src="img-demo/banners/banner-disccount.jpg" alt="">
                            </a>
                        </div>
                    </div><!-- br-card__media -->
                </div><!-- br-cart -->

                <div class="br-card br-card--quad-h2 inner-title br-card-categories__item">
                    <div class="br-card__media">
                        <div class="br-card__thumb">
                            <a href="#">
                                <img src="img-demo/banners/banner-cat3.jpg" alt="">
                            </a>

                            <div class="br-card__main">
                                <h2 class="br-card-categories__title text-uppercase">shop <br><span>Kid</span></h2>
                                <a href="#" class="btn btn-primary">shop now</a>
                            </div>
                        </div>
                    </div><!-- br-card__media -->
                </div><!-- br-cart -->

                <div class="br-card br-card--quad">
                    <div class="br-card__media">
                        <div class="br-card__thumb">
                            <a href="#">
                                <img src="img-demo/banners/banner-lookbook-kid.jpg" alt="">
                            </a>
                        </div>
                    </div><!-- br-card__media -->
                </div><!-- br-cart -->

                <div class="br-card br-card--quad-w2">
                    <div class="br-card__media">
                        <div class="br-card__thumb">
                            <a href="#">
                                <img src="img-demo/banners/banner-2.jpg" alt="">
                            </a>
                        </div>
                    </div><!-- br-card__media -->
                </div><!-- br-cart -->

            </div>
        </div>
    </section>

    <section class="pb-110">
        <div class="container">
            <h2 class="br-title text-center">new arrivals</h2>

            <div class="row js-new-arrivals br-slick-white">
                <div class="col-md-3 col-sm-6 col-tn-6">
                    {% include product.html  name="Glasses Dramos " price="168.00" image="img-demo/products/33.jpg" label="new"  %}
                </div>

                <div class="col-md-3 col-sm-6 col-tn-6">
                    {% include product.html  name="Parker crossbody bag " price="98.00" image="img-demo/products/34.jpg" label="hot"  %}
                </div>

                <div class="col-md-3 col-sm-6 col-tn-6">
                    {% include product.html  name="Glasses Dramos " price="49.50" sale="60.00" image="img-demo/products/35.jpg" label="sale"  %}
                </div>

                <div class="col-md-3 col-sm-6 col-tn-6">
                    {% include product.html  name="Glasses Dramos " price="32.000" image="img-demo/products/36.jpg" label="popular,hot"  %}
                </div>

                <div class="col-md-3 col-sm-6 col-tn-6">
                    {% include product.html  name="Glasses Dramos " price="32.00" image="img-demo/products/30.jpg" label="hot"  %}
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="br-lookbook br-lookbook--moderm mb-140 mb-md-80">
                <button type="button" class="slick-prev slick-prev-1">Previous</button>
                <button type="button" class="slick-next slick-next-1">Next</button>

                <h2 class="br-title">Lookbook</h2>

                <div class="row">
                    <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1">

                        <div class="br-lookbook__gallery">
                            <div class="js-br-lookbook__gallery-moderm-1">
                                <div class="br-lookbook__item">
                                    <img src="img-demo/lookbook/7.jpg" alt="">
                                </div>

                                <div class="br-lookbook__item">
                                    <img src="img-demo/lookbook/1.jpg" alt="">
                                </div>
                            </div><!-- js-br-lookbook__gallery -->
                        </div><!-- br-lookbook__gallery -->

                        <div class="br-lookbook__main">

                            <h2 class="br-lookbook__name"><a href="#">Spring &amp; Summer 2016</a></h2><!-- br-lookbook__name -->

                            <div class="br-lookbook__description">
                                <p>The Spring Summer 2013 collection is based on a road trip through California. Drawing on the influences of surfer culture and the vibrant colours of the streets, the collection nods to a 50s aesthetic with clean tailored lines and more fitted silhouettes.</p>
                            </div>

                            <a href="#" class="btn btn-default">view colletion</a>
                        </div><!-- br-lookbook__main -->

                    </div>
                </div>
            </div><!-- br-lookbook -->
        </div>
    </section>

    <section class="section-banner pt-0 pb-80">
        <div class="container">
            <h1 class="sr-only"> banner </h1>
            <div class="row">
                <div class="col-md-6 mb-md-30">
                    <a href="#"><img src="img-demo/banners/banner-small-1.jpg" alt=""></a>
                </div>

                <div class="col-md-6 mb-md-30">
                    <a href="#"><img src="img-demo/banners/banner-small-2.jpg" alt=""></a>
                </div>
            </div>
        </div>
    </section><!-- section-banner -->

    <section class="pb-80">
        <div class="container">

            <div class="br-background-color-half">
                <h2 class="br-title text-center">Brilliant new’s</h2>

                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="row js-br-new">
                            <div class="col-md-6">
                                <article class="post post--standard">
                                    <header class="entry-header">

                                        <div class="entry-media entry-media-thumbnail">
                                            <a href="#">
                                                <img src="img-demo/blogs/8.jpg" alt="">
                                            </a><!-- br-img -->
                                        </div><!-- .entry-media -->
                                    </header><!-- entry-header -->

                                    <div class="entry-container">
                                        <div class="post-time">jun 12.2015</div><!-- post-time -->

                                        <h2 class="entry-title"><a href="#">Fashion Collection Blue Color</a></h2>

                                        <div class="entry-meta">
                                            <ul class="entry-meta-list">
                                                <li>Posted by <a href="#">Brilliant</a></li>
                                                <li><a class="link-comment" href="#">16 Comments</a></li>
                                            </ul><!-- .entry-meta-list -->
                                        </div><!-- entry-meta -->
                                    </div><!-- entry-container -->
                                </article><!-- post -->
                            </div>

                            <div class="col-md-6">
                                <article class="post post--standard">
                                    <header class="entry-header">

                                        <div class="entry-media entry-media-thumbnail">
                                            <a href="#">
                                                <img src="img-demo/blogs/9.jpg" alt="">
                                            </a><!-- br-img -->
                                        </div><!-- .entry-media -->
                                    </header><!-- entry-header -->

                                    <div class="entry-container">
                                        <div class="post-time">jun 08.2015</div><!-- post-time -->

                                        <h2 class="entry-title"><a href="#">Brilliant: We're the perfect team</a></h2>

                                        <div class="entry-meta">
                                            <ul class="entry-meta-list">
                                                <li>Posted by <a href="#">Brilliant</a></li>
                                                <li><a class="link-comment" href="#">12 Comments</a></li>
                                            </ul><!-- .entry-meta-list -->
                                        </div><!-- entry-meta -->
                                    </div><!-- entry-container -->
                                </article><!-- post -->
                            </div>

                            <div class="col-md-6">
                                <article class="post post--standard">
                                    <header class="entry-header">

                                        <div class="entry-media entry-media-thumbnail">
                                            <a href="#">
                                                <img src="img-demo/blogs/1.jpg" alt="">
                                            </a><!-- br-img -->
                                        </div><!-- .entry-media -->
                                    </header><!-- entry-header -->

                                    <div class="entry-container">
                                        <div class="post-time">jun 08.2015</div><!-- post-time -->

                                        <h2 class="entry-title"><a href="#">Brilliant: We're the perfect team</a></h2>

                                        <div class="entry-meta">
                                            <ul class="entry-meta-list">
                                                <li>Posted by <a href="#">Brilliant</a></li>
                                                <li><a class="link-comment" href="#">12 Comments</a></li>
                                            </ul><!-- .entry-meta-list -->
                                        </div><!-- entry-meta -->
                                    </div><!-- entry-container -->
                                </article><!-- post -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="pb-80">
        <div class="container">
            <div class="row">
                <div class="col-md-6 mb-md-30">
                    {% include el.html id="brand" %}
                </div>

                <div class="col-md-6 mb-md-30">
                    <div class="br-background-color">
                        <h2 class="br-title text-center">customer say</h2>

                        <!-- add class .br-slick-black to be style black arrow and background: transparent; -->
                        <div class="js-testimonial">

                            {% for testimonial in site.data.testimonials | limit: 3 %}
                                <div class="br-testimonial">
                                    <div class="br-testimonial__avatar">
                                        <img src="img-demo/avatars/{{ testimonial.avatar }}.jpg" alt="">
                                    </div> <!-- End .br-testimonial__avatar -->

                                    <div class="br-testimonial__main">
                                        <div class="br-testimonial__say">
                                            <p>{{ testimonial.content }}</p>
                                        </div> <!-- End .br-testimonial__say -->

                                        <h5 class="br-testimonial__name">{{ testimonial.name }}</h5>
                                    </div> <!-- End .br-testimonial__main -->
                                </div> <!-- End .br-testimonial -->
                            {% endfor %}

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
</main>
