---
title: HomePage 3
layout: default
---

<main class="site-main site-homepage">
    <div class="js-banner-poster br-slick-white br-slick-animation">
        <div class="slide-banner-full">
            <div class="br-banner-poster br-background bg-poster">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-6 col-sm-6 col-sm-offset-6">
                            <div class="br-banner-poster-text text-center">
                                <img src="img-demo/banners/191.png" alt="">

                                <h2 class="text-uppercase white">new arrivals this weel</h2>

                                <h4 class="uppercase white">Cardigan, Polo, Denimm,<br> Sweaters ...</h4>

                                <a href="#" class="btn btn-primary">shop now</a>
                            </div><!-- .br-banner-poster-text -->
                        </div>
                    </div>
                </div>
            </div><!-- .br-banner-poster -->
        </div>

        <div class="slide-banner-full ">
                <div class="br-background bg-slide-2">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 col-md-offset-6 col-sm-6 col-sm-offset-6">
                                <div class="slide-banner-full-content">

                                    <span class="dark fz-20 uppercase">new arrivals this weel</span>

                                    <span class="dark fz-60 fz-sm-30 font-secondary mb-30">Colours Your Life</span>

                                    <span class="dark fz-20 text-uppercase font-third mb-50">You Won’t Find Anywhere Else</span>

                                    <a href="#" class="btn btn-primary">shop now</a>
                                </div><!-- .slide-banner-content -->
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- .br-banner-poster -->
    </div><!-- .js-banner-poster -->
</main>
