---
title: Homepage 4
layout: primary
---

<main class="site-homepage">

    <section class="pb-20">
        <div class="container">
            <div class="br-policy">
                <div class="br-policy__item">
                    <div class="br-policy__icon">
                        <i class="br br-car"></i>
                    </div> <!-- End .br-policy__icon -->
                    <div class="br-policy__text">
                        <h5 class="text-uppercase mb-0">Free shipping</h5>
                        <span>Free returns &amp; exchanges</span>
                    </div> <!-- End br-policy__text -->
                </div> <!-- End br-policy__item  -->

                <div class="br-policy__item">
                    <div class="br-policy__icon">
                        <i class="br br-money"></i>
                    </div> <!-- End .br-policy__icon -->
                    <div class="br-policy__text">
                        <h5 class="text-uppercase mb-0">15 Days returns</h5>
                        <span>When order over $25</span>
                    </div> <!-- End br-policy__text -->
                </div> <!-- End br-policy__item  -->

                <div class="br-policy__item">
                    <div class="br-policy__icon">
                        <i class="br br-clock"></i>
                    </div> <!-- End .br-policy__icon -->
                    <div class="br-policy__text">
                        <h5 class="text-uppercase mb-0">support 24/7</h5>
                        <span>When order over $25</span>
                    </div> <!-- End br-policy__text -->
                </div> <!-- End br-policy__item  -->
            </div>
        </div>
    </section>

    <section class="pb-70 hidden-xs">
        <div class="container">
            <div class="br-card-wrapper br-card-banner" data-item="3" data-gap="5">
                <div class="grid-sizer"></div>

                <div class="br-card inner-title">
                    <div class="br-card__media">
                        <div class="br-card__thumb">
                            <a href="#">
                                <img src="img-demo/banners/banner-small-4.jpg" alt="">
                            </a>
                        </div>
                    </div><!-- br-card__media -->
                </div><!-- br-cart -->

                <div class="br-card br-card--quad-w2 inner-title">
                    <div class="br-card__media">
                        <div class="js-slide-banner slide-banner br-slick-white">
                            <div class="br-card__thumb">
                                <a href="#">
                                    <img src="img-demo/bg-slides/slide-1.jpg" alt="">
                                </a>

                                <div class="br-card__main-noh">

                                    <div class="slide-banner-content">
                                        <div class="tb-cell">
                                            <span class="uppercase fz-20 white">the result for men</span>

                                            <h2 class="white font-secondary white">Vibrant Colours</h2>

                                            <span class="uppercase fz-20 white mb-40 mb-md-30">You Won’t Find Anywhere Else</span>

                                            <a href="#" class="btn btn-primary">shop now</a>
                                        </div>

                                    </div><!-- .slide-banner-content -->

                                </div>
                            </div>

                            <div class="br-card__thumb">
                                <a href="#">
                                    <img src="img-demo/bg-slides/slide-8.jpg" alt="">
                                </a>

                                <div class="br-card__main-noh">

                                    <div class="slide-banner-content">
                                        <div class="tb-cell">
                                            <span class="uppercase fz-20 white">Street Fashion</span>

                                            <h2 class="white font-secondary white mb-15">Lookbook <br> Black &amp; White</h2>

                                            <span class="uppercase fz-20 white mb-40">Starting  $69.99</span>

                                            <a href="#" class="btn btn-primary">shop now</a>
                                        </div>

                                    </div><!-- .slide-banner-content -->

                                </div>
                            </div>

                            <div class="br-card__thumb">
                                <a href="#">
                                    <img src="img-demo/bg-slides/slide-9.jpg" alt="">
                                </a>

                                <div class="br-card__main-noh text-left">

                                    <div class="slide-banner-content ">
                                        <div class="tb-cell">
                                            <span class="uppercase fz-20 white">NEW STYLE</span>

                                            <h2 class="white font-secondary white">Minimal Color</h2>

                                            <span class="uppercase fz-20 white mb-40">only $69.99</span>

                                            <a href="#" class="btn btn-primary">shop now</a>
                                        </div>

                                    </div><!-- .slide-banner-content -->

                                </div>
                            </div>
                        </div>
                    </div><!-- br-card__media -->
                </div><!-- br-cart -->

                <div class="br-card inner-title">
                    <div class="br-card__media">
                        <div class="br-card__thumb">
                            <a href="#">
                                <img src="img-demo/banners/banner-small-7.jpg" alt="">
                            </a>
                        </div>
                    </div><!-- br-card__media -->
                </div><!-- br-cart -->

            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="br-bb pb-40">
                <div class="br-relative">
                    <h2 class="br-title">new arrivals</h2>

                    <a href="#toggle-br-filter" class="br-filter-toggle-icon" data-toggle="dropdown"><i class="fa fa-bars" aria-hidden="true"></i>Filters</a>

                    <div id="toggle-br-filter" class="br-filter__show">
                        <h2 class="text-uppercase mb-25">filter by</h2>
                        <div class="row">
                            <div class="col-md-3 col-sm-6 mb-md-30">
                                <h6 class="text-uppercase mb-15">Size</h6>

                                <ul>
                                    <li>
                                        <label class="c-input c-checkbox">
                                            <input type="checkbox">
                                            <span class="c-indicator"></span>
                                            S
                                        </label>
                                    </li>

                                    <li>
                                        <label class="c-input c-checkbox">
                                            <input type="checkbox">
                                            <span class="c-indicator"></span>
                                            M
                                        </label>
                                    </li>

                                    <li>
                                        <label class="c-input c-checkbox">
                                            <input type="checkbox">
                                            <span class="c-indicator"></span>
                                            L
                                        </label>
                                    </li>

                                    <li>
                                        <label class="c-input c-checkbox">
                                            <input type="checkbox">
                                            <span class="c-indicator"></span>
                                            XL
                                        </label>
                                    </li>

                                    <li>
                                        <label class="c-input c-checkbox">
                                            <input type="checkbox">
                                            <span class="c-indicator"></span>
                                            2XL
                                        </label>
                                    </li>

                                    <li>
                                        <label class="c-input c-checkbox">
                                            <input type="checkbox">
                                            <span class="c-indicator"></span>
                                            3XL
                                        </label>
                                    </li>

                                    <li>
                                        <label class="c-input c-checkbox">
                                            <input type="checkbox">
                                            <span class="c-indicator"></span>
                                            One Size
                                        </label>
                                    </li>
                                </ul>
                            </div>

                            <div class="col-md-3 col-sm-6 mb-md-30">
                                <h6 class="text-uppercase mb-15">Category</h6>

                                <ul>
                                    <li>
                                        <label class="c-input c-checkbox">
                                            <input type="checkbox">
                                            <span class="c-indicator"></span>
                                            Eyewear
                                        </label>
                                    </li>

                                    <li>
                                        <label class="c-input c-checkbox">
                                            <input type="checkbox">
                                            <span class="c-indicator"></span>
                                            Pant
                                        </label>
                                    </li>

                                    <li>
                                        <label class="c-input c-checkbox">
                                            <input type="checkbox">
                                            <span class="c-indicator"></span>
                                            Shirt
                                        </label>
                                    </li>

                                    <li>
                                        <label class="c-input c-checkbox">
                                            <input type="checkbox">
                                            <span class="c-indicator"></span>
                                            Tee
                                        </label>
                                    </li>

                                    <li>
                                        <label class="c-input c-checkbox">
                                            <input type="checkbox">
                                            <span class="c-indicator"></span>
                                            Jackets
                                        </label>
                                    </li>

                                    <li>
                                        <label class="c-input c-checkbox">
                                            <input type="checkbox">
                                            <span class="c-indicator"></span>
                                            Vest
                                        </label>
                                    </li>

                                    <li>
                                        <label class="c-input c-checkbox">
                                            <input type="checkbox">
                                            <span class="c-indicator"></span>
                                            Sweater
                                        </label>
                                    </li>

                                    <li>
                                        <label class="c-input c-checkbox">
                                            <input type="checkbox">
                                            <span class="c-indicator"></span>
                                            Short
                                        </label>
                                    </li>

                                    <li>
                                        <label class="c-input c-checkbox">
                                            <input type="checkbox">
                                            <span class="c-indicator"></span>
                                            All
                                        </label>
                                    </li>
                                </ul>
                            </div>

                            <div class="col-md-3 col-sm-6 mb-md-30">
                                <h6 class="text-uppercase mb-15">Colors</h6>

                                <ul>
                                    <li>
                                        <label class="c-input c-checkbox">
                                            <input type="checkbox">
                                            <span class="c-indicator"></span>
                                            Black
                                        </label>
                                    </li>

                                    <li>
                                        <label class="c-input c-checkbox">
                                            <input type="checkbox">
                                            <span class="c-indicator"></span>
                                            Green
                                        </label>
                                    </li>

                                    <li>
                                        <label class="c-input c-checkbox">
                                            <input type="checkbox">
                                            <span class="c-indicator"></span>
                                            Blue
                                        </label>
                                    </li>

                                    <li>
                                        <label class="c-input c-checkbox">
                                            <input type="checkbox">
                                            <span class="c-indicator"></span>
                                            Gray
                                        </label>
                                    </li>

                                    <li>
                                        <label class="c-input c-checkbox">
                                            <input type="checkbox">
                                            <span class="c-indicator"></span>
                                            White
                                        </label>
                                    </li>

                                    <li>
                                        <label class="c-input c-checkbox">
                                            <input type="checkbox">
                                            <span class="c-indicator"></span>
                                            Golden
                                        </label>
                                    </li>

                                    <li>
                                        <label class="c-input c-checkbox">
                                            <input type="checkbox">
                                            <span class="c-indicator"></span>
                                            Yellow
                                        </label>
                                    </li>

                                    <li>
                                        <label class="c-input c-checkbox">
                                            <input type="checkbox">
                                            <span class="c-indicator"></span>
                                            Silver
                                        </label>
                                    </li>
                                </ul>
                            </div>

                            <div class="col-md-3 col-sm-6 mb-md-30">
                                <h6 class="text-uppercase mb-15">prices</h6>

                                <ul>
                                    <li>
                                        <label class="c-input c-checkbox">
                                            <input type="checkbox">
                                            <span class="c-indicator"></span>
                                            None
                                        </label>
                                    </li>

                                    <li>
                                        <label class="c-input c-checkbox">
                                            <input type="checkbox">
                                            <span class="c-indicator"></span>
                                            $35.00 - $100.00
                                        </label>
                                    </li>

                                    <li>
                                        <label class="c-input c-checkbox">
                                            <input type="checkbox">
                                            <span class="c-indicator"></span>
                                            $100.00 - $200.00
                                        </label>
                                    </li>

                                    <li>
                                        <label class="c-input c-checkbox">
                                            <input type="checkbox">
                                            <span class="c-indicator"></span>
                                            $200.00 - $300.00
                                        </label>
                                    </li>

                                    <li>
                                        <label class="c-input c-checkbox">
                                            <input type="checkbox">
                                            <span class="c-indicator"></span>
                                            $300.00 - $400.00
                                        </label>
                                    </li>

                                    <li>
                                        <label class="c-input c-checkbox">
                                            <input type="checkbox">
                                            <span class="c-indicator"></span>
                                            $400.00 - $500.00
                                        </label>
                                    </li>

                                    <li>
                                        <label class="c-input c-checkbox">
                                            <input type="checkbox">
                                            <span class="c-indicator"></span>
                                            $500.00+
                                        </label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div><!-- .br-relative -->

                <div class="row">
                    <div class="col-lg-3 col-md-4 col-sm-6 col-tn-6">
                        {% include product.html  name="Women New Balance for J.Crew 696 " color="" price="168.00" image="img-demo/products/3.jpg" label="new" color=""  %}
                    </div>

                    <div class="col-lg-3 col-md-4 col-sm-6 col-tn-6">
                        {% include product.html  name="Glasses Dramos " price="49.50" sale="60.00" image="img-demo/products/38.jpg" label="sale"  %}
                    </div>

                    <div class="col-lg-3 col-md-4 col-sm-6 col-tn-6">
                        {% include product.html  name="Parker crossbody bag " price="32.000" image="img-demo/products/39.jpg" label="popular,hot" color="" %}
                    </div>

                    <div class="col-lg-3 col-md-4 col-sm-6 col-tn-6">
                        {% include product.html  name="Women New Balance for J.Crew 696 " price="98.00" image="img-demo/products/37.jpg" label="hot"  %}
                    </div>

                    <div class="col-lg-3 col-md-4 col-sm-6 col-tn-6">
                        {% include product.html  name="Parker crossbody bag " price="32.00" image="img-demo/products/46.jpg" label="hot"  %}
                    </div>

                    <div class="col-lg-3 col-md-4 col-sm-6 col-tn-6">
                        {% include product.html  name="Glasses Dramos " price="32.000" image="img-demo/products/47.jpg" label="popular,hot" color="" %}
                    </div>

                    <div class="col-lg-3 col-md-4 col-sm-6 col-tn-6">
                        {% include product.html  name="Glasses Dramos " price="32.00" image="img-demo/products/48.jpg" label="sale"  %}
                    </div>

                    <div class="col-lg-3 hidden-sm hidden-xs  hidden-md">
                        <div class="br-background banner-small-promote bg-small-promote">
                            <div class="banner-small-promote__content text-center">
                                <span class="fz-16 font-secondary dark mb-15">In Case of Holiday <br> Emergency</span>

                                <h2 class="text-uppercase fz-30">THE <br> Brilliant <br> GIFT CARD</h2>

                                <span class="line"></span>

                                <a href="#" class="uppercase">get one now  <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                            </div><!-- .banner-small-promote__content -->
                        </div><!-- .banner-small-promote -->
                    </div>

                    <div class="col-lg-3 hidden-sm hidden-xs  hidden-md ">
                        <div class="br-background banner-small-promote-2 bg-small-promote-2">
                            <div class="banner-small-promote__content text-center">
                                <span class="fz-14 uppercase white mb-50">LOOKBOOK</span>

                                <p class="font-secondary fz-50 white">Spring <span class="fz-30">&amp;</span> Summer</p>

                                <a href="#" class="btn btn-outline btn-white">SHOP LOOKBOOK</a>
                            </div><!-- .banner-small-promote__content -->
                        </div><!-- .banner-small-promote -->
                    </div>

                    <div class="col-lg-3 col-md-4 col-sm-6 col-tn-6">
                        {% include product.html  name="Glasses Dramos " price="32.00" image="img-demo/products/49.jpg"  %}
                    </div>

                    <div class="col-lg-3 col-md-4 col-sm-6 col-tn-6">
                        {% include product.html  name="Glasses Dramos " price="32.000" image="img-demo/products/50.jpg" label="popular"  %}
                    </div>

                    <div class="col-lg-3 col-md-4 col-sm-6 col-tn-6">
                        {% include product.html  name="Glasses Dramos " price="32.00" image="img-demo/products/51.jpg" %}
                    </div>

                    <div class="col-lg-3 col-md-4 col-sm-6 col-tn-6">
                        {% include product.html  name="Glasses Dramos " price="32.00" image="img-demo/products/32.jpg" label="new"  %}
                    </div>

                    <div class="col-lg-3 col-md-4 col-sm-6 col-tn-6">
                        {% include product.html  name="Glasses Dramos " price="32.000" image="img-demo/products/40.jpg" %}
                    </div>

                    <div class="col-lg-3 col-md-4 col-sm-6 col-tn-6">
                        {% include product.html  name="Glasses Dramos " price="32.00" image="img-demo/products/42.jpg" label="sale" color="" %}
                    </div>

                    <div class="col-lg-3 col-md-4 col-sm-6 col-tn-6">
                        {% include product.html  name="Glasses Dramos " price="32.00" image="img-demo/products/43.jpg" %}
                    </div>

                    <div class="col-lg-3 col-md-4 col-sm-6 col-tn-6">
                        {% include product.html  name="Glasses Dramos " price="32.000" image="img-demo/products/44.jpg" label="popular,hot"  color="" %}
                    </div>

                    <div class="col-lg-3 col-md-4 col-sm-6 col-tn-6">
                        {% include product.html  name="Glasses Dramos " price="32.00" image="img-demo/products/45.jpg" label="hot"  %}
                    </div>

                    <div class="col-lg-3 col-md-4 col-sm-6 col-tn-6">
                        {% include product.html  name="Glasses Dramos " price="32.000" image="img-demo/products/3.jpg" label="popular,hot"  %}
                    </div>

                    <div class="col-lg-3 col-md-4 col-sm-6 col-tn-6">
                        {% include product.html  name="Glasses Dramos " price="32.00" image="img-demo/products/41.jpg" %}
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="pb-80 pt-30">
        <div class="container">

            <div class="br-card-instagram-content pb-20">

                <div class="row">
                    <div class="col-md-3 col-sm-4">
                        <h2 class="text-uppercase"><i class="fa fa-instagram fz-20" aria-hidden="true"></i>  <span>Instagram</span></h2>
                    </div>

                    <div class="col-md-6 col-sm-4 text-center">
                        <span class="uppercase dark"><span>#brilliant</span></span>
                    </div>

                    <div class="col-md-3 col-sm-4 text-right">
                        <span class="font-secondary dark ">@Brilliant Unique</span>
                    </div>
                </div>

            </div><!-- .br-card-instagram-content -->
            <div class="br-card-wrapper br-card-instagram" data-col="6" data-gap="0">

                <div class="grid-sizer"></div>

                <div class="br-card br-card--quad br-card--quad-w2 br-card--quad-h2">
                    <div class="br-card__media">
                        <div class="br-card__thumb">
                            <a href="#">
                                <img src="img-demo/instagram/23.jpg" alt="">
                            </a>
                        </div>
                    </div><!-- br-card__media -->
                </div><!-- .br-card -->

                <div class="br-card br-card--quad">
                    <div class="br-card__media">
                        <div class="br-card__thumb">
                            <a href="#">
                                <img src="img-demo/instagram/11.jpg" alt="">
                            </a>
                        </div>
                    </div><!-- br-card__media -->
                </div><!-- .br-card -->

                <div class="br-card br-card--quad">
                    <div class="br-card__media">
                        <div class="br-card__thumb">
                            <a href="#">
                                <img src="img-demo/instagram/12.jpg" alt="">
                            </a>
                        </div>
                    </div><!-- br-card__media -->
                </div><!-- .br-card -->

                <div class="br-card br-card--quad">
                    <div class="br-card__media">
                        <div class="br-card__thumb">
                            <a href="#">
                                <img src="img-demo/instagram/13.jpg" alt="">
                            </a>
                        </div>
                    </div><!-- br-card__media -->
                </div><!-- .br-card -->

                <div class="br-card br-card--quad">
                    <div class="br-card__media">
                        <div class="br-card__thumb">
                            <a href="#">
                                <img src="img-demo/instagram/14.jpg" alt="">
                            </a>
                        </div>
                    </div><!-- br-card__media -->
                </div><!-- .br-card -->

                <div class="br-card br-card--quad">
                    <div class="br-card__media">
                        <div class="br-card__thumb">
                            <a href="#">
                                <img src="img-demo/instagram/15.jpg" alt="">
                            </a>
                        </div>
                    </div><!-- br-card__media -->
                </div><!-- .br-card -->

                <div class="br-card br-card--quad">
                    <div class="br-card__media">
                        <div class="br-card__thumb">
                            <a href="#">
                                <img src="img-demo/instagram/16.jpg" alt="">
                            </a>
                        </div>
                    </div><!-- br-card__media -->
                </div><!-- .br-card -->

                <div class="br-card br-card--quad br-card--quad-w2 br-card--quad-h2">
                    <div class="br-card__media">
                        <div class="br-card__thumb">
                            <a href="#">
                                <img src="img-demo/instagram/24.jpg" alt="">
                            </a>
                        </div>
                    </div><!-- br-card__media -->
                </div><!-- .br-card -->

                <div class="br-card br-card--quad">
                    <div class="br-card__media">
                        <div class="br-card__thumb">
                            <a href="#">
                                <img src="img-demo/instagram/21.jpg" alt="">
                            </a>
                        </div>
                    </div><!-- br-card__media -->
                </div><!-- .br-card -->

                <div class="br-card br-card--quad">
                    <div class="br-card__media">
                        <div class="br-card__thumb">
                            <a href="#">
                                <img src="img-demo/instagram/22.jpg" alt="">
                            </a>
                        </div>
                    </div><!-- br-card__media -->
                </div><!-- .br-card -->

                <div class="br-card br-card--quad">
                    <div class="br-card__media">
                        <div class="br-card__thumb">
                            <a href="#">
                                <img src="img-demo/instagram/19.jpg" alt="">
                            </a>
                        </div>
                    </div><!-- br-card__media -->
                </div><!-- .br-card -->

                <div class="br-card br-card--quad">
                    <div class="br-card__media">
                        <div class="br-card__thumb">
                            <a href="#">
                                <img src="img-demo/instagram/20.jpg" alt="">
                            </a>
                        </div>
                    </div><!-- br-card__media -->
                </div><!-- .br-card -->
            </div>
        </div>
    </section>

    <section class="section pt-0 pb-20">
        <div class="container">
            <h2 class="br-title text-center">Brilliant new’s</h2>

            <div class="row js-br-new2 br-slick-white">
                <div class="col-md-4">
                    <article class="post post--video">
                        <header class="entry-header">

                            <div class="entry-media entry-media-oembed">
                                <a href="https://vimeo.com/56962340" class="popup-video">
                                    <img src="img-demo/blogs/10.jpg" alt="">

                                    <span class="br-play">
                                        <span class="sr-only">Play</span>
                                        <i class="fa fa-play-circle" aria-hidden="true"></i>
                                    </span>
                                </a><!-- br-img -->
                            </div><!-- .entry-media -->
                        </header><!-- entry-header -->

                        <div class="entry-container">
                            <div class="post-time">jun 12.2015</div><!-- post-time -->

                            <h2 class="entry-title fz-25"><a href="#">Lookbook Srping 2016</a></h2>

                            <div class="entry-meta">
                                <ul class="entry-meta-list">
                                    <li>Posted by <a href="#">Brilliant</a></li>
                                    <li><a class="link-comment" href="#">16 Comments</a></li>
                                </ul><!-- .entry-meta-list -->
                            </div><!-- entry-meta -->
                        </div><!-- entry-container -->
                    </article>
                </div>

                <div class="col-md-4">
                    <article class="post post--standard">
                        <header class="entry-header">

                            <div class="entry-media entry-media-thumbnail">
                                <a href="#">
                                    <img src="img-demo/blogs/11.jpg" alt="">
                                </a><!-- br-img -->
                            </div><!-- .entry-media -->
                        </header><!-- entry-header -->

                        <div class="entry-container">
                            <div class="post-time">DEC 08.2015</div><!-- post-time -->

                            <h2 class="entry-title fz-25"><a href="#">Fashion Collection Blue Color</a></h2>

                            <div class="entry-meta">
                                <ul class="entry-meta-list">
                                    <li>Posted by <a href="#">Brilliant</a></li>
                                    <li><a class="link-comment" href="#">16 Comments</a></li>
                                </ul><!-- .entry-meta-list -->
                            </div><!-- entry-meta -->
                        </div><!-- entry-container -->
                    </article>
                </div>

                <div class="col-md-4">
                    <article class="post post--standard">
                        <header class="entry-header">

                            <div class="entry-media entry-media-thumbnail">
                                <a href="#">
                                    <img src="img-demo/blogs/12.jpg" alt="">
                                </a><!-- br-img -->
                            </div><!-- .entry-media -->
                        </header><!-- entry-header -->

                        <div class="entry-container">
                            <div class="post-time">NOV 12.2015</div><!-- post-time -->

                            <h2 class="entry-title fz-25"><a href="#">Fashion Collection Blue Color</a></h2>

                            <div class="entry-meta">
                                <ul class="entry-meta-list">
                                    <li>Posted by <a href="#">Brilliant</a></li>
                                    <li><a class="link-comment" href="#">16 Comments</a></li>
                                </ul><!-- .entry-meta-list -->
                            </div><!-- entry-meta -->
                        </div><!-- entry-container -->
                    </article>
                </div>

                <div class="col-md-4">
                    <article class="post post--standard">
                        <header class="entry-header">

                            <div class="entry-media entry-media-thumbnail">
                                <a href="#">
                                    <img src="img-demo/blogs/11.jpg" alt="">
                                </a><!-- br-img -->
                            </div><!-- .entry-media -->
                        </header><!-- entry-header -->

                        <div class="entry-container">
                            <div class="post-time">jun 24.2015</div><!-- post-time -->

                            <h2 class="entry-title fz-25"><a href="#">Stand Post</a></h2>

                            <div class="entry-meta">
                                <ul class="entry-meta-list">
                                    <li>Posted by <a href="#">Brilliant</a></li>
                                    <li><a class="link-comment" href="#">16 Comments</a></li>
                                </ul><!-- .entry-meta-list -->
                            </div><!-- entry-meta -->
                        </div><!-- entry-container -->
                    </article>
                </div>
            </div>
        </div>
    </section>

    <section class="pb-80">
        <div class="container">
            <h1 class="sr-only">brand</h1>
            {% include el.html id="brand-style" %}
        </div>
    </section>
</main>
