---
title: Homepage 5
layout: custom
---

{% include header.html %}

<main>
    <div class="br-policy mb-40">
        <div class="container">
            <div class="br-policy__item">
                <div class="br-policy__icon">
                    <i class="br br-car"></i>
                </div> <!-- End .br-policy__icon -->
                <div class="br-policy__text">
                    <h5 class="text-uppercase mb-0">Free shipping</h5>
                    <span>Free returns &amp; exchanges</span>
                </div> <!-- End br-policy__text -->
            </div> <!-- End br-policy__item  -->

            <div class="br-policy__item">
                <div class="br-policy__icon">
                    <i class="br br-money"></i>
                </div> <!-- End .br-policy__icon -->
                <div class="br-policy__text">
                    <h5 class="text-uppercase mb-0">15 Days returns</h5>
                    <span>When order over $25</span>
                </div> <!-- End br-policy__text -->
            </div> <!-- End br-policy__item  -->

            <div class="br-policy__item">
                <div class="br-policy__icon">
                    <i class="br br-clock"></i>
                </div> <!-- End .br-policy__icon -->
                <div class="br-policy__text">
                    <h5 class="text-uppercase mb-0">support 24/7</h5>
                    <span>When order over $25</span>
                </div> <!-- End br-policy__text -->
            </div> <!-- End br-policy__item  -->
        </div>
    </div><!-- .br-policy -->

    <div class="container">
        <div class="row no-gutters">
            <div class="col-md-3 pb-50">
                <div class="br-cat-wrapper">
                    <div class="br-bb">
                        <h3 class="text-uppercase">new arrivals</h3>

                        <nav class="br-cat mb-35">
                            <a href="#">For Man<i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                            <a href="#">For women<i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                            <a href="#">For kid<i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                        </nav><!-- .br-cat -->

                        <h6 class="mb-70">TODAY: <span>JANUARY 4, 2016</span></h6>
                    </div>

                    <div class="br-bb pt-25 pb-20">
                        <h2 class="text-uppercase mb-0">SHOP FOR MEN</h2>

                        <a href="#" class="uppercase fz-12">shop now<i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                    </div>

                    <div class="br-bb pt-25 pb-20">
                        <h2 class="text-uppercase mb-0">SHOP FOR WOMEN</h2>

                        <a href="#" class="uppercase fz-12">shop now<i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                    </div>

                    <div class="br-bb pt-25 pb-20">
                        <h3 class="text-uppercase mb-0">SHOP FOR BOY</h3>

                        <a href="#" class="uppercase fz-12">shop now<i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                    </div>

                    <div class="br-bb pt-25 pb-20">
                        <h3 class="text-uppercase mb-0">SHOP FOR GIRL</h3>

                        <a href="#" class="uppercase fz-12">shop now<i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                    </div>
                </div><!-- .br-cat-wrapper -->
            </div>

            <div class="col-md-9 pb-50">
                <section>
                    <div class="br-card-wrapper-nojs br-card-banner-2 br-card-shopsimple" data-item="3" data-gap="5">
                        <div class="grid-sizer"></div>

                        <div class="br-card br-card--quad-w2 inner-title">
                            <div class="br-card__media">
                                <div class="js-slide-banner-1 br-slick-white br-slick-animation">
                                    <div class="br-card__thumb">
                                        <a href="#">
                                            <img src="img-demo/banners/banner-shopsimple.jpg" alt="">
                                        </a>

                                        <div class="br-card__main-noh">

                                            <div class="slide-banner-content">
                                                <div class="tb-cell">
                                                    <span class="font-secondary fz-30 white">Street Fleece</span>

                                                    <h2 class="white text-uppercase bold mb-25">Dressing STYLE</h2>

                                                    <span class="font-third fz-16 white mb-50 mb-md-30">2 Styles, 2 Colors  -  Price: $45–78</span>

                                                    <a href="#" class="btn btn-primary">shop now</a>
                                                </div>

                                            </div><!-- .slide-banner-content -->

                                        </div>
                                    </div>

                                    <div class="br-card__thumb">
                                        <a href="#">
                                            <img src="img-demo/banners/banner-shopsimple-3.jpg" alt="">
                                        </a>

                                        <div class="br-card__main-noh">

                                            <div class="slide-banner-content">
                                                <div class="tb-cell">
                                                    <span class="uppercase fz-20 white">the result for men</span>

                                                    <h2 class="white font-secondary">Vibrant Colours</h2>

                                                    <span class="uppercase fz-20 white mb-40">You Won’t Find Anywhere Else</span>

                                                    <a href="#" class="btn btn-primary">shop now</a>
                                                </div>

                                            </div><!-- .slide-banner-content -->

                                        </div>
                                    </div>
                                </div>
                            </div><!-- br-card__media -->
                        </div><!-- br-cart -->

                        <div class="br-card inner-title">
                            <div class="br-card__media">
                                <div class="br-card__thumb">
                                    <a href="#">
                                        <img src="img-demo/banners/banner-small-8.jpg" alt="">
                                    </a>
                                </div>
                            </div><!-- br-card__media -->
                        </div><!-- br-cart -->

                        <div class="br-card inner-title">
                            <div class="br-card__media">
                                <div class="br-card__thumb">
                                    <a href="#">
                                        <img src="img-demo/banners/banner-small-9.jpg" alt="">
                                    </a>
                                </div>
                            </div><!-- br-card__media -->
                        </div><!-- br-cart -->
                    </div>
                </section>
            </div>
        </div>
    </div>

</main>

{% include footer-style2.html %}
