---
title: HomePage 2
layout: default
---

<main class="site-main site-homepage">
    <section>
        <div class="js-slide-banner-full slide-banner-full-2 br-slick-white br-slick-animation">
            <div class="slide-banner-full ">
                <div class="br-background bg-slide-2">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 col-md-offset-6 col-sm-6 col-sm-offset-6">
                                <div class="slide-banner-full-content text-center">

                                    <span class="dark fz-20 uppercase">new arrivals this weel</span>

                                    <span class="dark fz-60 fz-sm-30 font-secondary mb-30">Colours Your Life</span>

                                    <span class="dark fz-20 text-uppercase font-third mb-50">You Won’t Find Anywhere Else</span>

                                    <a href="#" class="btn btn-primary">shop now</a>
                                </div><!-- .slide-banner-content -->
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- .br-banner-poster -->

            <div class="slide-banner-full">
                <div class="br-banner-poster br-background bg-poster">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 col-md-offset-6 col-sm-6 col-sm-offset-6">
                                <div class="br-banner-poster-text text-center">
                                    <img src="img-demo/banners/191.png" alt="">

                                    <h2 class="text-uppercase white">new arrivals this weel</h2>

                                    <h4 class="uppercase white">Cardigan, Polo, Denimm,<br> Sweaters ...</h4>

                                    <a href="#" class="btn btn-primary">shop now</a>
                                </div><!-- .br-banner-poster-text -->
                            </div>
                        </div>
                    </div>
                </div><!-- .br-banner-poster -->
            </div>

        </div>
    </section>

    <section>
        <div class="container">
            <div class="br-policy">
                <div class="br-policy__item">
                    <div class="br-policy__icon">
                        <i class="br br-car"></i>
                    </div> <!-- End .br-policy__icon -->
                    <div class="br-policy__text">
                        <h5 class="text-uppercase mb-0">Free shipping</h5>
                        <span>Free returns &amp; exchanges</span>
                    </div> <!-- End br-policy__text -->
                </div> <!-- End br-policy__item  -->

                <div class="br-policy__item">
                    <div class="br-policy__icon">
                        <i class="br br-money"></i>
                    </div> <!-- End .br-policy__icon -->
                    <div class="br-policy__text">
                        <h5 class="text-uppercase mb-0">15 Days returns</h5>
                        <span>When order over $25</span>
                    </div> <!-- End br-policy__text -->
                </div> <!-- End br-policy__item  -->

                <div class="br-policy__item">
                    <div class="br-policy__icon">
                        <i class="br br-clock"></i>
                    </div> <!-- End .br-policy__icon -->
                    <div class="br-policy__text">
                        <h5 class="text-uppercase mb-0">support 24/7</h5>
                        <span>When order over $25</span>
                    </div> <!-- End br-policy__text -->
                </div> <!-- End br-policy__item  -->
            </div>
        </div>
    </section>

    <section class="section pt-0">
        <div class="br-card-wrapper-nojs br-card-categories--2" data-col="3" data-gap="0">
            <div class="br-card inner-title br-card-categories__item">
                <div class="br-card__media">
                    <div class="br-card__thumb">
                        <a href="#">
                            <img src="img-demo/banners/banner-cat7.jpg" alt="">
                        </a>

                        <div class="br-card__main">
                            <h2 class="br-card-categories__title text-uppercase">shop <br><span>Clothes</span></h2>
                            <a href="#" class="btn btn-primary">shop now</a>
                        </div>
                    </div>
                </div><!-- br-card__media -->
            </div><!-- .br-card -->

            <div class="br-card inner-title br-card-categories__item">
                <div class="br-card__media">
                    <div class="br-card__thumb">
                        <a href="#">
                            <img src="img-demo/banners/banner-cat8.jpg" alt="">
                        </a>

                        <div class="br-card__main">
                            <h2 class="br-card-categories__title text-uppercase">shop <br><span>Accessories</span></h2>
                            <a href="#" class="btn btn-primary">shop now</a>
                        </div>
                    </div>
                </div><!-- br-card__media -->
            </div><!-- .br-card -->

            <div class="br-card inner-title br-card-categories__item">
                <div class="br-card__media">
                    <div class="br-card__thumb">
                        <a href="#">
                            <img src="img-demo/banners/banner-cat9.jpg" alt="">
                        </a>

                        <div class="br-card__main">
                            <h2 class="br-card-categories__title text-uppercase">shop <br><span>Underwear</span></h2>
                            <a href="#" class="btn btn-primary">shop now</a>
                        </div>
                    </div>
                </div><!-- br-card__media -->
            </div><!-- .br-card -->
        </div><!-- .br-card-wrapper -->
    </section>

    <section class="section pt-0 pb-40">
        <div class="container">
            <h2 class="br-title text-center">new arrivals</h2>

            <div class="row js-new-arrivals br-slick-white">
                <div class="col-md-3 col-sm-6 col-tn-6">
                    {% include product.html  name="Glasses Dramos " price="168.00" image="img-demo/products/3.jpg" label="new"  %}
                </div>

                <div class="col-md-3 col-sm-6 col-tn-6">
                    {% include product.html  name="Parker crossbody bag " price="98.00" image="img-demo/products/37.jpg" label="hot"  %}
                </div>

                <div class="col-md-3 col-sm-6 col-tn-6">
                    {% include product.html  name="Glasses Dramos " price="49.50" sale="60.00" image="img-demo/products/38.jpg" label="sale"  %}
                </div>

                <div class="col-md-3 col-sm-6 col-tn-6">
                    {% include product.html  name="Glasses Dramos " price="32.000" image="img-demo/products/39.jpg" label="popular,hot"  %}
                </div>

                <div class="col-md-3 col-sm-6 col-tn-6">
                    {% include product.html  name="Glasses Dramos " price="32.00" image="img-demo/products/30.jpg" label="hot"  %}
                </div>
            </div>
        </div>
    </section>

    <section class="section pt-0">
        <div class="br-card-wrapper-nojs br-card--fullwidth" data-col="4" data-gap="0">
            <div class="br-card inner-title br-card--quad-w2 br-background-overlay br-slick-animation br-slick-white br-background bg-customersay">

                <div class="br-card__main ">
                    <h2 class="br-title br-title--white text-center">customer say</h2>

                    <div class="js-testimonial-card br-slick-white">

                        {% for testimonial in site.data.testimonials | limit: 3 %}
                            <div class="br-testimonial br-testimonial--white mb-15">
                                <div class="br-testimonial__avatar">
                                    <img src="img-demo/avatars/{{ testimonial.avatar }}.jpg" alt="">
                                </div> <!-- End .br-testimonial__avatar -->

                                <div class="br-testimonial__main">
                                    <div class="br-testimonial__say">
                                        <p>{{ testimonial.content }}</p>
                                    </div> <!-- End .br-testimonial__say -->

                                    <h5 class="br-testimonial__name">{{ testimonial.name }}</h5>
                                </div> <!-- End .br-testimonial__main -->
                            </div> <!-- End .br-testimonial -->
                        {% endfor %}

                    </div>

                    <div class="js-brand-horizontal-2 brand-horizontal br-slick-animation">
                        {% for brand in site.data.brands %}

                         <div class="br-brand br-brand--style">
                            <div class="br-brand__thumb">
                                <img src="img-demo/brands/{{ brand.image }}.png" alt="">
                            </div>
                        </div> <!-- End .bs-brand -->

                        {% endfor %}
                    </div>
                </div>

            </div><!-- .br-card -->

            <div class="br-card js-imgtobg">
                <a href="#">
                    <img src="img-demo/banners/banner-promote.jpg" alt="">
                </a>
            </div><!-- .br-card -->

            <div class="br-card js-imgtobg">
                <a href="#">
                    <img src="img-demo/banners/banner-promote-2.jpg" alt="">
                </a>
            </div><!-- .br-card -->
        </div><!-- .br-card-wrapper -->
    </section>

    <section class="section pt-0">
        <div class="container">
            <h2 class="br-title text-center">best seller</h2>

            <div class="row">
                <div class="col-md-3 col-sm-6 col-tn-6">
                    {% include product.html  name="Glasses Dramos " price="168.00" image="img-demo/products/32.jpg" label="new"  %}
                </div>

                <div class="col-md-3 col-sm-6 col-tn-6">
                    {% include product.html  name="Parker crossbody bag " price="98.00" image="img-demo/products/40.jpg" label="hot"  %}
                </div>

                <div class="col-md-3 col-sm-6 col-tn-6">
                    {% include product.html  name="Glasses Dramos " price="49.50" sale="60.00" image="img-demo/products/41.jpg" label="sale"  %}
                </div>

                <div class="col-md-3 col-sm-6 col-tn-6">
                    {% include product.html  name="Glasses Dramos " price="32.000" image="img-demo/products/42.jpg" label="popular,hot"  %}
                </div>

                <div class="col-md-3 col-sm-6 col-tn-6">
                    {% include product.html  name="Glasses Dramos " price="32.00" image="img-demo/products/43.jpg" label="hot"  %}
                </div>

                <div class="col-md-3 col-sm-6 col-tn-6">
                    {% include product.html  name="Glasses Dramos " price="49.50" sale="60.00" image="img-demo/products/44.jpg" label="sale"  %}
                </div>

                <div class="col-md-3 col-sm-6 col-tn-6">
                    {% include product.html  name="Glasses Dramos " price="32.000" image="img-demo/products/3.jpg" label="popular,hot"  %}
                </div>

                <div class="col-md-3 col-sm-6 col-tn-6">
                    {% include product.html  name="Glasses Dramos " price="32.00" image="img-demo/products/45.jpg" label="hot"  %}
                </div>
            </div>

            <div class="text-center">
                <a href="#" class="btn btn-default">shop more</a>
            </div>
        </div>
    </section>

    <section class="section pt-0">
        <div class="br-card-wrapper-nojs br-card-instagram js-br-card-instagram-mobile" data-col="6" data-gap="0">
            <div class="br-card-instagram-content">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 col-sm-4">
                            <h2 class="text-uppercase white"><i class="fa fa-instagram fz-20" aria-hidden="true"></i>  <span>Instagram</span></h2>
                        </div>

                        <div class="col-md-6 col-sm-4 text-center">
                            <span class="uppercase white">#brilliant</span>
                        </div>

                        <div class="col-md-3 col-sm-4 text-right">
                            <span class="font-secondary white">@Brilliant Unique</span>
                        </div>
                    </div>
                </div>
            </div><!-- .br-card-instagram-content -->

            <div class="br-card br-card--quad">
                <div class="br-card__media">
                    <div class="br-card__thumb br-background-overlay">
                        <a href="#">
                            <img src="img-demo/instagram/10.jpg" alt="">
                        </a>
                    </div>
                </div><!-- br-card__media -->
            </div><!-- .br-card -->

            <div class="br-card br-card--quad">
                <div class="br-card__media">
                    <div class="br-card__thumb br-background-overlay">
                        <a href="#">
                            <img src="img-demo/instagram/11.jpg" alt="">
                        </a>
                    </div>
                </div><!-- br-card__media -->
            </div><!-- .br-card -->

            <div class="br-card br-card--quad">
                <div class="br-card__media">
                    <div class="br-card__thumb br-background-overlay">
                        <a href="#">
                            <img src="img-demo/instagram/12.jpg" alt="">
                        </a>
                    </div>
                </div><!-- br-card__media -->
            </div><!-- .br-card -->

            <div class="br-card br-card--quad">
                <div class="br-card__media">
                    <div class="br-card__thumb br-background-overlay">
                        <a href="#">
                            <img src="img-demo/instagram/13.jpg" alt="">
                        </a>
                    </div>
                </div><!-- br-card__media -->
            </div><!-- .br-card -->

            <div class="br-card br-card--quad">
                <div class="br-card__media">
                    <div class="br-card__thumb br-background-overlay">
                        <a href="#">
                            <img src="img-demo/instagram/14.jpg" alt="">
                        </a>
                    </div>
                </div><!-- br-card__media -->
            </div><!-- .br-card -->

            <div class="br-card br-card--quad">
                <div class="br-card__media">
                    <div class="br-card__thumb br-background-overlay">
                        <a href="#">
                            <img src="img-demo/instagram/15.jpg" alt="">
                        </a>
                    </div>
                </div><!-- br-card__media -->
            </div><!-- .br-card -->

            <div class="br-card br-card--quad">
                <div class="br-card__media">
                    <div class="br-card__thumb br-background-overlay">
                        <a href="#">
                            <img src="img-demo/instagram/16.jpg" alt="">
                        </a>
                    </div>
                </div><!-- br-card__media -->
            </div><!-- .br-card -->

            <div class="br-card br-card--quad">
                <div class="br-card__media">
                    <div class="br-card__thumb br-background-overlay">
                        <a href="#">
                            <img src="img-demo/instagram/17.jpg" alt="">
                        </a>
                    </div>
                </div><!-- br-card__media -->
            </div><!-- .br-card -->

            <div class="br-card br-card--quad">
                <div class="br-card__media">
                    <div class="br-card__thumb br-background-overlay">
                        <a href="#">
                            <img src="img-demo/instagram/21.jpg" alt="">
                        </a>
                    </div>
                </div><!-- br-card__media -->
            </div><!-- .br-card -->

            <div class="br-card br-card--quad">
                <div class="br-card__media">
                    <div class="br-card__thumb br-background-overlay">
                        <a href="#">
                            <img src="img-demo/instagram/22.jpg" alt="">
                        </a>
                    </div>
                </div><!-- br-card__media -->
            </div><!-- .br-card -->

            <div class="br-card br-card--quad">
                <div class="br-card__media">
                    <div class="br-card__thumb br-background-overlay">
                        <a href="#">
                            <img src="img-demo/instagram/19.jpg" alt="">
                        </a>
                    </div>
                </div><!-- br-card__media -->
            </div><!-- .br-card -->

            <div class="br-card br-card--quad">
                <div class="br-card__media">
                    <div class="br-card__thumb br-background-overlay">
                        <a href="#">
                            <img src="img-demo/instagram/20.jpg" alt="">
                        </a>
                    </div>
                </div><!-- br-card__media -->
            </div><!-- .br-card -->
        </div><!-- .br-card-wrapper -->
    </section>

    <section class="section pt-0 pb-20">
        <div class="container">
            <h2 class="br-title text-center">Brilliant new’s</h2>

            <div class="row js-br-new2 br-slick-white">
                <div class="col-md-4">
                    <article class="post post--video">
                        <header class="entry-header">

                            <div class="entry-media entry-media-oembed">
                                <a href="https://vimeo.com/56962340" class="popup-video">
                                    <img src="img-demo/blogs/10.jpg" alt="">

                                    <span class="br-play">
                                        <span class="sr-only">Play</span>
                                        <i class="fa fa-play-circle" aria-hidden="true"></i>
                                    </span>
                                </a><!-- br-img -->
                            </div><!-- .entry-media -->
                        </header><!-- entry-header -->

                        <div class="entry-container">
                            <div class="post-time">jun 12.2015</div><!-- post-time -->

                            <h2 class="entry-title fz-25"><a href="#">Lookbook Srping 2016</a></h2>

                            <div class="entry-meta">
                                <ul class="entry-meta-list">
                                    <li class="light">Posted by <a href="#">Brilliant</a></li>
                                    <li><a class="link-comment" href="#">16 Comments</a></li>
                                </ul><!-- .entry-meta-list -->
                            </div><!-- entry-meta -->
                        </div><!-- entry-container -->
                    </article>
                </div>

                <div class="col-md-4">
                    <article class="post post--standard">
                        <header class="entry-header">

                            <div class="entry-media entry-media-thumbnail">
                                <a href="#">
                                    <img src="img-demo/blogs/11.jpg" alt="">
                                </a><!-- br-img -->
                            </div><!-- .entry-media -->
                        </header><!-- entry-header -->

                        <div class="entry-container">
                            <div class="post-time">DEC 08.2015</div><!-- post-time -->

                            <h2 class="entry-title fz-25"><a href="#">Fashion Collection Blue Color</a></h2>

                            <div class="entry-meta">
                                <ul class="entry-meta-list">
                                    <li class="light">Posted by <a href="#">Brilliant</a></li>
                                    <li><a class="link-comment" href="#">16 Comments</a></li>
                                </ul><!-- .entry-meta-list -->
                            </div><!-- entry-meta -->
                        </div><!-- entry-container -->
                    </article>
                </div>

                <div class="col-md-4">
                    <article class="post post--standard">
                        <header class="entry-header">

                            <div class="entry-media entry-media-thumbnail">
                                <a href="#">
                                    <img src="img-demo/blogs/12.jpg" alt="">
                                </a><!-- br-img -->
                            </div><!-- .entry-media -->
                        </header><!-- entry-header -->

                        <div class="entry-container">
                            <div class="post-time">NOV 12.2015</div><!-- post-time -->

                            <h2 class="entry-title fz-25"><a href="#">Fashion Collection Blue Color</a></h2>

                            <div class="entry-meta">
                                <ul class="entry-meta-list">
                                    <li class="light">Posted by <a href="#">Brilliant</a></li>
                                    <li><a class="link-comment" href="#">16 Comments</a></li>
                                </ul><!-- .entry-meta-list -->
                            </div><!-- entry-meta -->
                        </div><!-- entry-container -->
                    </article>
                </div>

                <div class="col-md-4">
                    <article class="post post--standard">
                        <header class="entry-header">

                            <div class="entry-media entry-media-thumbnail">
                                <a href="#">
                                    <img src="img-demo/blogs/11.jpg" alt="">
                                </a><!-- br-img -->
                            </div><!-- .entry-media -->
                        </header><!-- entry-header -->

                        <div class="entry-container">
                            <div class="post-time">jun 24.2015</div><!-- post-time -->

                            <h2 class="entry-title fz-25"><a href="#">Stand Post</a></h2>

                            <div class="entry-meta">
                                <ul class="entry-meta-list">
                                    <li class="light">Posted by <a href="#">Brilliant</a></li>
                                    <li><a class="link-comment" href="#">16 Comments</a></li>
                                </ul><!-- .entry-meta-list -->
                            </div><!-- entry-meta -->
                        </div><!-- entry-container -->
                    </article>
                </div>
            </div>
        </div>
    </section>
</main>
