---
title: Lookbook
layout: default
breadcrumbs:
    - Lookbook
    - Lookbook Women
    - Autumn Collection Minimal Style
---

<main>
    <section>
        <div class="page-title-basic">
            <div class="container">
                <div class="page-title__main">
                    <h1 class="text-uppercase mb-0">Lookbook women</h1>

                    <ol class="breadcrumb">
                        <li>
                            <a href="index.html">Brilliant</a>
                        </li>
                        {% for breadcrumb in page.breadcrumbs %}
                            {% if forloop.last == true %}
                                <li class="active">{{ breadcrumb }}</li>
                            {% else %}
                                <li><a href="#">{{ breadcrumb }}</a></li>
                            {% endif %}
                        {% endfor %}
                    </ol>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="js-slide-banner-full slide-banner-full-2 br-slick-white br-slick-animation">
            <div class="slide-banner-full ">
                <div class="br-background bg-slide-7">
                    <div class="slide-banner-full-content slide-banner-slide-7 text-center">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-8">

                                    <span class="fz-20 uppercase dark mb-20">Lookbook women</span>

                                    <h2 class="font-secondary mb-30">Autumn Collection Minimal Style</h2>

                                    <span class="fz-20 dark font-third mb-40">Start from $200 - $320</span>

                                    <a href="#" class="btn btn-primary" >shop now</a>
                                </div>
                            </div>
                        </div>
                    </div><!-- .slide-banner-content -->
                </div>
            </div><!-- .slide-banner-full -->

            <div class="slide-banner-full ">
                <div class="br-background bg-slide-2">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 col-md-offset-6 col-sm-6 col-sm-offset-6">
                                <div class="slide-banner-full-content">

                                    <span class="dark fz-20 uppercase">new arrivals this weel</span>

                                    <span class="dark fz-60 fz-sm-30 font-secondary mb-30">Colours Your Life</span>

                                    <span class="dark fz-20 text-uppercase font-third mb-50">You Won’t Find Anywhere Else</span>

                                    <a href="#" class="btn btn-primary">shop now</a>
                                </div><!-- .slide-banner-content -->
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- .slide-banner-full -->
        </div>
    </section>

    <section class="section section-lookbook-detail">
        <div class="container">
            <h2 class="h1 font-secondary text-center mb-30">Autumn Minimal Style</h2>

            <div class="br-relative br-lookbook-detail pb-50">
                <div class="overflow-hidden">
                    <a href="#" class="btn btn-default btn-outline"><i class="fa fa-long-arrow-left mr-5" aria-hidden="true"></i>back lookbook</a>

                    <a href="#" class="btn btn-default btn-outline">next lookbook <i class="fa fa-long-arrow-right ml-5" aria-hidden="true"></i></a>
                </div>

                <a href="#toggle-br-filter" class="br-filter-toggle-icon h6 text-uppercase" data-toggle="dropdown"><i class="fa fa-bars" aria-hidden="true"></i>filter lookbook products</a>

                <div id="toggle-br-filter" class="br-filter__show">
                    <h2 class="text-uppercase mb-25">filter by</h2>
                    <div class="row">
                        <div class="col-md-3 col-sm-6 mb-md-30">
                            <h6 class="text-uppercase mb-15">Size</h6>

                            <ul>
                                <li>
                                    <label class="c-input c-checkbox">
                                        <input type="checkbox">
                                        <span class="c-indicator"></span>
                                        S
                                    </label>
                                </li>

                                <li>
                                    <label class="c-input c-checkbox">
                                        <input type="checkbox">
                                        <span class="c-indicator"></span>
                                        M
                                    </label>
                                </li>

                                <li>
                                    <label class="c-input c-checkbox">
                                        <input type="checkbox">
                                        <span class="c-indicator"></span>
                                        L
                                    </label>
                                </li>

                                <li>
                                    <label class="c-input c-checkbox">
                                        <input type="checkbox">
                                        <span class="c-indicator"></span>
                                        XL
                                    </label>
                                </li>

                                <li>
                                    <label class="c-input c-checkbox">
                                        <input type="checkbox">
                                        <span class="c-indicator"></span>
                                        2XL
                                    </label>
                                </li>

                                <li>
                                    <label class="c-input c-checkbox">
                                        <input type="checkbox">
                                        <span class="c-indicator"></span>
                                        3XL
                                    </label>
                                </li>

                                <li>
                                    <label class="c-input c-checkbox">
                                        <input type="checkbox">
                                        <span class="c-indicator"></span>
                                        One Size
                                    </label>
                                </li>
                            </ul>
                        </div>

                        <div class="col-md-3 col-sm-6 mb-md-30">
                            <h6 class="text-uppercase mb-15">Category</h6>

                            <ul>
                                <li>
                                    <label class="c-input c-checkbox">
                                        <input type="checkbox">
                                        <span class="c-indicator"></span>
                                        Eyewear
                                    </label>
                                </li>

                                <li>
                                    <label class="c-input c-checkbox">
                                        <input type="checkbox">
                                        <span class="c-indicator"></span>
                                        Pant
                                    </label>
                                </li>

                                <li>
                                    <label class="c-input c-checkbox">
                                        <input type="checkbox">
                                        <span class="c-indicator"></span>
                                        Shirt
                                    </label>
                                </li>

                                <li>
                                    <label class="c-input c-checkbox">
                                        <input type="checkbox">
                                        <span class="c-indicator"></span>
                                        Tee
                                    </label>
                                </li>

                                <li>
                                    <label class="c-input c-checkbox">
                                        <input type="checkbox">
                                        <span class="c-indicator"></span>
                                        Jackets
                                    </label>
                                </li>

                                <li>
                                    <label class="c-input c-checkbox">
                                        <input type="checkbox">
                                        <span class="c-indicator"></span>
                                        Vest
                                    </label>
                                </li>

                                <li>
                                    <label class="c-input c-checkbox">
                                        <input type="checkbox">
                                        <span class="c-indicator"></span>
                                        Sweater
                                    </label>
                                </li>

                                <li>
                                    <label class="c-input c-checkbox">
                                        <input type="checkbox">
                                        <span class="c-indicator"></span>
                                        Short
                                    </label>
                                </li>

                                <li>
                                    <label class="c-input c-checkbox">
                                        <input type="checkbox">
                                        <span class="c-indicator"></span>
                                        All
                                    </label>
                                </li>
                            </ul>
                        </div>

                        <div class="col-md-3 col-sm-6 mb-md-30">
                            <h6 class="text-uppercase mb-15">Colors</h6>

                            <ul>
                                <li>
                                    <label class="c-input c-checkbox">
                                        <input type="checkbox">
                                        <span class="c-indicator"></span>
                                        Black
                                    </label>
                                </li>

                                <li>
                                    <label class="c-input c-checkbox">
                                        <input type="checkbox">
                                        <span class="c-indicator"></span>
                                        Green
                                    </label>
                                </li>

                                <li>
                                    <label class="c-input c-checkbox">
                                        <input type="checkbox">
                                        <span class="c-indicator"></span>
                                        Blue
                                    </label>
                                </li>

                                <li>
                                    <label class="c-input c-checkbox">
                                        <input type="checkbox">
                                        <span class="c-indicator"></span>
                                        Gray
                                    </label>
                                </li>

                                <li>
                                    <label class="c-input c-checkbox">
                                        <input type="checkbox">
                                        <span class="c-indicator"></span>
                                        White
                                    </label>
                                </li>

                                <li>
                                    <label class="c-input c-checkbox">
                                        <input type="checkbox">
                                        <span class="c-indicator"></span>
                                        Golden
                                    </label>
                                </li>

                                <li>
                                    <label class="c-input c-checkbox">
                                        <input type="checkbox">
                                        <span class="c-indicator"></span>
                                        Yellow
                                    </label>
                                </li>

                                <li>
                                    <label class="c-input c-checkbox">
                                        <input type="checkbox">
                                        <span class="c-indicator"></span>
                                        Silver
                                    </label>
                                </li>
                            </ul>
                        </div>

                        <div class="col-md-3 col-sm-6 mb-md-30">
                            <h6 class="text-uppercase mb-15">prices</h6>

                            <ul>
                                <li>
                                    <label class="c-input c-checkbox">
                                        <input type="checkbox">
                                        <span class="c-indicator"></span>
                                        None
                                    </label>
                                </li>

                                <li>
                                    <label class="c-input c-checkbox">
                                        <input type="checkbox">
                                        <span class="c-indicator"></span>
                                        $35.00 - $100.00
                                    </label>
                                </li>

                                <li>
                                    <label class="c-input c-checkbox">
                                        <input type="checkbox">
                                        <span class="c-indicator"></span>
                                        $100.00 - $200.00
                                    </label>
                                </li>

                                <li>
                                    <label class="c-input c-checkbox">
                                        <input type="checkbox">
                                        <span class="c-indicator"></span>
                                        $200.00 - $300.00
                                    </label>
                                </li>

                                <li>
                                    <label class="c-input c-checkbox">
                                        <input type="checkbox">
                                        <span class="c-indicator"></span>
                                        $300.00 - $400.00
                                    </label>
                                </li>

                                <li>
                                    <label class="c-input c-checkbox">
                                        <input type="checkbox">
                                        <span class="c-indicator"></span>
                                        $400.00 - $500.00
                                    </label>
                                </li>

                                <li>
                                    <label class="c-input c-checkbox">
                                        <input type="checkbox">
                                        <span class="c-indicator"></span>
                                        $500.00+
                                    </label>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row mb-10">
                <div class="col-md-3 col-sm-6">
                    {% include product.html  name="Gene Top in Mustard" price="62.00" image="img-demo/products/7.jpg" label="hot"  %}
                </div>

                <div class="col-md-3 col-sm-6">
                    {% include product.html  name="Parker crossbody bag" price="$ 192.99" sale="$456.00" image="img-demo/products/8.jpg" %}
                </div>

                <div class="col-md-3 col-sm-6">
                    {% include product.html  name="Parker crossbody bag" price="$ 192.99" sale="$456.00" image="img-demo/products/5.jpg"  %}
                </div>

                <div class="col-md-3 col-sm-6">
                    {% include product.html  name="Parker crossbody bag" price="$ 192.99" sale="$456.00" image="img-demo/products/6.jpg" %}
                </div>

                <div class="col-md-3 col-sm-6">
                    {% include product.html  name="Gene Top in Mustard" price="62.00" image="img-demo/products/11.jpg" label="hot"  %}
                </div>

                <div class="col-md-3 col-sm-6">
                    {% include product.html  name="Parker crossbody bag" price="$ 192.99" sale="$456.00" image="img-demo/products/12.jpg" %}
                </div>

                <div class="col-md-3 col-sm-6">
                    {% include product.html  name="Parker crossbody bag" price="$ 192.99" sale="$456.00" image="img-demo/products/15.jpg"  %}
                </div>

                <div class="col-md-3 col-sm-6">
                    {% include product.html  name="Parker crossbody bag" price="$ 192.99" sale="$456.00" image="img-demo/products/16.jpg" %}
                </div>

                <div class="col-md-3 col-sm-6">
                    {% include product.html  name="Gene Top in Mustard" price="62.00" image="img-demo/products/13.jpg" label="hot"  %}
                </div>

                <div class="col-md-3 col-sm-6">
                    {% include product.html  name="Parker crossbody bag" price="$ 192.99" sale="$456.00" image="img-demo/products/14.jpg" %}
                </div>

                <div class="col-md-3 col-sm-6">
                    {% include product.html  name="Parker crossbody bag" price="$ 192.99" sale="$456.00" image="img-demo/products/6.jpg"  %}
                </div>

                <div class="col-md-3 col-sm-6">
                    {% include product.html  name="Parker crossbody bag" price="$ 192.99" sale="$456.00" image="img-demo/products/22.jpg" %}
                </div>
            </div>

            <div class="text-center">
                <a href="#" class="btn btn-default btn-150">view more</a>
            </div>
        </div>
    </section>
</main><!-- .site-about -->
