---
layout: default
title: Lookbook
breadcrumbs:
    - Lookbook
---

<main class="site-main">
    {% include page-title.html background="5" %}

    <section class="section br-lookbook-wrapper">
        <div class="container mb-140">
            <div class="text-center">
                <h2 class="h1 heading-page fz-40 mb-35">Brilliant Lookbook Categories</h2>

                <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                        <select>
                            <option>All Categories</option>
                            <option>Lookbook Women</option>
                            <option>Lookbook Men</option>
                            <option>Lookbook kid</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="br-lookbook br-lookbook--moderm">
                <button type="button" class="slick-prev slick-prev-1">Previous</button>
                <button type="button" class="slick-next slick-next-1">Next</button>

                <div class="row">
                    <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1">

                        <div class="br-lookbook__gallery">
                            <div class="js-br-lookbook__gallery-moderm-1">
                                <div class="br-lookbook__item">
                                    <img src="img-demo/lookbook/1.jpg" alt="">
                                </div>

                                <div class="br-lookbook__item">
                                    <img src="img-demo/lookbook/2.jpg" alt="">
                                </div>
                            </div><!-- js-br-lookbook__gallery -->
                        </div><!-- br-lookbook__gallery -->

                        <div class="br-lookbook__main">
                            <h2 class="br-lookbook__name"><a href="#">Seafaring &amp; Sporty</a></h2><!-- br-lookbook__name -->

                            <div class="br-lookbook__description">
                                <p>The Spring Summer 2013 collection is based on a road trip through California. Drawing on the influences of surfer culture and the vibrant colours of the streets, the collection nods to a 50s aesthetic with clean tailored lines and more fitted silhouettes.</p>
                            </div>

                            <a href="#" class="btn btn-default btn-150">view colletion</a>
                        </div><!-- br-lookbook__main -->

                    </div>
                </div>
            </div><!-- br-lookbook -->

            <div class="br-lookbook br-lookbook--moderm">
                <button type="button" class="slick-prev slick-prev-2 ">Previous</button>
                <button type="button" class="slick-next slick-next-2">Next</button>

                <div class="row">
                    <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1">

                        <div class="br-lookbook__gallery">
                            <div class="js-br-lookbook__gallery-moderm-2">
                                <div class="br-lookbook__item">
                                    <img src="img-demo/lookbook/2.jpg" alt="">
                                </div>

                                <div class="br-lookbook__item">
                                    <img src="img-demo/lookbook/4.jpg" alt="">
                                </div>
                            </div><!-- js-br-lookbook__gallery -->
                        </div><!-- br-lookbook__gallery -->

                        <div class="br-lookbook__main">
                            <h2 class="br-lookbook__name"><a href="#">Seafaring &amp; Sporty</a></h2><!-- br-lookbook__name -->

                            <div class="br-lookbook__description">
                                <p>The Spring Summer 2013 collection is based on a road trip through California. Drawing on the influences of surfer culture and the vibrant colours of the streets, the collection nods to a 50s aesthetic with clean tailored lines and more fitted silhouettes.</p>
                            </div>

                            <a href="#" class="btn btn-default btn-150">view colletion</a>
                        </div><!-- br-lookbook__main -->

                    </div>
                </div>
            </div><!-- br-lookbook -->

            <div class="br-lookbook br-lookbook--moderm">
                <button type="button" class="slick-prev slick-prev-3">Previous</button>
                <button type="button" class="slick-next slick-next-3">Next</button>

                <div class="row">
                    <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1">

                        <div class="br-lookbook__gallery">
                            <div class="js-br-lookbook__gallery-moderm-3">
                                <div class="br-lookbook__item">
                                    <img src="img-demo/lookbook/3.jpg" alt="">
                                </div>

                                <div class="br-lookbook__item">
                                    <img src="img-demo/lookbook/2.jpg" alt="">
                                </div>
                            </div><!-- js-br-lookbook__gallery -->
                        </div><!-- br-lookbook__gallery -->

                        <div class="br-lookbook__main">
                            <h2 class="br-lookbook__name"><a href="#">Spring &amp; Summer 2016</a></h2><!-- br-lookbook__name -->

                            <div class="br-lookbook__description">
                                <p>The Spring Summer 2013 collection is based on a road trip through California. Drawing on the influences of surfer culture and the vibrant colours of the streets, the collection nods to a 50s aesthetic with clean tailored lines and more fitted silhouettes.</p>
                            </div>

                            <a href="#" class="btn btn-default btn-150">view colletion</a>
                        </div><!-- br-lookbook__main -->

                    </div>
                </div>
            </div><!-- br-lookbook -->

            <div class="br-lookbook br-lookbook--moderm mb-140">
                <button type="button" class="slick-prev slick-prev-4">Previous</button>
                <button type="button" class="slick-next slick-next-4">Next</button>

                <div class="row">
                    <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1">

                        <div class="br-lookbook__gallery">
                            <div class="js-br-lookbook__gallery-moderm-4">
                                <div class="br-lookbook__item">
                                    <img src="img-demo/lookbook/4.jpg" alt="">
                                </div>

                                <div class="br-lookbook__item">
                                    <img src="img-demo/lookbook/1.jpg" alt="">
                                </div>
                            </div><!-- js-br-lookbook__gallery -->
                        </div><!-- br-lookbook__gallery -->

                        <div class="br-lookbook__main">
                            <h2 class="br-lookbook__name"><a href="#">Autumn Collection Minimal Style</a></h2><!-- br-lookbook__name -->

                            <div class="br-lookbook__description">
                                <p>The Spring Summer 2013 collection is based on a road trip through California. Drawing on the influences of surfer culture and the vibrant colours of the streets, the collection nods to a 50s aesthetic with clean tailored lines and more fitted silhouettes.</p>
                            </div>

                            <a href="#" class="btn btn-default btn-150">view colletion</a>
                        </div><!-- br-lookbook__main -->

                    </div>
                </div>
            </div><!-- br-lookbook -->

             <div class="text-center">
                <a href="#" class="btn btn-default btn-150">view more</a>
            </div>
        </div>
    </section>
</main>
