---
title: Portfolio
layout: default
breadcrumbs:
    - Portfolio
---

<main class="site-main">
    {% include page-title.html class="mb-65" %}

    <section class="section pt-60">
        <h2 class="sr-only">portfolio</h2>

        <nav class="filters">
            <a class="current" href="#" data-filter="*">all</a>
            <a href="#" data-filter=".branding">branding <span class="count">4</span></a>
            <a href="#" data-filter=".decor">decor <span class="count">6</span></a>
            <a href="#" data-filter=".fashion">fashion <span class="count">2</span></a>
            <a href="#" data-filter=".photography">photography <span class="count">8</span></a>
        </nav>

        <div class="js-br-card-hover br-card-wrapper br-card-fullwide br-portfolio mb-50" data-col="4" data-gap="0">
            <div class="filtering__container">

                <div class="br-card inner-title branding decor">
                    <div class="br-card__media">
                        <div class="br-card__thumb">
                            <a href="#">
                                <img src="img-demo/portfolio-fullwide/1.jpg" alt="">
                            </a>

                            <div class="br-card__hover">
                                <div class="br-card__main">
                                    <h4 class="br-card__title"><a href="#">Minimal Office Clean</a></h4>
                                    <span>Decor / Photography</span>
                                </div>
                            </div>
                        </div>
                    </div><!-- br-card__media -->
                </div><!-- br-cart -->

                <div class="br-card inner-title fashion photography">
                    <div class="br-card__media">
                        <div class="br-card__thumb">
                            <a href="#">
                                <img src="img-demo/portfolio-fullwide/2.jpg" alt="">
                            </a>

                            <div class="br-card__hover">
                                <div class="br-card__main">
                                    <h4 class="br-card__title"><a href="#">Minimal Office Clean</a></h4>
                                    <span>Decor / Photography</span>
                                </div>
                            </div>
                        </div>
                    </div><!-- br-card__media -->
                </div><!-- br-cart -->

                <div class="br-card inner-title branding fashion">
                    <div class="br-card__media">
                        <div class="br-card__thumb">
                            <a href="#">
                                <img src="img-demo/portfolio-fullwide/3.jpg" alt="">
                            </a>

                            <div class="br-card__hover">
                                <div class="br-card__main">
                                    <h4 class="br-card__title"><a href="#">Minimal Office Clean</a></h4>
                                    <span>Decor / Photography</span>
                                </div>
                            </div>
                        </div>
                    </div><!-- br-card__media -->
                </div><!-- br-cart -->

                <div class="br-card inner-title branding decor">
                    <div class="br-card__media">
                        <div class="br-card__thumb">
                            <a href="#">
                                <img src="img-demo/portfolio-fullwide/4.jpg" alt="">
                            </a>

                            <div class="br-card__hover">
                                <div class="br-card__main">
                                    <h4 class="br-card__title"><a href="#">Minimal Office Clean</a></h4>
                                    <span>Decor / Photography</span>
                                </div>
                            </div>
                        </div>
                    </div><!-- br-card__media -->
                </div><!-- br-cart -->

                <div class="br-card inner-title decor photography">
                    <div class="br-card__media">
                        <div class="br-card__thumb">
                            <a href="#">
                                <img src="img-demo/portfolio-fullwide/5.jpg" alt="">
                            </a>

                            <div class="br-card__hover">
                                <div class="br-card__main">
                                    <h4 class="br-card__title"><a href="#">Minimal Office Clean</a></h4>
                                    <span>Decor / Photography</span>
                                </div>
                            </div>
                        </div>
                    </div><!-- br-card__media -->
                </div><!-- br-cart -->

                <div class="br-card inner-title decor photography">
                    <div class="br-card__media">
                        <div class="br-card__thumb">
                            <a href="#">
                                <img src="img-demo/portfolio-fullwide/6.jpg" alt="">
                            </a>

                            <div class="br-card__hover">
                                <div class="br-card__main">
                                    <h4 class="br-card__title"><a href="#">Minimal Office Clean</a></h4>
                                    <span>Decor / Photography</span>
                                </div>
                            </div>
                        </div>
                    </div><!-- br-card__media -->
                </div><!-- br-cart -->

                <div class="br-card inner-title decor photography">
                    <div class="br-card__media">
                        <div class="br-card__thumb">
                            <a href="#">
                                <img src="img-demo/portfolio-fullwide/7.jpg" alt="">
                            </a>

                            <div class="br-card__hover">
                                <div class="br-card__main">
                                    <h4 class="br-card__title"><a href="#">Minimal Office Clean</a></h4>
                                    <span>Decor / Photography</span>
                                </div>
                            </div>
                        </div>
                    </div><!-- br-card__media -->
                </div><!-- br-cart -->

                <div class="br-card inner-title decor">
                    <div class="br-card__media">
                        <div class="br-card__thumb">
                            <a href="#">
                                <img src="img-demo/portfolio-fullwide/8.jpg" alt="">
                            </a>

                            <div class="br-card__hover">
                                <div class="br-card__main">
                                    <h4 class="br-card__title"><a href="#">Minimal Office Clean</a></h4>
                                    <span>Decor / Photography</span>
                                </div>
                            </div>
                        </div>
                    </div><!-- br-card__media -->
                </div><!-- br-cart -->

                <div class="br-card inner-title decor">
                    <div class="br-card__media">
                        <div class="br-card__thumb">
                            <a href="#">
                                <img src="img-demo/portfolio-fullwide/9.jpg" alt="">
                            </a>

                            <div class="br-card__hover">
                                <div class="br-card__main">
                                    <h4 class="br-card__title"><a href="#">Minimal Office Clean</a></h4>
                                    <span>Decor / Photography</span>
                                </div>
                            </div>
                        </div>
                    </div><!-- br-card__media -->
                </div><!-- br-cart -->

                <div class="br-card inner-title decor">
                    <div class="br-card__media">
                        <div class="br-card__thumb">
                            <a href="#">
                                <img src="img-demo/portfolio-fullwide/10.jpg" alt="">
                            </a>

                            <div class="br-card__hover">
                                <div class="br-card__main">
                                    <h4 class="br-card__title"><a href="#">Minimal Office Clean</a></h4>
                                    <span>Decor / Photography</span>
                                </div>
                            </div>
                        </div>
                    </div><!-- br-card__media -->
                </div><!-- br-cart -->

                <div class="br-card inner-title decor">
                    <div class="br-card__media">
                        <div class="br-card__thumb">
                            <a href="#">
                                <img src="img-demo/portfolio-fullwide/11.jpg" alt="">
                            </a>

                            <div class="br-card__hover">
                                <div class="br-card__main">
                                    <h4 class="br-card__title"><a href="#">Minimal Office Clean</a></h4>
                                    <span>Decor / Photography</span>
                                </div>
                            </div>
                        </div>
                    </div><!-- br-card__media -->
                </div><!-- br-cart -->

                <div class="br-card inner-title decor">
                    <div class="br-card__media">
                        <div class="br-card__thumb">
                            <a href="#">
                                <img src="img-demo/portfolio-fullwide/12.jpg" alt="">
                            </a>

                            <div class="br-card__hover">
                                <div class="br-card__main">
                                    <h4 class="br-card__title"><a href="#">Minimal Office Clean</a></h4>
                                    <span>Decor / Photography</span>
                                </div>
                            </div>
                        </div>
                    </div><!-- br-card__media -->
                </div><!-- br-cart -->
            </div>
        </div>

        <div class="text-center">
            <a href="#" class="btn btn-default">view more</a>
        </div>

    </section>
</main>
