---
title: Portfolio
layout: default
breadcrumbs:
    - Portfolio
---

<main class="site-main">

    {% include page-title.html class="mb-65" %}

    <section class="section pt-60">
        <div class="container">
            <h2 class="sr-only">portfolio</h2>

            <nav class="filters">
                <a class="current" href="#" data-filter="*">all</a>
                <a href="#" data-filter=".branding">branding <span class="count">4</span></a>
                <a href="#" data-filter=".decor">decor <span class="count">6</span></a>
                <a href="#" data-filter=".fashion">fashion <span class="count">2</span></a>
                <a href="#" data-filter=".photography">photography <span class="count">8</span></a>
            </nav>

            <div class="js-br-card-hover br-card-wrapper br-portfolio mb-30" data-col="3" data-gap="30">
                <div class="filtering__container">

                    <div class="br-card branding decor">
                        <div class="br-card__media">
                            <div class="br-card__thumb">

                                <a href="#"><img src="img-demo/portfolio/1.jpg" alt=""></a>

                                <div class="br-card__hover">
                                    <a href="#"><i class="br br-plus"></i></a>
                                </div>
                            </div>
                        </div><!-- br-card__media -->

                        <div class="br-card__main">
                            <h4 class="br-card__title"><a href="#">Minimal Office Clean</a></h4>
                            <span>Decor / Photography</span>
                        </div>
                    </div><!-- br-cart -->

                    <div class="br-card fashion photography">
                        <div class="br-card__media">
                            <div class="br-card__thumb">
                                <a href="#">
                                    <img src="img-demo/portfolio/2.jpg" alt="">
                                </a>

                                <div class="br-card__hover">
                                    <a href="#"><i class="br br-plus"></i></a>
                                </div>
                            </div>
                        </div><!-- br-card__media -->

                        <div class="br-card__main">
                            <h4 class="br-card__title"><a href="#">Minimal Office Clean</a></h4>
                            <span>Decor / Photography</span>
                        </div>
                    </div><!-- br-cart -->

                    <div class="br-card branding fashion">
                        <div class="br-card__media">
                            <div class="br-card__thumb">
                                <a href="#">
                                    <img src="img-demo/portfolio/3.jpg" alt="">
                                </a>

                                <div class="br-card__hover">
                                    <a href="#"><i class="br br-plus"></i></a>
                                </div>
                            </div>
                        </div><!-- br-card__media -->

                        <div class="br-card__main">
                            <h4 class="br-card__title"><a href="#">Minimal Office Clean</a></h4>
                            <span>Decor / Photography</span>
                        </div>
                    </div><!-- br-cart -->

                    <div class="br-card decor photography">
                        <div class="br-card__media">
                            <div class="br-card__thumb">
                                <a href="#">
                                    <img src="img-demo/portfolio/4.jpg" alt="">
                                </a>

                                <div class="br-card__hover">
                                    <a href="#"><i class="br br-plus"></i></a>
                                </div>
                            </div>
                        </div><!-- br-card__media -->

                        <div class="br-card__main">
                            <h4 class="br-card__title"><a href="#">Minimal Office Clean</a></h4>
                            <span>Decor / Photography</span>
                        </div>
                    </div><!-- br-cart -->

                    <div class="br-card decor photography">
                        <div class="br-card__media">
                            <div class="br-card__thumb">
                                <a href="#">
                                    <img src="img-demo/portfolio/5.jpg" alt="">
                                </a>

                                <div class="br-card__hover">
                                    <a href="#"><i class="br br-plus"></i></a>
                                </div>
                            </div>
                        </div><!-- br-card__media -->

                        <div class="br-card__main">
                            <h4 class="br-card__title"><a href="#">Minimal Office Clean</a></h4>
                            <span>Decor / Photography</span>
                        </div>
                    </div><!-- br-cart -->

                    <div class="br-card decor photography">
                        <div class="br-card__media">
                            <div class="br-card__thumb">
                                <a href="#">
                                    <img src="img-demo/portfolio/6.jpg" alt="">
                                </a>

                                <div class="br-card__hover">
                                    <a href="#"><i class="br br-plus"></i></a>
                                </div>
                            </div>
                        </div><!-- br-card__media -->

                        <div class="br-card__main">
                            <h4 class="br-card__title"><a href="#">Minimal Office Clean</a></h4>
                            <span>Decor / Photography</span>
                        </div>
                    </div><!-- br-cart -->

                    <div class="br-card branding decor">
                        <div class="br-card__media">
                            <div class="br-card__thumb">
                                <a href="#">
                                    <img src="img-demo/portfolio/7.jpg" alt="">
                                </a>

                                <div class="br-card__hover">
                                    <a href="#"><i class="br br-plus"></i></a>
                                </div>
                            </div>
                        </div><!-- br-card__media -->

                        <div class="br-card__main">
                            <h4 class="br-card__title"><a href="#">Minimal Office Clean</a></h4>
                            <span>Decor / Photography</span>
                        </div>
                    </div><!-- br-cart -->

                    <div class="br-card decor branding">
                        <div class="br-card__media">
                            <div class="br-card__thumb">
                                <a href="#">
                                    <img src="img-demo/portfolio/8.jpg" alt="">
                                </a>

                                <div class="br-card__hover">
                                    <a href="#"><i class="br br-plus"></i></a>
                                </div>
                            </div>
                        </div><!-- br-card__media -->

                        <div class="br-card__main">
                            <h4 class="br-card__title"><a href="#">Minimal Office Clean</a></h4>
                            <span>Decor / Photography</span>
                        </div>
                    </div><!-- br-cart -->

                    <div class="br-card decor branding photography">
                        <div class="br-card__media">

                            <div class="js-br-card-slide br-slick-white">
                                <div><img src="img-demo/portfolio/1.jpg" alt=""></div>
                                <div><img src="img-demo/portfolio/2.jpg" alt=""></div>
                                <div><img src="img-demo/portfolio/3.jpg" alt=""></div>
                            </div>

                        </div><!-- br-card__media -->

                        <div class="br-card__main">
                            <h4 class="br-card__title"><a href="#">Minimal Office Clean</a></h4>
                            <span>Decor / Photography</span>
                        </div>
                    </div><!-- br-card -->
                </div>
            </div>

            <div class="text-center">
                <a href="#" class="btn btn-default">view more</a>
            </div>
        </div>
    </section>
</main>
