---
title: Portfolio
layout: default
breadcrumbs:
    - Clean Office Work Space
    - Portfolio
---

<main>
    {% include page-title.html background="1" class="mb-0" %}

    <section class="section pb-40">
        <div class="container">
            <div class="br-bb">
                <div class="br-relative br-portfolio-detail mb-25">
                    <a href="#" class="fz-10"><i class="fa fa-arrow-left fz-12 mr-10" aria-hidden="true"></i>Back to Portfolio</a>

                    <div class="br-slick-outline">
                        <button type="button" class="slick-prev">Previous</button>
                        <button type="button" class="slick-next">Next</button>
                    </div>
                </div>

                <div class="pb-80">
                    <img src="img-demo/portfolio/13.jpg" alt="">
                </div>

                <div class="mb-80">
                    <div class="row ">
                        <div class="col-md-6 col-md-offset-3">
                            <div class="text-center">
                                <h2 class="text-uppercase normal mb-20">clean office work space</h2>

                                <p class="mb-50">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>

                                <p class="mb-35">Nulla ridiculus eu a curae ut sed in augue accumsan vestibulum dictumst fermentum at sem himenaeos netus netus nam convallis.Enim a cursus hendrerit lobortis class nec ad fusce nisi a viverra vestibulum a nec ullamcorper vel.A nulla at tristique scelerisque. Laboris turkey in et chuck deserunt ad incididunt do.</p>

                                <table class="table table-hover table-information mb-40">
                                    <tbody>
                                        <tr>
                                            <th>Client</th>
                                            <td>Brilliant Unique</td>
                                        </tr>

                                        <tr>
                                            <th>Date</th>
                                            <td>June 08 2045</td>
                                        </tr>

                                        <tr>
                                            <th>Categories</th>
                                            <td>Deco, Photography</td>
                                        </tr>
                                    </tbody>
                                </table>

                                <div class="nav-social-wrapper text-center">
                                    <span>Share</span>
                                    <ul class="nav-social">
                                        <li>
                                            <a href="#" target="_blank" tabindex="0">
                                                <i class="fa fa-instagram"></i>
                                                <span class="sr-only">Google Plus</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" target="_blank" tabindex="0">
                                                <i class="fa fa-facebook"></i>
                                                <span class="sr-only">Facebook</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" target="_blank" tabindex="0">
                                                <i class="fa fa-pinterest"></i>
                                                <span class="sr-only">Pinterest</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" data-toggle="tooltip" target="_blank" data-original-title="" title="" tabindex="0">
                                                <i class="fa fa-twitter"></i>
                                                <span class="sr-only">Twitter</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" target="_blank" tabindex="0">
                                                <i class="fa fa-tumblr"></i>
                                                <span class="sr-only">Tumblr</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="pb-40">
                    <img src="img-demo/portfolio/14.jpg" alt="">
                </div>

                <div class="pb-40">
                    <img src="img-demo/portfolio/15.jpg" alt="">
                </div>

                <div class="pb-80">
                    <img src="img-demo/portfolio/16.jpg" alt="">
                </div>
            </div>

            <div class="pt-70">
                <h2 class="h1 text-uppercase text-center mb-35">Related portfolio</h2>

                <div class="js-portfolio-slider js-br-card-hover br-card-wrapper-nojs br-portfolio br-slick-white" data-col="3" data-gap="30">

                    <div class="br-card branding decor">
                        <div class="br-card__media">
                            <div class="br-card__thumb">

                                <a href="#"><img src="img-demo/portfolio/1.jpg" alt=""></a>

                                <div class="br-card__hover">
                                    <a href="#"><i class="br br-plus"></i></a>
                                </div>
                            </div>
                        </div><!-- br-card__media -->

                        <div class="br-card__main">
                            <h4 class="br-card__title"><a href="#">Minimal Office Clean</a></h4>
                            <span>Decor / Photography</span>
                        </div>
                    </div><!-- br-cart -->

                    <div class="br-card fashion photography">
                        <div class="br-card__media">
                            <div class="br-card__thumb">
                                <a href="#">
                                    <img src="img-demo/portfolio/2.jpg" alt="">
                                </a>

                                <div class="br-card__hover">
                                    <a href="#"><i class="br br-plus"></i></a>
                                </div>
                            </div>
                        </div><!-- br-card__media -->

                        <div class="br-card__main">
                            <h4 class="br-card__title"><a href="#">Minimal Office Clean</a></h4>
                            <span>Decor / Photography</span>
                        </div>
                    </div><!-- br-cart -->

                    <div class="br-card branding fashion">
                        <div class="br-card__media">
                            <div class="br-card__thumb">
                                <a href="#">
                                    <img src="img-demo/portfolio/3.jpg" alt="">
                                </a>

                                <div class="br-card__hover">
                                    <a href="#"><i class="br br-plus"></i></a>
                                </div>
                            </div>
                        </div><!-- br-card__media -->

                        <div class="br-card__main">
                            <h4 class="br-card__title"><a href="#">Minimal Office Clean</a></h4>
                            <span>Decor / Photography</span>
                        </div>
                    </div><!-- br-cart -->

                    <div class="br-card decor photography">
                        <div class="br-card__media">
                            <div class="br-card__thumb">
                                <a href="#">
                                    <img src="img-demo/portfolio/4.jpg" alt="">
                                </a>

                                <div class="br-card__hover">
                                    <a href="#"><i class="br br-plus"></i></a>
                                </div>
                            </div>
                        </div><!-- br-card__media -->

                        <div class="br-card__main">
                            <h4 class="br-card__title"><a href="#">Minimal Office Clean</a></h4>
                            <span>Decor / Photography</span>
                        </div>
                    </div><!-- br-cart -->
                </div>
            </div>
        </div>
    </section>
</main>
