---
title: Portfolio
layout: default
breadcrumbs:
    - Portfolio
---

<main class="site-main">
    {% include page-title.html class="mb-65" %}

    <section class="section pt-60">
        <div class="container">
            <h2 class="sr-only">portfolio</h2>

            <nav class="filters">
                <a class="current" href="#" data-filter="*">all</a>
                <a href="#" data-filter=".branding">branding <span class="count">4</span></a>
                <a href="#" data-filter=".decor">decor <span class="count">6</span></a>
                <a href="#" data-filter=".fashion">fashion <span class="count">2</span></a>
                <a href="#" data-filter=".photography">photography <span class="count">8</span></a>
            </nav>

            <div class="js-br-card-hover br-card-wrapper br-portfolio mb-50" data-col="3" data-gap="30">
                <div class="filtering__container">
                    <div class="br-card inner-title br-card--quad-w2 branding">
                        <div class="br-card__media">
                            <div class="br-card__thumb">
                                <a href="#">
                                    <img src="img-demo/portfolio/1-square-w2.jpg" alt="">
                                </a>

                                <div class="br-card__hover">
                                    <div class="br-card__main">
                                        <h4 class="br-card__title"><a href="#">Minimal Office Clean</a></h4>
                                        <span>Decor / Photography</span>
                                    </div>
                                </div>
                            </div>
                        </div><!-- br-card__media -->
                    </div><!-- br-cart inner-title -->

                    <div class="br-card inner-title br-card--quad decor photography">
                        <div class="br-card__media">
                            <div class="br-card__thumb">
                                <a href="#">
                                    <img src="img-demo/portfolio/2-square.jpg" alt="">
                                </a>

                                <div class="br-card__hover">
                                    <div class="br-card__main">
                                        <h4 class="br-card__title"><a href="#">Minimal Office Clean</a></h4>
                                        <span>Decor / Photography</span>
                                    </div>
                                </div>
                            </div>
                        </div><!-- br-card__media -->
                    </div><!-- br-cart inner-title -->

                    <div class="br-card inner-title br-card--quad decor fashion">
                        <div class="br-card__media">
                            <div class="br-card__thumb">
                                <a href="#">
                                    <img src="img-demo/portfolio/3-square.jpg" alt="">
                                </a>

                                <div class="br-card__hover">
                                    <div class="br-card__main">
                                        <h4 class="br-card__title"><a href="#">Minimal Office Clean</a></h4>
                                        <span>Decor / Photography</span>
                                    </div>
                                </div>
                            </div>
                        </div><!-- br-card__media -->
                    </div><!-- br-cart inner-title -->

                    <div class="br-card inner-title br-card--quad decor photography">
                        <div class="br-card__media">
                            <div class="br-card__thumb">
                                <a href="#">
                                    <img src="img-demo/portfolio/4-square.jpg" alt="">
                                </a>

                                <div class="br-card__hover">
                                    <div class="br-card__main">
                                        <h4 class="br-card__title"><a href="#">Minimal Office Clean</a></h4>
                                        <span>Decor / Photography</span>
                                    </div>
                                </div>
                            </div>
                        </div><!-- br-card__media -->
                    </div><!-- br-cart inner-title -->

                    <div class="br-card inner-title br-card--quad fashion">
                        <div class="br-card__media">
                            <div class="br-card__thumb">
                                <a href="#">
                                    <img src="img-demo/portfolio/5-square.jpg" alt="">
                                </a>

                                <div class="br-card__hover">
                                    <div class="br-card__main">
                                        <h4 class="br-card__title"><a href="#">Minimal Office Clean</a></h4>
                                        <span>Decor / Photography</span>
                                    </div>
                                </div>
                            </div>
                        </div><!-- br-card__media -->
                    </div><!-- br-cart inner-title -->

                    <div class="br-card inner-title br-card--quad fashion photography">
                        <div class="br-card__media">
                            <div class="br-card__thumb">
                                <a href="#">
                                    <img src="img-demo/portfolio/6-square.jpg" alt="">
                                </a>

                                <div class="br-card__hover">
                                    <div class="br-card__main">
                                        <h4 class="br-card__title"><a href="#">Minimal Office Clean</a></h4>
                                        <span>Decor / Photography</span>
                                    </div>
                                </div>
                            </div>
                        </div><!-- br-card__media -->
                    </div><!-- br-cart inner-title -->

                    <div class="br-card inner-title br-card--quad-w2 branding decor">
                        <div class="br-card__media">
                            <div class="br-card__thumb">
                                <a href="#">
                                    <img src="img-demo/portfolio/7-square-w2.jpg" alt="">
                                </a>

                                <div class="br-card__hover">
                                    <div class="br-card__main">
                                        <h4 class="br-card__title"><a href="#">Minimal Office Clean</a></h4>
                                        <span>Decor / Photography</span>
                                    </div>
                                </div>
                            </div>
                        </div><!-- br-card__media -->
                    </div><!-- br-cart inner-title -->

                </div>

            </div>

            <div class="text-center">
                <a href="#" class="btn btn-default">view more</a>
            </div>
        </div>
    </section>
</main>
