---
title: Shop Men
layout: default
breadcrumbs:
    - Men
---

<main class="site-main">
    {% include page-title-classic.html class="mb-0" background="12" %}


        <section>
            {% include filter.html product-list="" %}

            <div class="container">
                <div class="row">

                    <div class="col-md-9">
                        {% include product-list.html  name="Glasses Dramos " price="168.00" image="img-demo/products/23.jpg" label="new"  %}

                        {% include product-list.html  name="Glasses Dramos " price="168.00" image="img-demo/products/1.jpg" label="new"  %}

                        {% include product-list.html  name="Glasses Dramos " price="168.00" image="img-demo/products/24.jpg" label="new"  %}

                        {% include product-list.html  name="Glasses Dramos " price="168.00" image="img-demo/products/3.jpg" label="new"  %}

                        <div class="text-center br-pagination mb-35">
                            <ul class="pagination">
                                <li><a href="#"><i class="fa fa-arrow-left"></i></a></li>
                                <li class="active"><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li><a href="#"><i class="fa fa-arrow-right"></i></a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-3">
                        {% include sidebar-product.html %}
                    </div>
                </div>
            </div>
        </section>

</main>
