---
layout:
---

<div class="br-product-popup ">
    <div class="br-product br-product-detail br-product-slide-vertical">
            <div class="row no-gutters">
                <div class="col-md-6">
                    <!-- nav-default: Horizontal, add class .br-product-slide-vertical to nav: vertical -->
                    <div class="br-product__media-wrapper">
                        <div class="br-product__media br-product-slide-vertical-image pb-0">
                            <div class="br-product__image">
                                <div class="js-br-product-image">
                                    {% for i in (1..5) %}
                                        <div class="br-product__thumb">
                                            <img src="img-demo/products/details/{{ i }}.jpg" alt="">
                                        </div><!-- .br-product__thumb -->
                                    {% endfor %}

                                </div><!-- .js-bd-product-for-image -->
                            </div><!-- .br-product__image .br-product-slide-vertical-->

                            <div class="br-product-nav-wrapper">
                                <div class="js-br-product-nav br-slick-white">
                                    {% for i in (1..5) %}

                                        <div class="br-product-nav__item">
                                            <div class="br-product__thumb">
                                                <img src="img-demo/products/details/{{ i }}.jpg" alt="">
                                            </div><!-- .br-product__thumb -->
                                        </div>

                                    {% endfor %}
                                </div><!-- .js-br-product-nav -->
                            </div>
                        </div><!-- .br-product__media -->

                        <div class="modal modal-enlarge" id="enlarge-product">

                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><img src="img/icon_media_close.gif" alt=""></button>

                             <ul>
                                <li><img src="img-demo/products/details/p1.jpg" alt=""></li>
                                <li><img src="img-demo/products/details/p2.jpg" alt=""></li>
                                <li><img src="img-demo/products/details/p3.jpg" alt=""></li>
                                <li><img src="img-demo/products/details/p4.jpg" alt=""></li>
                                <li><img src="img-demo/products/details/p5.jpg" alt=""></li>
                                <li><img src="img-demo/products/details/p6.jpg" alt=""></li>
                            </ul>

                        </div><!-- .modal .modal-enlarge -->
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="br-product-detail__container">
                        <div class="br-product-detail__main">
                            <h2 class="text-uppercase normal">Marsella Romper</h2>

                            <div class="mb-20">
                                <span class="in-stock">In Stock</span>
                                <span class="sku">SKU: 603109</span>
                            </div>

                            <span class="br-product__price">
                                $ 68.00  - $ 128.00
                            </span> <!-- End .br-product__price -->

                            <div class="rating mb-15">
                                <span><i class="fa fa-star-o"></i></span><span><i class="fa fa-star-o"></i></span><span class="active"><i class="fa fa-star-o"></i></span><span><i class="fa fa-star-o"></i></span><span><i class="fa fa-star-o"></i></span>
                            </div>

                            <div class="br-product__description br-bb mb-25">
                                <p class="dark mb-20">A durable canvas backpack from Baggu with a relaxed, minimalist aesthetic. Features a push lock with drawstring closure, slim adjustable shoulder straps, two exterior zipper pockets and an interior wall pocket.</p>
                            </div>

                            <form action="index.html" class="mb-10">
                                <div class="row">
                                    <div class="col-xs-4">
                                        <select >
                                            <option>Select Size</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                        </select>
                                    </div>

                                    <div class="col-xs-4">
                                        <select >
                                            <option>Select Color</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                        </select>
                                    </div>

                                    <div class="col-xs-3">
                                        <label  class="sr-only">Select a value:</label>
                                        <input type="number" class="spinner" name="value" value="0">
                                    </div>
                                </div>

                                <button type="reset" value="Clear">Clear Selection</button>
                            </form>

                            <div class="variation-price mb-15">
                                <span class="br-product__price">
                                    $ 128.00   <del>$60.00</del>
                                </span> <!-- End .br-product__price -->
                            </div><!-- .variation-price -->

                            <div class="br-product__action mb-15">
                                <div class="tb">

                                    <div class="table-cell-center">
                                        <a href="#" class="btn btn-default btn-cart fz-12" data-placement="top" title="" data-original-title="cart">
                                            <i class="fa fa-shopping-bag fz-12"></i>
                                            <span>add to cart</span>
                                        </a>
                                    </div>

                                    <div class="table-cell-center">
                                        <a class="btn btn-default btn-outline" href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="wish list">
                                            <span class="sr-only">wish list</span>
                                            <i class="fa fa-heart fz-12"></i>
                                        </a>
                                    </div>

                                </div>
                            </div><!-- .br-product__action -->

                        </div><!-- .product-detail__main -->

                        <div class="overflow-hidden">
                            Category:
                            <ul class="br-category">
                                <li><a href="#">Accessories</a></li>
                                <li><a href="#">Bags</a></li>
                            </ul>
                            -    Tags:
                            <ul class="br-tags">
                                <li><a href="#">Bag</a></li>
                                <li><a href="#">Pink</a></li>
                                <li><a href="#">Color Clean</a></li>
                                <li><a href="#">Vintage</a></li>
                                <li><a href="#">Minimal</a></li>
                            </ul>
                        </div>

                    </div><!-- .br-product-detail__container -->
                </div>
            </div>
    </div><!-- .bd-product-detail -->
</div>
