---
title: Product Detail2
layout: default
---

<section class="section-detail">
    <div class="br-product br-product-detail">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="br-product__media br-product-slide-horizontal">
                        <div class="br-product__image">
                            <div class="js-br-product-image">
                                {% for i in (1..6) %}
                                    <div>
                                        <div class="br-product__thumb">
                                            <img src="img-demo/products/details/p{{ i }}.jpg" alt="">
                                        </div><!-- .br-product__thumb -->

                                    </div>
                                {% endfor %}

                            </div><!-- .js-bd-product-for-image -->


                            <div data-toggle="modal" data-target="#enlarge-product">
                                <a  href="#" class="br-icon br-enlarge" data-toggle="tooltip" title="Zoom">
                                    <span class="sr-only">Zoom</span>
                                    <i class="br br-plus"></i>
                                </a>
                            </div>

                            <a href="https://vimeo.com/56962340" class="br-icon br-play popup-video" data-toggle="tooltip" title="play">
                                <span class="sr-only">Play</span>
                                <i class="fa fa-play-circle" aria-hidden="true"></i>
                            </a>
                        </div><!-- .br-product__image -->

                        <div class="js-br-product-nav br-slick-white">
                            {% for i in (1..6) %}

                                <div class="br-product-nav__item">
                                    <div class="br-product__thumb">
                                        <img src="img-demo/products/details/p{{ i }}.jpg" alt="">
                                    </div><!-- .br-product__thumb -->
                                </div>

                            {% endfor %}
                        </div><!-- .js-br-product-nav -->
                    </div><!-- .br-product__media -->

                    <div class="modal modal-enlarge" id="enlarge-product"  >

                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><img src="img/icon_media_close.gif" alt=""></button>

                         <ul>
                            <li><img src="img-demo/products/details/p1.jpg" alt=""></li>
                            <li><img src="img-demo/products/details/p2.jpg" alt=""></li>
                            <li><img src="img-demo/products/details/p3.jpg" alt=""></li>
                            <li><img src="img-demo/products/details/p4.jpg" alt=""></li>
                            <li><img src="img-demo/products/details/p5.jpg" alt=""></li>
                            <li><img src="img-demo/products/details/p6.jpg" alt=""></li>
                        </ul>

                    </div><!-- .modal .modal-enlarge -->
                </div>

                <div class="col-lg-6">
                    <div class="br-product-detail__container">
                        <div class="br-product-detail__header">
                            <ul class="breadcrumb">
                                <li><a href="#">Brilliant</a></li>
                                <li><a href="#">Women</a></li>
                                <li><a href="#">Clother</a></li>
                                <li><a href="#">Sweatshirts</a></li>
                                <li class="active"><a href="#">Marsella Romper</a></li>
                            </ul><!-- .breadcrumb -->

                            <div class="br-slick-outline">
                                <button type="button" class="slick-prev">Previous</button>
                                <button type="button" class="slick-next">Next</button>
                            </div>

                        </div> <!-- End .br-product-detail__header -->

                        <div class="br-product-detail__main">
                            <h2 class="text-uppercase normal">Marsella Romper</h2>

                            <div class="mb-20">
                                <span class="in-stock">In Stock</span>
                                <span class="sku">SKU: 603109</span>
                            </div>

                            <span class="br-product__price fz-16">
                                $ 68.00  - $ 128.00
                            </span> <!-- End .br-product__price -->

                            <div class="rating mb-15">
                                <span><i class="fa fa-star-o"></i></span><span><i class="fa fa-star-o"></i></span><span class="active"><i class="fa fa-star-o"></i></span><span><i class="fa fa-star-o"></i></span><span><i class="fa fa-star-o"></i></span>
                            </div>

                            <div class="br-product__description">
                                <p>Nulla ridiculus eu a curae ut sed in augue accumsan vestibulum dictumst fermentum at sem himenaeos netus netus nam convallis.Enim a cursus hendrerit lobortis class nec ad fusce nisi a viverra vestibulum a nec ullamcorper vel.A nulla at tristique scelerisque. Laboris turkey in et chuck</p>
                            </div>

                            <form action="index.html" class="mb-20">
                                <div class="row">
                                    <div class="col-xs-4">
                                        <select >
                                            <option>Select Size</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                        </select>
                                    </div>

                                    <div class="col-xs-4">
                                        <select >
                                            <option>Select Color</option>
                                            <option>Red</option>
                                            <option>Blue</option>
                                            <option>Green</option>
                                            <option>Yellow</option>
                                        </select>
                                    </div>

                                    <div class="col-xs-3">
                                        <label  class="sr-only">Select a value:</label>
                                        <input type="number" class="spinner" name="value" value="0">
                                    </div>
                                </div>

                                <button type="reset" value="Clear">Clear Selection</button>
                            </form>

                            <div class="variation-price mb-20">
                                <span class="br-product__price">
                                    $ 128.00   <del>$60.00</del>
                                </span> <!-- End .br-product__price -->
                            </div><!-- .variation-price -->

                            <div class="br-product__action mb-15">
                                <div class="tb">

                                    <div class="table-cell-center">
                                        <a href="#" class="btn btn-default btn-cart" data-placement="top" title="" data-original-title="cart">
                                            <i class="fa fa-shopping-bag"></i>
                                            <span>add to cart</span>
                                        </a>
                                    </div>

                                    <div class="table-cell-center">
                                        <a class="btn btn-default btn-outline" href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="wish list">
                                            <span class="sr-only">wish list</span>
                                            <i class="fa fa-heart"></i>
                                        </a>
                                    </div>

                                </div>
                            </div><!-- .br-product__action -->

                            <div class="overflow-hidden">
                                Category:
                                <ul class="br-category">
                                    <li><a href="#">Accessories</a></li>
                                    <li><a href="#">Bags</a></li>
                                </ul>
                                -    Tags:
                                <ul class="br-tags">
                                    <li><a href="#">Bag</a></li>
                                    <li><a href="#">Pink</a></li>
                                    <li><a href="#">Color Clean</a></li>
                                    <li><a href="#">Vintage</a></li>
                                    <li><a href="#">Minimal</a></li>
                                </ul>
                            </div>
                        </div><!-- .product-detail__main -->

                        <div class="overflow-hidden">
                            Share

                            <ul class="nav-social">
                                <li>
                                    <a href="#" target="_blank">
                                        <i class="fa fa-instagram"></i>
                                        <span class="sr-only">Google Plus</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank">
                                        <i class="fa fa-facebook"></i>
                                        <span class="sr-only">Facebook</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank">
                                        <i class="fa fa-pinterest"></i>
                                        <span class="sr-only">Pinterest</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" data-toggle="tooltip" target="_blank" data-original-title="" title="">
                                        <i class="fa fa-twitter"></i>
                                        <span class="sr-only">Twitter</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank">
                                        <i class="fa fa-tumblr"></i>
                                        <span class="sr-only">Tumblr</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div><!-- .br-product-detail__container -->
                </div>
            </div>
        </div>
    </div><!-- .bd-product-detail -->
</section><!-- .section-detail -->

<section class="pt-60 br-bb pb-0">
    <div class="container">
        <div role="tabpanel">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs nav-tabs--row text-center mb-35" role="tablist">
                <li role="presentation" class="active">
                    <a href="#description" aria-controls="description" role="tab" data-toggle="tab">description</a>
                </li>
                <li role="presentation">
                    <a href="#information" aria-controls="information" role="tab" data-toggle="tab">Additional Information</a>
                </li>
                <li role="presentation">
                    <a href="#reviews" aria-controls="reviews" role="tab" data-toggle="tab">reviews</a>
                </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="description">
                    <div class="pb-80">
                        <p class="bold fz-16 dark">Lorem ipsum dolor sit amet isse potenti</p>

                        <p class="mb-30">Lorem ipsum dolor sit amet isse potenti. Vesquam ante aliquet lacusemper elit. Cras neque nulla, convallis non commodo et, euismod nonsese. At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum. –brown –100% suede –made in italy</p>

                        <p class="bold fz-16 dark">Lorem ipsum dolor sit amet isse potenti</p>

                        <ul class="list-description">
                            <li>Lightweight blouse in White</li>
                            <li>Round collar</li>
                            <li>Full length sleeve</li>
                            <li>Cuffs</li>
                            <li>Darted structure</li>
                            <li>Gathered front detail</li>
                            <li>Invisible zipper back</li>
                            <li>Slightly flare hem</li>
                            <li>Classic fit</li>
                            <li>70% cotton, 27% nylon, 3% spandex</li>
                            <li>Machine wash cold with like colors</li>
                        </ul>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="information">
                    <table class="table table-hover table-information mb-80">
                        <tbody>
                            <tr>
                                <th>Weight</th>
                                <td>0.5kg</td>
                            </tr>

                            <tr>
                                <th>Colour</th>
                                <td>Brown</td>
                            </tr>

                            <tr>
                                <th>Size</th>
                                <td>Large, Medium, Small</td>
                            </tr>

                            <tr>
                                <th>Fabric</th>
                                <td>Suede</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div role="tabpanel" class="tab-pane pb-55" id="reviews">
                    <div class="row mb-55">
                        <div class="col-md-7">
                            <div class="comments comments-rating">
                                <h4 class="comments-title text-uppercase mb-30"> Customer Reviews <small>(4 Reviews)</small> </h4>

                                <ol class="comment">
                                    <li>
                                        <article class="comment__body">
                                            <div class="comment__star">
                                                <div class="rating mb-20">
                                                    <span><i class="fa fa-star-o"></i></span><span><i class="fa fa-star-o"></i></span><span><i class="fa fa-star-o"></i></span><span  class="active"><i class="fa fa-star-o"></i></span><span><i class="fa fa-star-o"></i></span>
                                                </div>

                                                <div class="comment__meta">
                                                    <h5 class="comment__author mb-0">Cynthia Stewart</h5>
                                                    <!-- .comment-author -->
                                                    <div class="comment__metadata">
                                                        <a href="#">
                                                            <time datetime="2016-01-18T04:17:52+00:00">February 17, 2015</time>
                                                        </a>
                                                    </div>
                                                    <!-- .comment-metadata -->
                                                </div>
                                                <!-- .comment-meta -->
                                            </div>
                                            <div class="comment__container">
                                                <div class="comment__content">
                                                    <h4>Fantastic purchase!</h4>
                                                    <p>Egg whites, turkey sausage, wheat toast, water. Of course they don’t want us to eat our breakfast, so we are going to enjoy our breakfast. Egg whites, turkey sausage, wheat toast, water</p>
                                                </div>
                                                <!-- .comment-content -->
                                            </div>
                                            <div class="comment__actions">
                                                <a class="comment__link" href="#"><i class="fa fa-reply"></i>Reply</a>
                                                <a class="comment__link" href="#"><i class="fa fa-pencil-square-o"></i>Edit</a>
                                            </div>
                                        </article>
                                    </li>

                                    <li>
                                        <article class="comment__body">
                                            <div class="comment__star">
                                                <div class="rating mb-20">
                                                    <span><i class="fa fa-star-o"></i></span><span  class="active"><i class="fa fa-star-o"></i></span><span><i class="fa fa-star-o"></i></span><span><i class="fa fa-star-o"></i></span><span><i class="fa fa-star-o"></i></span>
                                                </div>

                                                <div class="comment__meta">
                                                    <h5 class="comment__author mb-0">Tom Cat</h5>
                                                    <!-- .comment-author -->
                                                    <div class="comment__metadata">
                                                        <a href="#">
                                                            <time datetime="2016-01-18T04:17:52+00:00">February 17, 2015</time>
                                                        </a>
                                                    </div>
                                                    <!-- .comment-metadata -->
                                                </div>
                                                <!-- .comment-meta -->
                                            </div>
                                            <div class="comment__container">
                                                <div class="comment__content">
                                                    <h4>Quality product</h4>
                                                    <p>Of course they don’t want us to eat our breakfast, so we are going to enjoy our breakfast. Look at the sunset, life is amazing, life is beautiful, life is what you make it. The key to success is to keep your head above the water, never give up. They will try to close the door on you, just open it</p>
                                                </div>
                                                <!-- .comment-content -->
                                            </div>
                                            <div class="comment__actions">
                                                <a class="comment__link" href="#"><i class="fa fa-reply"></i>Reply</a>
                                                <a class="comment__link" href="#"><i class="fa fa-pencil-square-o"></i>Edit</a>
                                            </div>
                                        </article>

                                        <ol class="children">
                                            <li>
                                                <article class="comment__body">
                                                    <div class="comment__star">
                                                        <div class="rating mb-20">
                                                            <span><i class="fa fa-star-o"></i></span><span><i class="fa fa-star-o"></i></span><span  class="active"><i class="fa fa-star-o"></i></span><span><i class="fa fa-star-o"></i></span><span><i class="fa fa-star-o"></i></span>
                                                        </div>

                                                        <div class="comment__meta">
                                                            <h5 class="comment__author mb-0">Jose Estrada</h5>
                                                            <!-- .comment-author -->
                                                            <div class="comment__metadata">
                                                                <a href="#">
                                                                    <time datetime="2016-01-18T04:17:52+00:00">February 17, 2015</time>
                                                                </a>
                                                            </div>
                                                            <!-- .comment-metadata -->
                                                        </div>
                                                        <!-- .comment-meta -->
                                                    </div>
                                                    <div class="comment__container">
                                                        <div class="comment__content">
                                                            <h4>Quality product</h4>
                                                            <p>Cras neque nulla, convallis non commodo et, euismod nonsese. At vero eos et accusamus et iusto odio dignimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti</p>
                                                        </div>
                                                        <!-- .comment-content -->
                                                    </div>
                                                    <div class="comment__actions">
                                                        <a class="comment__link" href="#"><i class="fa fa-reply"></i>Reply</a>
                                                        <a class="comment__link" href="#"><i class="fa fa-pencil-square-o"></i>Edit</a>
                                                    </div>
                                                </article>
                                            </li>
                                        </ol>
                                    </li>

                                    <li>
                                        <article class="comment__body">
                                            <div class="comment__star">
                                                <div class="rating mb-20">
                                                    <span><i class="fa fa-star-o"></i></span><span><i class="fa fa-star-o"></i></span><span><i class="fa fa-star-o"></i></span><span  class="active"><i class="fa fa-star-o"></i></span><span><i class="fa fa-star-o"></i></span>
                                                </div>

                                                <div class="comment__meta">
                                                    <h5 class="comment__author mb-0">Kyle Barrett</h5>
                                                    <!-- .comment-author -->
                                                    <div class="comment__metadata">
                                                        <a href="#">
                                                            <time datetime="2016-01-18T04:17:52+00:00">February 17, 2015</time>
                                                        </a>
                                                    </div>
                                                    <!-- .comment-metadata -->
                                                </div>
                                                <!-- .comment-meta -->
                                            </div>
                                            <div class="comment__container">
                                                <div class="comment__content">
                                                    <h4>My favourite jumper</h4>
                                                    <p>Cras neque nulla, convallis non commodo et, euismod nonsese. At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas</p>
                                                </div>
                                                <!-- .comment-content -->
                                            </div>
                                            <div class="comment__actions">
                                                <a class="comment__link" href="#"><i class="fa fa-reply"></i>Reply</a>
                                                <a class="comment__link" href="#"><i class="fa fa-pencil-square-o"></i>Edit</a>
                                            </div>
                                        </article>
                                    </li>
                                </ol>

                            </div><!-- .comments -->
                        </div>

                        <div class="col-md-5">
                            <div class="comment-respond pb-40">
                                <h3 class="text-uppercase mb-35">Add Reviews</h3>

                                <form action="index.html" method="post" class="comment-form">

                                    <p>
                                        <label class="sr-only" >Name</label>
                                        <input id="author" name="author" type="text" placeholder="Name" value="">
                                    </p>

                                    <p>
                                        <label class="sr-only" >Email</label>
                                        <input   name="email" type="email" placeholder="Email" value="">
                                    </p>

                                    <p>
                                        <label class="sr-only" >Title</label>
                                        <input id="title" name="title" type="text" placeholder="Title" value="">
                                    </p>

                                    <p>
                                        <label class="sr-only" >Comment</label>
                                        <textarea id="comment" name="comment" cols="45" rows="8" required="required" placeholder="Comment"></textarea>
                                    </p>

                                    <div class="commnent-submit">
                                        <span>You rating </span>
                                        <div class="rating rating-comment">
                                            <span><i class="fa fa-star-o"></i></span><span><i class="fa fa-star-o"></i></span><span><i class="fa fa-star-o"></i></span><span><i class="fa fa-star-o"></i></span><span><i class="fa fa-star-o"></i></span>
                                        </div>
                                        <input name="submit" type="submit" value="submit" class="submit btn-primary">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="pb-60 pt-80">
    <div class="container">
        <h2 class="br-title text-center">new arrivals</h2>

        <div class="row js-new-arrivals br-slick-white">
            <div class="col-md-3">
                {% include product.html  name="Glasses Dramos " price="168.00" image="img-demo/products/33.jpg" label="new"  %}
            </div>

            <div class="col-md-3">
                {% include product.html  name="Parker crossbody bag " price="98.00" image="img-demo/products/34.jpg" label="hot"  %}
            </div>

            <div class="col-md-3">
                {% include product.html  name="Glasses Dramos " price="49.50" sale="60.00" image="img-demo/products/35.jpg" label="sale"  %}
            </div>

            <div class="col-md-3">
                {% include product.html  name="Glasses Dramos " price="32.000" image="img-demo/products/36.jpg" label="popular,hot"  %}
            </div>

            <div class="col-md-3">
                {% include product.html  name="Glasses Dramos " price="32.00" image="img-demo/products/30.jpg" label="hot"  %}
            </div>
        </div>
    </div>
</section>


