---
layout: blog
title: Blog Detail
sidebar: left
breadcrumbs:
    - Blog
    - Fashion Collection For Women
---

<section class="pb-80">
    <h2 class="sr-only">form</h2>
    <div class="form-search mb-40">
        <form action="index.html">
            <label class="sr-only"  >search</label>
            <input name="search" type="text" placeholder="Search your entry here..." value="">

            <button type="button"><i class="fa fa-search" aria-hidden="true"></i></button>
        </form>
    </div>

    <article class="post post--sticky mb-30">
        <header class="entry-header">
            <div class="label-sticky">
                <i class="fa fa-star"></i>
            </div><!-- .label-sticky -->

            <div class="entry-media entry-media-thumbnail">
                <a href="#">
                    <img src="img-demo/blogs/2.jpg" alt="">
                </a><!-- br-img -->
            </div><!-- .entry-media -->
        </header><!-- entry-header -->

        <div class="entry-container">
            <div class="post-time">jun 24.2015</div><!-- post-time -->

            <h2 class="h1 entry-title">Fashion Collection For Women</h2>

            <div class="entry-meta mb-40">
                <ul class="entry-meta-list">
                    <li>Post by <a href="#">Brilliant</a> in the <a href="#">Women</a></li>
                    <li><a class="link-comment" href="#">16 Comments</a></li>
                    <li><a class="link-like" href="#">20 Like</a></li>
                </ul><!-- .entry-meta-list -->
            </div><!-- entry-meta -->

            <div class="post-content">
                <p><b>They (neuroscience research) say that humans are the only creatures who are able to empathize with other fellow humans because of the cognitive functions bestowed in our grey matter.</b></p>

                <p>We have evolved, or being made this way — which ever truth you believe in, to be able to feel the pain of another human’s struggle, to be able to rejoice in joy of another human’s triumph, and this is to me is truly what makes us human even when we are miles away from them and just watching events unfold through a TV screen or a twitter feed. Today was an excellent example of this cognitive phenomena.</p>

                <p class="mb-40">A massacre in Paris, a car bomb in Beirut, an earthquake in Japan, and countless other attacks where we humans have given into aggression (which is controlled by a very primitive part of the brain, and not one where higher cognitive functions such as analysis or thought processing and social responsibility take place) makes me wonder if we are turning the evolutionary clock backwards and </p>

                <div class="br-quote-bg mb-50">
                    <blockquote class="blockquote-white">
                        <p>In a free hour, when our power of choice is untrammelled and when nothing prevents our being able</p>
                        <small>Raymond Cruz</small>
                    </blockquote>
                </div>

                <p>They (neuroscience research) say that humans are the only creatures who are able to empathize with other fellow humans because of the cognitive functions bestowed in our grey matter. We have evolved, or <b>being made this way</b> — which ever truth you believe in, to be able to feel the pain of another human’s struggle, to be able to rejoice in joy of another human’s triumph, and this is to me is truly what makes us human even when we are miles away from them and just watching events unfold through</p>

                <p class="mb-40"><b>A tv screen or a twitter feed. Today was an excellent example of this cognitive phenomena.</b></p>

                <div class="br-card-wrapper-nojs mb-30" data-col="2" data-gap="5">
                    <div class="br-card">
                        <div class="br-card__media">
                            <div class="br-card__thumb">
                                <a href="#">
                                    <img src="img-demo/blogs/small-1.png" alt="">
                                </a>

                                <div class="br-card__hover">
                                    <a class="image-popup-vertical-fit" href="img-demo/blogs/small-1.png"><i class="br br-plus"></i></a>
                                </div>
                            </div>
                        </div><!-- br-card__media -->

                        <div class="br-card__main">
                            <a href="#">They neuroscience research</a>
                        </div>
                    </div><!-- br-cart -->

                    <div class="br-card">
                        <div class="br-card__media">
                            <div class="br-card__thumb">
                                <a href="#">
                                    <img src="img-demo/blogs/small-2.png" alt="">
                                </a>

                                <div class="br-card__hover">
                                    <a class="image-popup-vertical-fit" href="img-demo/blogs/small-2.png"><i class="br br-plus"></i></a>
                                </div>
                            </div>
                        </div><!-- br-card__media -->

                        <div class="br-card__main">
                            <a href="#">They neuroscience research</a>
                        </div>
                    </div><!-- br-cart -->
                </div>

                <p>So I may not have been in Paris with you or in Beirut or in Baghdad or wherever else your dignity was shattered through fear, and you may not have had the training I was given on how to deal with such a situation, but if you came out of this experience stronger than you were before, I salute you.</p>

                <p class="mb-35"><b>“There comes a day when these type of conflicts see their natural demise or an intervention that does the same job, and until then you need to be hopeful but never hateful.</b></p>

                <div class="overflow-hidden post-info mb-70">

                    <span class="small dark"><i class="fa fa-tag" aria-hidden="true"></i></span>
                    <nav class="small bold">
                        <a href="#">Brilliant,</a>
                        <a href="#">Unique,</a>
                        <a href="#">Fashion Women,</a>
                        <a href="#">Minimal</a>
                    </nav>

                    <ul class="entry-meta-list">
                        <li>Post by <a href="#">Brilliant</a> in the <a href="#">Women</a></li>
                    </ul><!-- .entry-meta-list -->
                </div>

                <div class="js-post-mini br-slick-white mb-70">
                    <article class="post br-background-color text-center">

                        <div class="entry-container">
                            <div class="post-time">jun 24.2015</div><!-- post-time -->

                            <h2 class="entry-title"><a href="#">Fashion Collection For Women</a></h2>

                            <div class="entry-meta">
                                <ul class="entry-meta-list">
                                    <li>Posted by <a href="#">Brilliant</a> in the <a href="#">Women, Kid</a></li>
                                </ul><!-- .entry-meta-list -->
                            </div><!-- entry-meta -->
                        </div><!-- entry-container -->
                    </article>

                    <article class="post br-background-color text-center">

                        <div class="entry-container">
                            <div class="post-time">jun 24.2015</div><!-- post-time -->

                            <h2 class="entry-title"><a href="#">Minimal Trending Fashion Summer 2016</a></h2>

                            <div class="entry-meta">
                                <ul class="entry-meta-list">
                                    <li>Posted by <a href="#">Brilliant</a> in the <a href="#">Women, Kid</a></li>
                                </ul><!-- .entry-meta-list -->
                            </div><!-- entry-meta -->
                        </div><!-- entry-container -->
                    </article>

                    <article class="post br-background-color text-center">

                        <div class="entry-container">
                            <div class="post-time">jun 24.2015</div><!-- post-time -->

                            <h2 class="entry-title"><a href="#">Fashion Collection For Women</a></h2>

                            <div class="entry-meta">
                                <ul class="entry-meta-list">
                                    <li>Posted by <a href="#">Brilliant</a> in the <a href="#">Women, Kid</a></li>
                                </ul><!-- .entry-meta-list -->
                            </div><!-- entry-meta -->
                        </div><!-- entry-container -->
                    </article>
                </div>

                <div class="comments mb-70">
                    <h3 class="comments-title text-uppercase mb-40"> Customer Reviews <small>(4 Reviews)</small> </h3>

                    <ol class="comment">
                        <li>
                            <article class="comment__body">
                                <div class="comment__avatar">
                                    <a href="#"><img alt="" src="img-demo/avatars/1-xs-comment.jpg"></a>
                                </div>
                                <div class="comment__container">
                                    <div class="comment__meta">
                                        <h5 class="comment__author">James Li</h5>
                                        <!-- .comment-author -->
                                        <div class="comment__metadata">
                                            <a href="#">
                                                <time datetime="2016-01-18T04:17:52+00:00">January 18, 2016 at 4:17 am </time>
                                            </a>
                                        </div>
                                        <!-- .comment-metadata -->
                                    </div>
                                    <!-- .comment-meta -->
                                    <div class="comment__content">
                                        <h4>Fantastic purchase!</h4>
                                        <p>Cape cod luxury little B&amp;B, centrally located to everything!! Attention to details is what they do from daily complimentary breakfast delivered to your room, anniversary champagne bottle waiting for us upon arrival.</p>
                                    </div>
                                    <!-- .comment-content -->
                                </div>
                                <div class="comment__actions">
                                    <a class="comment__link" href="#"><i class="fa fa-reply"></i>Reply</a>
                                    <a class="comment__link" href="#"><i class="fa fa-pencil-square-o"></i>Edit</a>
                                </div>
                            </article>
                        </li>

                        <li>
                            <article class="comment__body">
                                <div class="comment__avatar">
                                    <a href="#"><img alt="" src="img-demo/avatars/2-xs-comment.jpg"></a>
                                </div>
                                <div class="comment__container">
                                    <div class="comment__meta">
                                        <h5 class="comment__author">James Li</h5>
                                        <!-- .comment-author -->
                                        <div class="comment__metadata">
                                            <a href="#">
                                                <time datetime="2016-01-18T04:17:52+00:00">January 18, 2016 at 4:17 am </time>
                                            </a>
                                        </div>
                                        <!-- .comment-metadata -->
                                    </div>
                                    <!-- .comment-meta -->
                                    <div class="comment__content">
                                        <h4>Fantastic purchase!</h4>
                                        <p>Cape cod luxury little B&amp;B, centrally located to everything!! Attention to details is what they do from daily complimentary breakfast delivered to your room, anniversary champagne bottle waiting for us upon arrival.</p>
                                    </div>
                                    <!-- .comment-content -->
                                </div>
                                <div class="comment__actions">
                                    <a class="comment__link" href="#"><i class="fa fa-reply"></i>Reply</a>
                                    <a class="comment__link" href="#"><i class="fa fa-pencil-square-o"></i>Edit</a>
                                </div>
                            </article>

                            <ol class="children">
                                <li>
                                    <article class="comment__body">
                                        <div class="comment__avatar">
                                            <a href="#"><img alt="" src="img-demo/avatars/3-xs-comment.jpg"></a>
                                        </div>
                                        <div class="comment__container">
                                            <div class="comment__meta">
                                                <h5 class="comment__author">James Li</h5>
                                                <!-- .comment-author -->
                                                <div class="comment__metadata">
                                                    <a href="#">
                                                        <time datetime="2016-01-18T04:17:52+00:00">January 18, 2016 at 4:17 am </time>
                                                    </a>
                                                </div>
                                                <!-- .comment-metadata -->
                                            </div>
                                            <!-- .comment-meta -->
                                            <div class="comment__content">
                                                <h4>Fantastic purchase!</h4>
                                                <p>Cape cod luxury little B&amp;B, centrally located to everything!! Attention to details is what they do from daily complimentary breakfast delivered to your room, anniversary champagne bottle waiting for us upon arrival.</p>
                                            </div>
                                            <!-- .comment-content -->
                                        </div>
                                        <div class="comment__actions">
                                            <a class="comment__link" href="#"><i class="fa fa-reply"></i>Reply</a>
                                            <a class="comment__link" href="#"><i class="fa fa-pencil-square-o"></i>Edit</a>
                                        </div>
                                    </article>
                                </li>
                            </ol>

                        </li>
                    </ol>

                </div>

                <div class="comment-respond">
                    <h3 class="text-uppercase mb-35">Leave a Reply</h3>

                    <form action="index.html" method="post" class="comment-form">
                        <div class="row">
                            <div class="col-md-4">
                                <p>
                                    <label class="sr-only" >Name</label>
                                    <input id="author" name="author" type="text" placeholder="Name" value="">
                                </p>
                            </div>

                            <div class="col-md-4">
                                <p>
                                    <label class="sr-only" >Email</label>
                                    <input   name="email" type="email" placeholder="Email" value="">
                                </p>
                            </div>

                            <div class="col-md-4">
                                <p>
                                    <label class="sr-only" >Title</label>
                                    <input id="title" name="title" type="text" placeholder="Title" value="">
                                </p>
                            </div>
                        </div>

                        <p>
                            <label class="sr-only" >Comment</label>
                            <textarea id="comment" name="comment" cols="45" rows="8" required="required" placeholder="Comment"></textarea>
                        </p>

                        <p >
                            <input name="submit" type="submit" value="submit" class="submit btn-primary">
                        </p>
                    </form>
                </div>
            </div>
        </div><!-- entry-container -->
    </article>
</section>
