---
title: Typography
layout: default
breadcrumbs:
    - Typography
---

<main class="site-typo">
    {% include page-title.html background="6" %}

    <div class="container">
        <section class="section pb-40">
            <h2 class="h1 text-uppercase text-center mb-25">Heading Size</h2>

            <div class="br-heading">
                <div class="row">
                    <div class="col-md-3">
                        <h2 class="h1">Heading H1</h2>
                        <h2>Heading H2</h2>
                        <h3>Heading H3</h3>
                        <h4>Heading H4</h4>
                        <h5>Heading H5</h5>
                        <h6>Heading H6</h6>
                    </div>

                    <div class="col-md-3">
                        <h2 class="h1 text-uppercase">Heading H1</h2>
                        <h2 class="text-uppercase">Heading H2</h2>
                        <h3 class="text-uppercase">Heading H3</h3>
                        <h4 class="text-uppercase">Heading H4</h4>
                        <h5 class="text-uppercase">Heading H5</h5>
                        <h6 class="text-uppercase">Heading H6</h6>
                    </div>

                    <div class="col-md-3">
                        <h2 class="h1 text-uppercase normal">Heading H1</h2>
                        <h2 class="text-uppercase normal">Heading H2</h2>
                        <h3 class="text-uppercase normal">Heading H3</h3>
                        <h4 class="text-uppercase normal">Heading H4</h4>
                        <h5 class="text-uppercase normal">Heading H5</h5>
                        <h6 class="text-uppercase normal">Heading H6</h6>
                    </div>

                    <div class="col-md-3">
                        <h2 class="h1 font-secondary normal fz-50">Heading H1</h2>
                        <h2 class="font-secondary normal fz-40">Heading H2</h2>
                        <h3 class="font-secondary normal fz-30">Heading H3</h3>
                        <h4 class="font-secondary normal fz-20">Heading H4</h4>
                    </div>
                </div>
            </div>
        </section>

        <section class="pb-60">
            <h2 class="h1 text-uppercase text-center mb-30">paragraph</h2>

            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="text-center">
                        <p class="mb-20"><b>They (neuroscience research) say that humans are the only creatures who are able to empathize with other fellow humans because of the cognitive functions bestowed in our grey matter.</b></p>
                        <p class="mb-25">A massacre in Paris, a car bomb in <b>Beirut</b>, an earthquake in Japan, and <u>countless other attacks where we humans have given into aggression</u> (which is controlled by a very primitive part of the brain, and not one where higher cognitive functions such as analysis or thought processing and social responsibility take place) makes me wonder if we are turning the evolutionary clock backwards and becoming less human.</p>
                        <p class="mb-25"><i>So I may not have been in Paris with you or in Beirut or in Baghdad or wherever else your dignity was shattered through fear,</i> and you may not have had the training I was given on how to deal with such a situation, but if you came out of this experience stronger than you were befaore, I salute you.</p>
                        <p class="fz-13 dark mb-25"><i>“There comes a day when these type of conflicts see their natural demise or an intervention that does the same job, and until then you need to be hopeful but never hateful.</i></p>
                    </div>
                </div>
            </div>
        </section>

        <section class="pb-55">
            <h2 class="h1 text-uppercase text-center mb-50">block quote</h2>

            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="br-quote-bg">
                        <blockquote class="blockquote-white">
                            <p>In a free hour, when our power of choice is untrammelled and when nothing prevents our being able</p>
                            <small>Raymond Cruz</small>
                        </blockquote>
                    </div>
                </div>
            </div>
        </section>

        <section class="pb-60">
            <h2 class="h1 text-uppercase text-center mb-60">button</h2>

            <div class="row">
                <div class="col-md-2">
                    <h5 class="text-uppercase mb-25">button simple 1</h5>

                    <a href="#" class="btn btn-default btn-lg mb-20">shop now</a>

                    <a href="#" class="btn btn-default mb-20">shop now</a>

                    <a href="#" class="btn btn-default btn-sm mb-40">Shop now</a>

                    <a href="#" class="btn btn-default btn-lg mb-20">nomal</a>

                    <a href="#" class="btn btn-primary hover btn-lg mb-20">hover</a>

                    <a href="#" class="btn btn-primary active btn-lg mb-20">active</a>
                </div>

                <div class="col-md-2 col-md-offset-1">
                    <h5 class="text-uppercase mb-25">button simple 2</h5>

                    <a href="#" class="btn btn-primary btn-lg mb-20">shop now</a>

                    <a href="#" class="btn btn-primary mb-20">shop now</a>

                    <a href="#" class="btn btn-primary btn-sm mb-40">Shop now</a>

                    <a href="#" class="btn btn-primary btn-lg mb-20">nomal</a>

                    <a href="#" class="btn btn-primary hover btn-lg mb-20">hover</a>

                    <a href="#" class="btn btn-primary active btn-lg mb-20">active</a>
                </div>

                <div class="col-md-2 col-md-offset-1">
                    <h5 class="text-uppercase mb-25">button simple 3</h5>

                    <a href="#" class="btn btn-default btn-outline btn-lg mb-20">shop now</a>

                    <a href="#" class="btn btn-default btn-outline mb-20">shop now</a>

                    <a href="#" class="btn btn-default btn-outline btn-sm mb-40">Shop now</a>

                    <a href="#" class="btn btn-default btn-outline btn-lg mb-20">nomal</a>

                    <a href="#" class="btn btn-primary hover btn-lg mb-20">hover</a>

                    <a href="#" class="btn btn-primary active btn-lg mb-20">active</a>
                </div>
            </div>
        </section>

        <section class="demo-select pb-60">
            <h2 class="h1 text-uppercase text-center mb-60">select box</h2>

            <div class="row">
                <div class="col-md-5">
                    <select >
                        <option>Default sorting</option>
                        <option>Popularity</option>
                        <option>Average rating</option>
                        <option>Newness</option>
                        <option>Low to high</option>
                        <option>High to low</option>
                    </select>

                    <select >
                        <option>Default sorting</option>
                        <option>Popularity</option>
                        <option>Average rating</option>
                        <option>Newness</option>
                        <option>Low to high</option>
                        <option>High to low</option>
                    </select>
                </div>

                <div class="col-md-7">
                    <label class="c-input c-checkbox">
                        <input type="checkbox">
                        <span class="c-indicator"></span>
                        Remember password
                    </label>
                </div>
            </div>
        </section><!-- demo-select -->

        <section class="pb-60">
            <h2 class="h1 text-uppercase text-center mb-60">check list</h2>

            <div class="row">
                <div class="col-md-6">
                    <h5 class="text-uppercase">Unordered Lists</h5>

                    <ul class="br-ul">
                        <li>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium</li>
                        <li>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit</li>
                        <li>Ut enim ad minima veniam quis nostrum exercitationem ullam corporis suscipit</li>
                        <li>Vel illum qui dolorem eum fugiat quo voluptas nulla pariatur</li>
                    </ul>
                </div>

                <div class="col-md-6">
                    <h5 class="text-uppercase">Ordered Lists</h5>

                    <ol class="list-style-none">
                        <li><span class="number">1</span> Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium</li>
                        <li><span class="number">2</span> Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit</li>
                        <li><span class="number">3</span> Ut enim ad minima veniam quis nostrum exercitationem ullam corporis suscipit</li>
                        <li><span class="number">4</span> Vel illum qui dolorem eum fugiat quo voluptas nulla pariatur</li>
                    </ol>
                </div>
            </div>
        </section>

        <section class="pb-60">
            <div class="row">
                <div class="col-md-4">
                    <h2 class="h1 text-uppercase text-center mb-60">accordion</h2>

                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingOne">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        Option 1
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                <div class="panel-body">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident deserunt at vitae omnis voluptates ipsum, sint molestiae quis quasi distinctio, fugiat modi maxime eius sequi facilis sit blanditiis quibusdam pariatur!
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingTwo">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        Option 2
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                <div class="panel-body">
                                    On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingThree">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        Option 3
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                <div class="panel-body">
                                    On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingFour">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                        Option 4
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                                <div class="panel-body">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores libero alias, placeat amet iste facilis ipsa non praesentium quis quas provident, pariatur iusto molestiae recusandae aspernatur, atque quisquam fuga dignissimos!
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-md-offset-2">
                    <h2 class="h1 text-uppercase text-center mb-60">Alerts</h2>

                    <div class="alert alert-dismissible alert-success">
                        <i class="fa fa-check" aria-hidden="true"></i><strong>Success</strong> Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                    </div>

                    <div class="alert alert-dismissible alert-warning">
                        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i><strong>Caution</strong> Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                    </div>

                    <div class="alert alert-dismissible alert-danger">
                        <i class="fa fa-times-circle" aria-hidden="true"></i><strong>Error</strong> Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                    </div>

                    <div class="alert alert-dismissible alert-info">
                        <i class="fa fa-info" aria-hidden="true"></i><strong>infomation</strong> Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                    </div>

                </div>
            </div>
        </section>
    </div>
</main>
