---
title: Wishlist
layout: default
breadcrumbs:
    - Wishlist
---

<main class="site-main">
    {% include page-title.html background="3" %}

    <section class="section table-cart">
        <div class="container">
            <div class="table-responsive">
                <table class="table table-hover table_cart">
                    <tbody>
                        <tr>
                            <td><a class="cart-image" href="#"><img src="img-demo/products/cart-1.jpg" alt=""></a></td>
                            <td>
                                <a href="#" class="fz-16">Stretch toothpick jean in ecru</a>
                                <h6>Blue / Green</h6>
                            </td>
                            <td><span class="br-product__price">$126.00</span></td>
                            <td class="text-center"><a href="#" class="btn btn-primary">Add to cart</a></td>
                            <td><a class="red close" href="#"><i class="fa fa-times" aria-hidden="true"></i></a></td>
                        </tr>

                        <tr>
                            <td><a class="cart-image" href="#"><img src="img-demo/products/cart-2.jpg" alt=""></a></td>
                            <td>
                                <a href="#" class="fz-16">Women New Balance for J.Crew 696</a>
                                <h6>Blue / Green</h6>
                            </td>
                            <td><span class="br-product__price">$68.00</span></td>
                            <td class="text-center"><a href="#" class="btn btn-primary">Add to cart</a></td>
                            <td><a class="red close" href="#"><i class="fa fa-times" aria-hidden="true"></i></a></td>
                        </tr>

                        <tr>
                            <td><a class="cart-image" href="#"><img src="img-demo/products/cart-3.jpg" alt=""></a></td>
                            <td>
                                <a href="#" class="fz-16">Women New Balance for J.Crew 696</a>
                                <h6>Blue / Green</h6>
                            </td>
                            <td><span class="br-product__price">$42.00</span></td>
                            <td class="text-center"><a href="#" class="btn btn-primary">Add to cart</a></td>
                            <td><a class="red close" href="#"><i class="fa fa-times" aria-hidden="true"></i></a></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="text-center">
                <a href="#" class="btn btn-lg btn-outline btn-default">continue shopping</a>
            </div>
        </div>
    </section>
</main>
