<div class="content-inner content-uppercase">
    <div class="br-bb pb-20 mb-20">
        <div class="row">

            <div class="col-lg-3">
                <h6 class="text-uppercase">Homepage</h6>
                <ul class="list-style-none">
                    <li class="awemenu-item"><a href="index.html">Homepage 1 - Layout ShopModel</a></li>
                    <li class="awemenu-item"><a href="index-2.html">Homepage 2 - Shop Men FullScreen</a></li>
                    <li class="awemenu-item"><a href="index-3.html">Homepage 3 - Shop Poster</a></li>
                    <li class="awemenu-item"><a href="index-4.html">Homepage 4 - Shop Simple For Men</a></li>
                    <li class="awemenu-item"><a href="index-5.html">Homepage 5 - Shop Simple</a></li>
                    <li class="awemenu-item"><a href="index-6.html">Homepage 6 - Header Style</a></li>
                </ul>
            </div>

            <div class="col-lg-3">
                <h6 class="text-uppercase">Blog</h6>
                <ul class="list-style-none">
                    <li class="awemenu-item"><a href="blog-leftsidebar.html">Blog Left Sidebar</a></li>
                    <li class="awemenu-item"><a href="blog-rightsidebar.html">Blog Right Sidebar</a></li>
                    <li class="awemenu-item"><a href="blog-nosliderbar.html">Blog No Sidebar</a></li>
                    <li class="awemenu-item"><a href="blog-textonly.html">Blog Text Only</a></li>
                    <li class="awemenu-item"><a href="blog-postformat.html">Blog PostFormat</a></li>
                    <li class="awemenu-item"><a href="single.html">Blog Details</a></li>
                </ul>
            </div>

            <div class="col-lg-3">
                <h6 class="text-uppercase">portfolio</h6>

                <ul class="list-style-none">
                    <li class="awemenu-item"><a href="portfolio-3colum.html">Portfolio Art</a></li>
                    <li class="awemenu-item"><a href="portfolio-3colum-standard.html">Portfolio Standard</a></li>
                    <li class="awemenu-item"><a href="portfolio-3mansory.html">Portfolio Mansory</a></li>
                    <li class="awemenu-item"><a href="portfolio-4columfullwide.html">Portfolio Full Wide</a></li>
                    <li class="awemenu-item"><a href="portfolio-details-fullscreen.html">Portfolio Details Fullscreen</a></li>
                    <li class="awemenu-item"><a href="portfolio-details-standard.html">Portfolio Details Standard</a></li>
                </ul>
            </div>

            <div class="col-lg-3">
                <h6 class="text-uppercase">Product</h6>
                <ul class="list-style-none">
                    <li class="awemenu-item"><a href="all-categories.html">All Category</a></li>
                    <li class="awemenu-item"><a href="productsgrid-fullwidth.html">Products Grid Fullwidth</a></li>
                    <li class="awemenu-item"><a href="productsgrid-leftsidebar.html">Products Grid Leftsidebar</a></li>
                    <li class="awemenu-item"><a href="productsgrid-rightsidebar.html">Products Grid Rightsidebar</a></li>
                    <li class="awemenu-item"><a href="productslist-fullwidth.html">Products Listing Fullwidth</a></li>
                    <li class="awemenu-item"><a href="productsList_rightsidebar.html">Products Listing Rightsidebar</a></li>
                    <li class="awemenu-item"><a href="product-detail1.html">Products Detail 1</a></li>
                    <li class="awemenu-item"><a href="product-detail2.html">Products Detail 2</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-3">
            <h6 class="text-uppercase">Other page</h6>

            <ul class="list-style-none">
                <li class="awemenu-item"><a href="contact.html">Contact</a></li>
                <li class="awemenu-item"><a href="404.html">404</a></li>
                <li class="awemenu-item"><a href="comming-soon.html">Comming Soon</a></li>
                <li class="awemenu-item"><a href="about.html">About Us</a></li>
                <li class="awemenu-item"><a href="typography.html">Typography</a></li>
                <li class="awemenu-item"><a href="customersay.html">Customer Say</a></li>
                <li class="awemenu-item"><a href="checkout.html">Checkout</a></li>
                <li class="awemenu-item"><a href="account.html">Account</a></li>
                <li class="awemenu-item"><a href="shopping-cart.html">Shopping Cart</a></li>
            </ul>
        </div>
    </div>
</div>
