<div class="content-inner content-uppercase">
    <div class="row">
        <div class="col-lg-3">
            <h6 class="text-uppercase">Elements</h6>

            <ul class="list-style-none">
                <li class="awemenu-item"><a href="#">Accordion</a></li>
                <li class="awemenu-item"><a href="#">Alerts</a></li>
                <li class="awemenu-item"><a href="#">Bar(Progress)</a></li>
                <li class="awemenu-item"><a href="#">Block quote</a></li>
                <li class="awemenu-item"><a href="#">Buttons</a></li>
                <li class="awemenu-item"><a href="#">Breadcrumbs</a></li>
                <li class="awemenu-item"><a href="#">Card</a></li>
                <li class="awemenu-item"><a href="#">Carousel</a></li>
                <li class="awemenu-item"><a href="#">Heading</a></li>
                <li class="awemenu-item"><a href="#">Labels</a></li>
                <li class="awemenu-item"><a href="#">List Group</a></li>
                <li class="awemenu-item"><a href="#">Page Title</a></li>
                <li class="awemenu-item"><a href="#">Pagination</a></li>
                <li class="awemenu-item"><a href="#">Select Box</a></li>
                <li class="awemenu-item"><a href="#">Table</a></li>
                <li class="awemenu-item"><a href="#">Tabs</a></li>
                <li class="awemenu-item"><a href="#">Thumbnails</a></li>
                <li class="awemenu-item"><a href="#">Video/Sound</a></li>
            </ul>
        </div>

        <div class="col-lg-3">
            <h6 class="text-uppercase">Elements</h6>

            <ul class="list-style-none">
                <li class="awemenu-item"><a href="portfolio-3colum.html">Portfolio Art</a></li>
                <li class="awemenu-item"><a href="portfolio-3colum-standard.html">Portfolio Standard</a></li>
                <li class="awemenu-item"><a href="portfolio-3mansory.html">Portfolio Mansory</a></li>
                <li class="awemenu-item"><a href="portfolio-4columfullwide.html">Portfolio Full Wide</a></li>
                <li class="awemenu-item"><a href="portfolio-details-fullscreen.html">Portfolio Details Fullscreen</a></li>
                <li class="awemenu-item"><a href="portfolio-details-standard.html">Portfolio Details Standard</a></li>
            </ul>
        </div>

        <div class="col-lg-3">
            <h6 class="text-uppercase">Elements</h6>

            <ul class="list-style-none">
                <li class="awemenu-item"><a href="blog-leftsidebar.html">Blog Left Sidebar</a></li>
                <li class="awemenu-item"><a href="blog-rightsidebar.html">Blog Right Sidebar</a></li>
                <li class="awemenu-item"><a href="blog-nosliderbar.html">Blog No Sidebar</a></li>
                <li class="awemenu-item"><a href="blog-textonly.html">Blog Text Only</a></li>
                <li class="awemenu-item"><a href="single.html">Blog Details</a></li>
            </ul>
        </div>

        <div class="col-lg-3">
            <h6 class="text-uppercase">Elements</h6>

            <ul class="list-style-none">
                <li class="awemenu-item"><a href="index.html">Homepage 1</a></li>
                <li class="awemenu-item"><a href="index-2.html">Homepage 2</a></li>
                <li class="awemenu-item"><a href="index-3.html">Homepage 3</a></li>
                <li class="awemenu-item"><a href="index-4.html">Homepage 4</a></li>
                <li class="awemenu-item"><a href="index-5.html">Homepage 5</a></li>
                <li class="awemenu-item"><a href="index-6.html">Homepage 6</a></li>
            </ul>
        </div>
    </div>
</div>
