<div class="content-inner">

    <div class="row">
        <div class="col-lg-3">
            <h2 class="text-uppercase mb-20">shop for men</h2>
            <h6 class="text-uppercase mb-15"><a href="productsgrid-fullwidth.html" class="dark bold">new products</a></h6>
            <h6 class="text-uppercase"><a href="lookbook.html" class="dark bold">Top LookBooks</a></h6>

            <ul class="list-style-none mb-15">
                <li><a href="productsgrid-fullwidth.html">Winter sport trends</a></li>
                <li><a href="productsgrid-fullwidth.html">After Nightfall</a></li>
                <li><a href="productsgrid-fullwidth.html">Seafaring &amp; Sporty</a></li>
            </ul>

            <span class="h6 text-uppercase tag-sale">SALE <i class="fa fa-tag" aria-hidden="true"></i></span>
        </div>

        <div class="col-lg-6">
            <h5 class="text-uppercase mb-20 pt-5">Shop by category</h5>

            <div class="row">
                <div class="col-lg-4">
                    <h6 class="text-uppercase"><a href="productslist-fullwidth.html" class="dark bold">Clothes</a></h6>

                    <ul class="list-style-none">
                        <li><a href="productsgrid-fullwidth.html">Clothes</a></li>
                        <li><a href="productsgrid-fullwidth.html">Sweaters &amp; Cardigans</a></li>
                        <li><a href="productsgrid-fullwidth.html">Coats &amp; Outerwear</a></li>
                        <li><a href="productsgrid-fullwidth.html">Casual shirts</a></li>
                        <li><a href="productsgrid-fullwidth.html">T-Shirts, Tanks &amp; Polos</a></li>
                        <li><a href="productsgrid-fullwidth.html">Denim</a></li>
                        <li><a href="productsgrid-fullwidth.html">Pants</a></li>
                    </ul>
                </div>

                <div class="col-lg-4">
                    <h6 class="text-uppercase"><a href="productsList_rightsidebar.html" class="dark bold">Accessories</a></h6>

                    <ul class="list-style-none">
                        <li><a href="productsgrid-fullwidth.html">Footwear</a></li>
                        <li><a href="productsgrid-fullwidth.html">Hats, Caps &amp; Tyques</a></li>
                        <li><a href="productsgrid-fullwidth.html">Gloves</a></li>
                        <li><a href="productsgrid-fullwidth.html">Bags</a></li>
                        <li><a href="productsgrid-fullwidth.html">Watches</a></li>
                        <li><a href="productsgrid-fullwidth.html">Wallets</a></li>
                        <li><a href="productsgrid-fullwidth.html">Jewery</a></li>
                    </ul>
                </div>

                <div class="col-lg-4">
                    <h6 class="text-uppercase"><a href="productsgrid-rightsidebar.html" class="dark bold">underwear</a></h6>

                    <ul class="list-style-none">
                        <li><a href="productsgrid-fullwidth.html">Boxers &amp; Briefs</a></li>
                        <li><a href="productsgrid-fullwidth.html">Sleepwear, Leusyrewear &amp; Slippers</a></li>
                        <li><a href="productsgrid-fullwidth.html">Socks</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-lg-3">
            <a href="all-categories.html"><img src="img-demo/banners/banner-gift-warp.jpg" alt=""></a>
        </div>

    </div>

</div>
