<div class="content-inner">

    <div class="row">
        <div class="col-lg-3">
            <h2 class="text-uppercase mb-20">shop for women</h2>
            <h6 class="text-uppercase mb-15"><a href="productslist-fullwidth.html" class="dark bold">new products</a></h6>
            <h6 class="text-uppercase"><a href="lookbook.html" class="dark bold">Top LookBooks</a></h6>

            <ul class="list-style-none mb-15">
                <li><a href="productsgrid-fullwidth.html">Icone Trend Guide</a></li>
                <li><a href="productsgrid-fullwidth.html">Fresh 2016 Weekend Wear</a></li>
                <li><a href="productsgrid-fullwidth.html">Top Swim Trends</a></li>
            </ul>

            <span class="h6 text-uppercase tag-sale">SALE <i class="fa fa-tag" aria-hidden="true"></i></span>
        </div>

        <div class="col-lg-6">
            <h5 class="text-uppercase mb-20 pt-5">Shop by category</h5>

            <div class="row">
                <div class="col-lg-4">
                    <h6 class="text-uppercase"><a href="productslist-fullwidth.html" class="dark bold">Clothes</a></h6>

                    <ul class="list-style-none">
                        <li><a href="productsgrid-fullwidth.html">Dresses</a></li>
                        <li><a href="productsgrid-fullwidth.html">Sweaters &amp; Cardigans</a></li>
                        <li><a href="productsgrid-fullwidth.html">Coat</a></li>
                        <li><a href="productsgrid-fullwidth.html">Sweatshirts &amp; Hoodies</a></li>
                        <li><a href="productsgrid-fullwidth.html">Blouses &amp; Shirts</a></li>
                        <li><a href="productsgrid-fullwidth.html">Pants</a></li>
                        <li><a href="productsgrid-fullwidth.html">Jean</a></li>
                    </ul>
                </div>

                <div class="col-lg-4">
                    <h6 class="text-uppercase"><a href="productslist-fullwidth.html" class="dark bold">Accessories</a></h6>

                    <ul class="list-style-none">
                        <li><a href="productsgrid-fullwidth.html">Footwear</a></li>
                        <li><a href="productsgrid-fullwidth.html">Hats, Caps &amp; Tyques</a></li>
                        <li><a href="productsgrid-fullwidth.html">Gloves</a></li>
                        <li><a href="productsgrid-fullwidth.html">Bags</a></li>
                        <li><a href="productsgrid-fullwidth.html">Watches</a></li>
                        <li><a href="productsgrid-fullwidth.html">Wallets</a></li>
                        <li><a href="productsgrid-fullwidth.html">Jewery</a></li>
                    </ul>
                </div>

                <div class="col-lg-4">
                    <h6 class="text-uppercase"><a href="productslist-fullwidth.html" class="dark bold">underwear</a></h6>

                    <ul class="list-style-none">
                        <li><a href="productsgrid-fullwidth.html">Bras</a></li>
                        <li><a href="productsgrid-fullwidth.html">Panties</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-lg-3">
            <a href="all-categories.html"><img src="img-demo/banners/banner-shoe-women.jpg" alt=""></a>
        </div>

    </div>

</div>
