
<div class="content-inner">

    <div class="row">
        <div class="col-lg-3">
            <h2 class="text-uppercase mb-20"><a href="brand-categories.html" class="dark bold">Brand</a></h2>
            <h6 class="text-uppercase mb-15"><a href="brand-categories.html" class="dark bold">Brilliant brand</a></h6>
            <h6 class="text-uppercase"><a href="brand-categories.html" class="dark bold">Top Brands</a></h6>

            <ul class="list-style-none">
                <li><a href="brand-categories.html">Brilliant</a></li>
                <li><a href="brand-categories.html">Drumas</a></li>
                <li><a href="brand-categories.html">D.Crombo</a></li>
            </ul>
        </div>

        <div class="col-lg-6">
            <div class="overflow-hidden mb-20">
                <div class="pull-left">
                    <h5 class="text-uppercase mb-0 pt-5">BRAND favourite</h5>
                </div>
                <div class="pull-right">
                    <a href="brand-categories.html" class="h6 text-uppercase">shop ALL BRANDS  <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="br-brand">
                        <div class="br-brand__thumb" style="background-image: url('img-demo/brands/bg-brand-1.jpg');">
                            <a href="brand-categories.html"><img src="img-demo/brands/brand-1.png" alt=""></a>
                        </div>

                        <div class="br-brand__main">
                            <h6 class="br-brand__name"><a href="brand-categories.html" class="bold">Brilliant</a></h6>
                        </div>
                    </div> <!-- End .bs-brand -->

                    <div class="br-brand">
                        <div class="br-brand__thumb" style="background-image: url('img-demo/brands/bg-brand-2.jpg');">
                            <a href="brand-categories.html"><img src="img-demo/brands/brand-2.png" alt=""></a>
                        </div>

                        <div class="br-brand__main">
                            <h6 class="br-brand__name"><a href="brand-categories.html" class="bold">Retro Diamon</a></h6>
                        </div>
                    </div> <!-- End .bs-brand -->
                </div>

                <div class="col-lg-4">
                    <div class="br-brand">
                        <div class="br-brand__thumb" style="background-image: url('img-demo/brands/bg-brand-3.jpg');">
                            <a href="brand-categories.html"><img src="img-demo/brands/brand-3.png" alt=""></a>
                        </div>

                        <div class="br-brand__main">
                            <h6 class="br-brand__name"><a href="brand-categories.html" class="bold">Aduzer Fashion</a></h6>
                        </div>
                    </div> <!-- End .bs-brand -->

                    <div class="br-brand">
                        <div class="br-brand__thumb" style="background-image: url('img-demo/brands/bg-brand-4.jpg');">
                            <a href="brand-categories.html"><img src="img-demo/brands/brand-4.png" alt=""></a>
                        </div>

                        <div class="br-brand__main">
                            <h6 class="br-brand__name"><a href="brand-categories.html" class="bold">Penny Fashion</a></h6>
                        </div>
                    </div> <!-- End .bs-brand -->
                </div>

                <div class="col-lg-4">
                    <div class="br-brand">
                        <div class="br-brand__thumb" style="background-image: url('img-demo/brands/bg-brand-5.jpg');">
                            <a href="brand-categories.html"><img src="img-demo/brands/brand-5.png" alt=""></a>
                        </div>

                        <div class="br-brand__main">
                            <h6 class="br-brand__name"><a href="brand-categories.html" class="bold">Voyager</a></h6>
                        </div>
                    </div> <!-- End .bs-brand -->

                    <div class="br-brand">
                        <div class="br-brand__thumb" style="background-image: url('img-demo/brands/bg-brand-6.jpg');">
                            <a href="brand-categories.html"><img src="img-demo/brands/brand-6.png" alt=""></a>
                        </div>

                        <div class="br-brand__main">
                            <h6 class="br-brand__name"><a href="brand-categories.html" class="bold">Angelline</a></h6>
                        </div>
                    </div> <!-- End .bs-brand -->
                </div>
            </div>
        </div>

        <div class="col-lg-3">
            <a href="brand-categories.html"><img src="img-demo/banners/banner-brand-sale.jpg" alt=""></a>
        </div>
    </div>

</div>
