<div class="content-inner">

    <div class="row">
        <div class="col-lg-3">
            <h2 class="text-uppercase mb-20">shop for KID</h2>
            <h6 class="text-uppercase mb-15">new products</h6>
            <h6 class="text-uppercase">Top LookBooks</h6>

            <ul class="list-style-none mb-15">
                <li><a href="#">You &amp; Me</a></li>
                <li><a href="#">Srping &amp; Summer 2016</a></li>
                <li><a href="#">Outdoor</a></li>
                <li><a href="#">Winter Minimal Style</a></li>
                <li><a href="#">Best Friends Forever</a></li>
            </ul>

            <span class="h6 text-uppercase tag-sale">SALE <i class="fa fa-tag" aria-hidden="true"></i></span>
        </div>

        <div class="col-lg-6">
            <h5 class="text-uppercase mb-20 pt-5">Shop GIRL</h5>

            <div class="row">
                <div class="col-lg-4">
                    <h6 class="text-uppercase">Clothes</h6>

                    <ul class="list-style-none">
                        <li><a href="#">Christening</a></li>
                        <li><a href="#">Coats</a></li>
                        <li><a href="#">Down Jackets</a></li>
                        <li><a href="#">Dresses</a></li>
                        <li><a href="#">Knitwear</a></li>
                        <li><a href="#">Polos</a></li>
                        <li><a href="#">Rompers</a></li>
                    </ul>
                </div>

                <div class="col-lg-4">
                    <h6 class="text-uppercase">Accessories</h6>

                    <ul class="list-style-none">
                        <li><a href="#">Footwear</a></li>
                        <li><a href="#">Hats, Caps &amp; Tyques</a></li>
                        <li><a href="#">Gloves</a></li>
                        <li><a href="#">Bags</a></li>
                        <li><a href="#">Watches</a></li>
                        <li><a href="#">Wallets</a></li>
                    </ul>
                </div>

                <div class="col-lg-4">
                    <h6 class="text-uppercase">underwear</h6>

                    <ul class="list-style-none">
                        <li><a href="">Boxers &amp; Briefs</a></li>
                        <li><a href="">Sleepwear, Leusyrewear &amp; Slippers</a></li>
                        <li><a href="">Socks</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-lg-3">
            <a href="all-categories.html"><img src="img-demo/banners/banner-girls.jpg" alt=""></a>
        </div>

    </div>

    <div class="row">
        <div class="col-lg-9 col-lg-offset-3">
            <div class="bd-bt"></div>
        </div>
    </div>

    <div class="row">

        <div class="col-lg-6 col-lg-offset-3">
            <h5 class="text-uppercase mb-20 pt-5">Shop boy</h5>

            <div class="row">
                <div class="col-lg-4">

                    <h6 class="text-uppercase">Clothes</h6>

                    <ul class="list-style-none">
                        <li><a href="#">Polos &amp; Tees</a></li>
                        <li><a href="#">Shirts</a></li>
                        <li><a href="#">Shorts &amp; 3/4ths</a></li>
                        <li><a href="#">Jean &amp; Trousers</a></li>
                        <li><a href="#">Twin Sets</a></li>
                        <li><a href="#">Jackets</a></li>
                        <li><a href="#">Kurtas</a></li>
                    </ul>
                </div>

                <div class="col-lg-4">
                    <h6 class="text-uppercase">Accessories</h6>

                    <ul class="list-style-none">
                        <li><a href="#">Footwear</a></li>
                        <li><a href="#">Hats, Caps &amp; Tyques</a></li>
                        <li><a href="#">Gloves</a></li>
                        <li><a href="#">Bags</a></li>
                        <li><a href="#">Watches</a></li>
                        <li><a href="#">Wallets</a></li>
                    </ul>
                </div>

                <div class="col-lg-4">
                    <h6 class="text-uppercase">underwear</h6>

                    <ul class="list-style-none">
                        <li><a href="">Boxers &amp; Briefs</a></li>
                        <li><a href="">Sleepwear, Leusyrewear &amp; Slippers</a></li>
                        <li><a href="">Socks</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-lg-3">
            <a href="all-categories.html"><img src="img-demo/banners/banner-boy.jpg" alt=""></a>
        </div>
    </div>

</div>
