
<div class="content-inner">
    <h6 class="text-uppercase">Accessories</h6>

        <ul class="list-style-none">
            <li><a href="#">Footwear</a></li>
            <li><a href="#">Hats, Caps &amp; Tyques</a></li>
            <li><a href="#">Gloves</a></li>
            <li><a href="#">Bags</a></li>
            <li><a href="#">Watches</a></li>
            <li><a href="#">Wallets and Money Clips</a></li>
        </ul>
</div>
