<div class="site-footer site-footer--black site-footer--style2">
    <div class="container">
        <div class="br-widget-wrapper">

            <section class="widget widget-text">
                <span class="show fz-16 white mb-20"><i class="fa fa-paper-plane" aria-hidden="true"></i></span>
                <h2 class="widget-title">JOIN OUR LIST OFFER</h2><!-- widget-title -->
                <span class="textwidget mb-20">And receive 10% off your next order.</span>

                <form action="index.html" class="mb-35">
                    <label class="sr-only" >Email</label>
                    <input   name="email" type="email" placeholder="Enter email address" value="">

                    <input type="submit" value="JOIN" class="btn btn-primary">
                </form>
            </section>

            <section class="widget widget_links">
                <div class="br-payment mb-15">
                    <a href="#"><i class="fa fa-cc-visa" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-cc-mastercard" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-cc-paypal" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-cc-discover" aria-hidden="true"></i></a>
                </div>

                <h2 class="widget-title">payment Accept</h2><!-- widget-title -->
                <p class="small">We are accept all payment method</p>
            </section><!-- widget -->

            <section class="widget widget_links">
                <ul class="nav-social mb-10">
                    <li>
                        <a href="#">
                            <i class="fa fa-instagram"></i>
                            <span class="sr-only">Google Plus</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-facebook"></i>
                            <span class="sr-only">Facebook</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-pinterest"></i>
                            <span class="sr-only">Pinterest</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-twitter"></i>
                            <span class="sr-only">Twitter</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-tumblr"></i>
                            <span class="sr-only">Tumblr</span>
                        </a>
                    </li>
                </ul>

                <h2 class="widget-title">follow us</h2><!-- widget-title -->
                <p class="small">Follow Brilliant to stay up-to-date with exclusive news and offers.</p>
            </section><!-- widget -->
        </div><!-- br-widget-wrapper -->

        <div class="br-widget-wrapper">

            <section class="widget widget_links">
                <h2 class="widget-title">lest us help you</h2><!-- widget-title -->
                <ul class="small">
                    <li>Phone 1:  8 (495) 989-76-91</li>
                    <li>Phone 1:  8 (495) 989-11-93</li>
                    <li>Fax :  brilliant@fax.com</li>
                    <li>Email:  <a href="mailto:brilliantsupport@gmail.com">brilliantsupport@gmail.com</a></li>
                </ul>
            </section><!-- widget -->

            <section class="widget widget_links">
                <h2 class="widget-title">service</h2><!-- widget-title -->
                <ul>
                    <li><a href="#">Your Cart</a></li>
                    <li><a href="#">Your Order</a></li>
                    <li><a href="#">Compared Items</a></li>
                    <li><a href="#">Wishlist Items</a></li>
                    <li><a href="#">Shipping Detail</a></li>
                </ul>
            </section><!-- widget -->

            <section class="widget widget_links">
                <h2 class="widget-title">Infomation</h2><!-- widget-title -->
                <ul>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">Buying Guides</a></li>
                    <li><a href="#">New Arrivals</a></li>
                </ul>
            </section><!-- widget -->
        </div><!-- br-widget-wrapper -->

        <div class="br-site-info">
            <div class="row">
                <div class="col-md-4">
                    <a class="br-logo-wrapper" href="#"><img src="img/logo-small-white.png" alt=""></a>
                    <span>Copyright 2016 &copy; awethemes</span>
                </div>

                <div class="col-md-8">
                    <div class="br-dropdown text-uppercase">
                        <div class="dropdown">
                            <a data-target="#" href="#" data-toggle="dropdown" role="button">Eng<i class="fa fa-caret-down" aria-hidden="true"></i></a>

                            <ul class="dropdown-menu">
                                <li><a href="#">Eng</a></li>
                                <li><a href="#">Vn</a></li>
                            </ul>
                        </div>

                        <div class="dropdown">
                            <a data-target="#" href="#" data-toggle="dropdown" role="button">Usd<i class="fa fa-caret-down" aria-hidden="true"></i></a>

                            <ul class="dropdown-menu">
                                <li><a href="#">Usd</a></li>
                                <li><a href="#">Vnd</a></li>
                            </ul>
                        </div>
                    </div><!-- br-dropdown -->

                    <div class="br-site-contact">
                        <a href="#">Contact Us</a>
                        <a href="#">Terms &amp; Conditiont</a>
                        <a href="#">Privacy policy</a>
                        <a href="#">Site Map</a>
                    </div><!-- br-site-contact -->

                </div>
            </div>
        </div>
    </div>
</div>
