<footer class="site-footer site-footer--black">

    <div class="br-site-social">
        <div class="container">
            <ul class="nav-social">
                <li>
                    <a href="#">
                        <i class="fa fa-instagram"></i>
                        <span>Google Plus</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-facebook"></i>
                        <span>Facebook</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-pinterest"></i>
                        <span>Pinterest</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-twitter"></i>
                        <span>Twitter</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-tumblr"></i>
                        <span>Tumblr</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="br-footer-content">
        <div class="container">

            <div class="row">
                <div class="col-md-2">
                    <div class="br-logo-wrapper">
                        <a href="#" class="br-logo"><img src="img/logo-white.png" alt=""></a>
                        <p>Copyright &copy; 1991-2016 <br> All Rights Reserved</p>
                    </div><!-- br-logo-wrapper -->
                </div>

                <div class="col-md-2 col-sm-4">
                    <section class="widget widget_categories">
                        <h2 class="widget-title">Categories</h2><!-- widget-title -->
                        <ul>
                            <li><a href="#">Eyewear</a></li>
                            <li><a href="#">Tops</a></li>
                            <li><a href="#">Bottoms</a></li>
                            <li><a href="#">Outerwear</a></li>
                            <li><a href="#">Footwear</a></li>
                        </ul>
                    </section><!-- widget -->
                </div>

                <div class="col-md-2 col-sm-4">
                    <section class="widget widget_links">
                        <h2 class="widget-title">Infomation</h2><!-- widget-title -->
                        <ul>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Contact</a></li>
                            <li><a href="#">Buying Guides</a></li>
                            <li><a href="#">New Arrivals</a></li>
                        </ul>
                    </section><!-- widget -->
                </div>

                <div class="col-md-2 col-sm-4">
                    <section class="widget widget_links">
                        <h2 class="widget-title">service</h2><!-- widget-title -->
                        <ul>
                            <li><a href="#">Your Cart</a></li>
                            <li><a href="#">Your Order</a></li>
                            <li><a href="#">Compared Items</a></li>
                            <li><a href="#">Wishlist Items</a></li>
                        </ul>
                    </section><!-- widget -->
                </div>

                <div class="col-md-4 col-sm-12">
                    <section class="widget widget-text">
                        <h2 class="widget-title">JOIN OUR LIST OFFER</h2><!-- widget-title -->
                        <span class="textwidget mb-20">And receive 10% off your next order.</span>

                        <form action="index.html" class="mb-35">
                            <label class="sr-only" >Email</label>
                            <input   name="email" type="email" placeholder="Enter email address" value="">

                            <input type="submit" value="JOIN" class="btn btn-primary">
                        </form>

                        <div class="br-payment">
                            <a href="#"><i class="fa fa-cc-visa" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-cc-mastercard" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-cc-paypal" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-cc-discover" aria-hidden="true"></i></a>
                        </div><!-- br-payment -->
                    </section><!-- widget -->
                </div>
            </div>
        </div>
    </div>

    <div class="br-site-info">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-8">
                    <div class="br-site-contact">
                        <a href="#">Contact Us</a>
                        <a href="#">Terms &amp; Conditiont</a>
                        <a href="#">Privacy policy</a>
                        <a href="#">Site Map</a>
                    </div><!-- br-site-contact -->
                </div>

                <div class="col-md-4 col-sm-4">
                    <div class="br-dropdown text-uppercase">
                        <div class="dropdown">
                            <a data-target="#" href="#" data-toggle="dropdown" role="button">Eng<i class="fa fa-caret-down" aria-hidden="true"></i></a>

                            <ul class="dropdown-menu">
                                <li><a href="#">Eng</a></li>
                                <li><a href="#">Vn</a></li>
                            </ul>
                        </div>

                        <div class="dropdown">
                            <a data-target="#" href="#" data-toggle="dropdown" role="button">Usd<i class="fa fa-caret-down" aria-hidden="true"></i></a>

                            <ul class="dropdown-menu">
                                <li><a href="#">Usd</a></li>
                                <li><a href="#">Vnd</a></li>
                            </ul>
                        </div>
                    </div><!-- br-dropdown -->
                </div>
            </div>
        </div>
    </div>

</footer>
