<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<title>{{ page.title }}</title>

<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700%7CLato:400,400italic,700,700italic%7CPlayfair+Display:400,400italic,700italic,700%7CHind:400,700&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css">

<!-- // CSS -->
<link rel="stylesheet" href="css/fonts/font-awesome.css">
<link rel="stylesheet" href="css/vendor/slick.css">
<link rel="stylesheet" href="css/vendor/magnific-popup.css">
<link rel="stylesheet" href="css/vendor/select2.css">
<link rel="stylesheet" href="css/vendor/awemenu.css">


<link rel="stylesheet" type="text/css" href="css/main.css">

<!-- // Modernizr and jQuery -->
<script src="js/vendor/modernizr-2.8.3.min.js"></script>
<script src="js/vendor/jquery-1.12.0.min.js"></script>
<script src="js/vendor/fastclick.js"></script>

<!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
