<header class="site-header site-header-style">
    <div class="br-promotion hidden-xs">
        <div class="container">
            <div class="row">
                <div class="col-sm-10 col-xs-10">
                    <span class="text-uppercase small">free shipping on  orders over $125 withing the us</span>
                    <a href="all-categories.html" class="btn btn-outline btn-sm">shop now</a>
                </div>

                <div class="col-sm-2 col-xs-2">
                    <button type="button" class="close"><i class="fa fa-times" aria-hidden="true"></i></button>
                </div>
            </div>
        </div>
    </div><!-- .br-promotion -->

    <div class="br-board br-board--dark hidden-xs">
        <div class="container">
            <span class="small">Wellcome To My Brilliant Shop</span>

            <div class="br-dropdown">
                <div class="dropdown text-uppercase">
                    <a data-target="#" href="#" data-toggle="dropdown" role="button">Eng<i class="fa fa-caret-down" aria-hidden="true"></i></a>

                    <ul class="dropdown-menu">
                        <li><a href="#">Eng</a></li>
                        <li><a href="#">Spanis</a></li>
                        <li><a href="#">Eng</a></li>
                    </ul>
                </div>

                <div class="dropdown text-uppercase">
                    <a data-target="#" href="#" data-toggle="dropdown" role="button">Usd<i class="fa fa-caret-down" aria-hidden="true"></i></a>

                    <ul class="dropdown-menu">
                        <li><a href="#">Usd</a></li>
                        <li><a href="#">Vnd</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div><!-- .br-board -->

    <nav class="awemenu-nav awemenu-fadeup">


                <div class="br-nav-wrapper">

                        <div class="container">
                            <div class="navbar-icons">

                                <div class="dropdown dropdown-animation hidden-lg hidden-md">
                                    <a href="#" data-toggle="dropdown" role="button">
                                        <i class="fa fa-search" aria-hidden="true"></i>
                                    </a>

                                    <div class="dropdown-menu dropdown-search">
                                        <div class="form-search">
                                            <form action="index.html">
                                                <label class="sr-only">search</label>
                                                <input name="search" type="text" placeholder="Search your entry here..." value="">

                                                <button type="button" class="sr-only"><i class="fa fa-search" aria-hidden="true"></i></button>
                                            </form>
                                        </div>
                                    </div><!-- .dropdown-search -->
                                </div><!-- dropdown -->

                                <div class="dropdown-right">
                                    <div class="dropdown dropdown-animation">
                                        <a href="shopping-cart.html" data-toggle="dropdown" role="button">
                                            <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                                            <span class="count">3</span>
                                        </a>

                                        <div class="dropdown-menu dropdown-cart">
                                            <div class="list-product-mini">
                                                <ul class="list-style-none">
                                                    <li>
                                                        <div class="product-mini">
                                                            <a href="#" class="product-mini__img">
                                                                <img src="img-demo/products/mini-1.jpg" alt="">
                                                                <span>2</span>
                                                            </a><!-- .product-mini__img -->
                                                            <div class="product-mini__body">
                                                                <h4 class="br-product__name"><a href="#" tabindex="0">Stretch toothpick jean in ecru</a></h4>
                                                                <span class="br-product__price">$ 110.00</span>
                                                            </div><!-- .product-mini__body -->

                                                            <div class="product-mini__button">
                                                                <a href="#"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                                                <a href="#" class="close"><i class="fa fa-times" aria-hidden="true"></i></a>
                                                            </div><!-- .product-mini__button -->
                                                        </div><!-- .product-mini -->
                                                    </li>

                                                    <li>
                                                        <div class="product-mini">
                                                            <a href="#" class="product-mini__img">
                                                                <img src="img-demo/products/mini-2.jpg" alt="">
                                                                <span>12</span>
                                                            </a><!-- .product-mini__img -->
                                                            <div class="product-mini__body">
                                                                <h4 class="br-product__name"><a href="#" tabindex="0">Stretch toothpick jean in ecru</a></h4>
                                                                <span class="br-product__price">$ 110.00</span>
                                                            </div><!-- .product-mini__body -->

                                                            <div class="product-mini__button">
                                                                <a href="#"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                                                <a href="#" class="close"><i class="fa fa-times" aria-hidden="true"></i></a>
                                                            </div><!-- .product-mini__button -->
                                                        </div><!-- .product-mini -->
                                                    </li>

                                                    <li>
                                                        <div class="product-mini">
                                                            <a href="#" class="product-mini__img">
                                                                <img src="img-demo/products/mini-3.jpg" alt="">
                                                                <span>2</span>
                                                            </a><!-- .product-mini__img -->
                                                            <div class="product-mini__body">
                                                                <h4 class="br-product__name"><a href="#" tabindex="0">Stretch toothpick jean in ecru</a></h4>
                                                                <span class="br-product__price">$ 110.00</span>
                                                            </div><!-- .product-mini__body -->

                                                            <div class="product-mini__button">
                                                                <a href="#"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                                                <a href="#" class="close"><i class="fa fa-times" aria-hidden="true"></i></a>
                                                            </div><!-- .product-mini__button -->
                                                        </div><!-- .product-mini -->
                                                    </li>
                                                </ul>

                                                <div class="total-product overflow-hidden">
                                                    <h5 class="text-uppercase">

                                                        <span class="pull-left ">TOTAL Price</span>

                                                        <span class="pull-right">$ 98.00</span>

                                                    </h5>
                                                </div>

                                                <div class="product-mini__action">
                                                    <a href="shopping-cart.html" class="btn btn-default">view cart</a>
                                                    <a href="checkout.html" class="btn btn-primary">checkout</a>
                                                </div><!-- .product-mini__action -->
                                            </div>

                                        </div><!-- .dropdown-cart -->
                                    </div><!-- dropdown -->

                                    <div class="dropdown dropdown-animation">
                                        <a href="#" data-toggle="dropdown" role="button">
                                            <i class="fa fa-heart" aria-hidden="true"></i>
                                            <span class="count count-wishlist">3</span>
                                        </a>

                                        <div class="dropdown-menu dropdown-wishlist">
                                            <div class="list-product-mini">
                                                <ul class="list-style-none">
                                                    <li>
                                                        <div class="product-mini">
                                                            <a href="#" class="product-mini__img"><img src="img-demo/products/mini-1.jpg" alt=""></a><!-- .product-mini__img -->
                                                            <div class="product-mini__body">
                                                                <h4 class="br-product__name"><a href="#" tabindex="0">Stretch toothpick jean in ecru</a></h4>
                                                                <span class="br-product__price">$ 110.00</span>
                                                            </div><!-- .product-mini__body -->

                                                            <div class="product-mini__button">
                                                                <a href="#" class="close"><i class="fa fa-times" aria-hidden="true"></i></a>
                                                            </div>
                                                        </div><!-- .product-mini -->
                                                    </li>

                                                    <li>
                                                        <div class="product-mini">
                                                            <a href="#" class="product-mini__img"><img src="img-demo/products/mini-2.jpg" alt=""></a><!-- .product-mini__img -->
                                                            <div class="product-mini__body">
                                                                <h4 class="br-product__name"><a href="#" tabindex="0">Stretch toothpick jean in ecru</a></h4>
                                                                <span class="br-product__price">$ 110.00</span>
                                                            </div><!-- .product-mini__body -->

                                                            <div class="product-mini__button">
                                                                <a href="#" class="close"><i class="fa fa-times" aria-hidden="true"></i></a>
                                                            </div>
                                                        </div><!-- .product-mini -->
                                                    </li>

                                                    <li>
                                                        <div class="product-mini">
                                                            <a href="#" class="product-mini__img"><img src="img-demo/products/mini-3.jpg" alt=""></a><!-- .product-mini__img -->
                                                            <div class="product-mini__body">
                                                                <h4 class="br-product__name"><a href="#" tabindex="0">Stretch toothpick jean in ecru</a></h4>
                                                                <span class="br-product__price">$ 110.00</span>
                                                            </div><!-- .product-mini__body -->

                                                            <div class="product-mini__button">
                                                                <a href="#" class="close"><i class="fa fa-times" aria-hidden="true"></i></a>
                                                            </div>
                                                        </div><!-- .product-mini -->
                                                    </li>
                                                </ul>

                                                <a href="wishlist.html" class="btn btn-default btn-block">view wishlist</a>
                                            </div><!-- .list-product-mini -->
                                        </div>
                                    </div><!-- dropdown -->

                                    <div class="dropdown dropdown-animation">
                                        <a href="account.html" data-toggle="dropdown" role="button">
                                            <i class="fa fa-user" aria-hidden="true"></i>
                                        </a>

                                        <div class="dropdown-menu dropdown-account">
                                            <span>Hello!</span>
                                            <h5 class="text-uppercase mb-20">Wayne Gilbert</h5>

                                            <div class="avatar mb-25">
                                                <a href="#"><img src="img-demo/avatars/avt-account.jpg" alt=""></a>
                                            </div>

                                            <span>Account infomation</span>

                                            <a href="#" class="account-link">Logout</a>
                                        </div><!-- .dropdown-account -->
                                    </div><!-- dropdown -->
                                </div>

                            </div><!-- .navbar-icons -->

                            <div class="form-search pt-5 hidden-xs hidden-sm">
                                <form action="index.html">
                                    <label class="sr-only"  >search</label>
                                    <input name="search" type="text" placeholder="Search your entry here..." value="">

                                    <button type="button"><i class="fa fa-search" aria-hidden="true"></i></button>
                                </form>
                            </div><!-- form-search -->

                            <div class="awemenu-logo">
                                <a href="index.html"><img src="img/logo-br.png" alt=""></a>
                            </div>
                        </div>


                </div>

                <div class="container">
                    <div class="awemenu-container">

                        <div class="br-nav">

                                {% include nav.html %}

                        </div>
                    </div>
                </div>


    </nav>
</header><!-- .site-header -->
