<ul class="main-navigation awemenu">
    {% for nav in site.data.menu %}
    {% if nav.megamenu %}
        <li class="awemenu-item">
            <a href="{{ nav.href }}">{{ nav.title }}</a>
            <ul class="awemenu-submenu awemenu-megamenu" data-width="100%">
                <li class="awemenu-item">
                    {% include {{ nav.megamenu }} %}
                </li>
            </ul>
        </li>
    {% elsif nav.submenu %}
        <li class="awemenu-item">
            <a href="{{ nav.href }}">{{ nav.title }}</a>
            <ul class="awemenu-submenu awemenu-dropdown">
            {% for subnav in nav.submenu %}
                {% if subnav.submenu %}
                    <li class="awemenu-item">
                        <a href="{{ subnav.href }}">{{ subnav.title }}</a>
                        <ul class="awemenu-submenu awemenu-dropdown">
                            {% for subsubnav in subnav.submenu %}
                                <li><a href="{{ subsubnav.href }}">{{ subsubnav.title }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                {% else %}
                    <li><a href="{{ subnav.href }}">{{ subnav.title }}</a></li>
                {% endif %}
            {% endfor %}
            </ul>
        </li>
    {% elsif page.url contains nav.href %}
        <li class="awemenu-item active"><a href="{{ nav.href }}">{{ nav.title }}</a></li>
    {% else %}
        <li class="awemenu-item"><a href="{{ nav.href }}">{{ nav.title }}</a></li>
    {% endif %}
    {% endfor %}
</ul>
