<div class="page-title page-title--white {{ include.class }} bg-{{ include.background | default: "1" }}">
    <div class="container">
        <div class="page-title__main">
            <h1 class="text-uppercase mb-5">{{ page.title | default: "Default title" }}</h1>

            <ol class="breadcrumb">
                <li>
                    <a href="index.html">Home</a>
                </li>
                {% for breadcrumb in page.breadcrumbs %}
                    {% if forloop.last == true %}
                        <li class="active">{{ breadcrumb }}</li>
                    {% else %}
                        <li><a href="#">{{ breadcrumb }}</a></li>
                    {% endif %}
                {% endfor %}
            </ol>
        </div><!-- page-title__main -->
    </div>
</div><!-- page-title -->
