<div class="page-title page-title--classic {% if include.pagewhite %} page-title--white {% endif %} {{ include.class }} bg-{{ include.background | default: "2" }}">
    <div class="container">
        <div class="page-title__main">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <h1 class="text-uppercase mb-5">{{ page.title | default: "Default title" }}</h1>
                </div>

                <div class="col-md-6 col-sm-6">
                    <ol class="breadcrumb">
                        <li><a href="index.html">Home</a></li>

                        {% for breadcrumb in page.breadcrumbs %}
                            {% if forloop.last == true %}
                                <li class="active">{{ breadcrumb }}</li>
                            {% else %}
                                <li><a href="#">{{ breadcrumb }}</a></li>
                            {% endif %}
                        {% endfor %}
                    </ol>
                </div>
            </div>
        </div><!-- page-title__main -->
    </div>
</div><!-- page-title -->
