<div class="br-product br-product--grid {% if include.soldout %} br-product--sold-out {% endif %}">
    <div class="br-product__media">
        <div class="br-product__thumb">
            <a href="#"><img src="{{ include.image | default: 'img-demo/products/1.jpg' }}" alt=""></a>
        </div><!-- .br-product__thumb -->

        {% if include.soldout %}
            <div class="sold-out">sold out</div>
        {% endif %}

        {% comment %}new, hot, sale, popular{% endcomment %}
        {% if include.label %}
            {% assign labels = include.label | split: ',' %}

            <div class="br-product__label-wrapper">
            {% for _label in labels  %}
                    <span class="br-product__label {{ _label }}">{{ _label | upcase }}</span><!-- .br-product__label -->
            {% endfor %}
            </div>
        {% endif %}

        <div class="br-product__action">
            <div class="tb">

                <div class="table-cell-center">
                    <a class="btn" href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="cart">
                        <span class="sr-only">cart</span>
                        <i class="fa fa-shopping-bag"></i>
                    </a>
                </div>

                <div class="table-cell-center">
                    <a class="btn" href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="wish list">
                        <span class="sr-only">wish list</span>
                        <i class="fa fa-heart"></i>
                    </a>
                </div>

                <div class="table-cell-center">
                    <a class="btn js-product-popup " href="product-popup.html" data-toggle="tooltip" data-placement="top" title="" data-original-title="quick view">
                        <span class="sr-only">quick view</span>
                        <i class="fa fa-eye"></i>
                    </a>
                </div>

            </div>
        </div>
    </div> <!-- End .br-product__media -->

    <div class="br-product__main">
        <h4 class="br-product__name"><a href="#">{{ include.name | default: "Default product title" }}</a></h4>

        <span class="br-product__price">
            {{ include.price | remove: "$" | prepend: "$" }}

            {% if  include.sale %}
                <del>{{ include.sale | remove: "$" | prepend: "$" }}</del>
            {% endif %}
        </span><!-- .br-product__price -->

        {% if include.color %}
            <nav class="br-select-color">
                <a href="#" class="bg-red">red</a>
                <a href="#" class="bg-black">black</a>
                <a href="#" class="bg-green">green</a>
            </nav>
        {% endif %}

    </div><!-- .br-product__main -->
</div><!-- .br-product -->


