<div class="br-product br-product--list">
    <div class="br-product__media">
        <div class="br-product__thumb">
            <a href="#"><img src="{{ include.image | default: 'img-demo/products/1.jpg' }}" alt=""></a>
        </div> <!-- End .br-product__thumb -->

        {% comment %}new, hot, sale, popular{% endcomment %}
        {% if include.label %}
            {% assign labels = include.label | split: ',' %}

            <div class="br-product__label-wrapper">
            {% for _label in labels  %}
                <span class="br-product__label {{ _label }}">{{ _label | upcase }}</span><!-- End .br-product__label -->
            {% endfor %}
            </div>
        {% endif %}

    </div> <!-- End .br-product__media -->

    <div class="br-product__main">
        <h2 class="br-product__name upcase"><a href="#">{{ include.name | default: "Default product title" }}</a></h2>

        <span class="br-product__price">
            {{ include.price | remove: "$" | prepend: "$" }}

            {% if  include.sale %}
                <del>{{ include.sale | remove: "$" | prepend: "$" }}</del>
            {% endif %}
        </span> <!-- End .br-product__price -->

        <div class="rating mb-20">
            <span><i class="fa fa-star-o"></i></span><span class="active"><i class="fa fa-star-o"></i></span><span><i class="fa fa-star-o"></i></span><span><i class="fa fa-star-o"></i></span><span><i class="fa fa-star-o"></i></span>
        </div>

        <div class="br-product__description">
            <p>Lorem ipsum dolor sit amet isse potenti. Vesquam ante aliquet lacusemper elit. Cras neque nulla, convallis non commodo et, euismod nonsese. At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum. –brown –100% suede –made in italy</p>
        </div>

        <div class="br-product__action">
            <div class="tb">

                <div class="table-cell-center">
                    <a href="#" class="btn btn-default btn-cart"  data-placement="top" title="" data-original-title="cart">
                        <i class="fa fa-shopping-bag"></i>
                        <span>add to cart</span>
                    </a>
                </div>

                <div class="table-cell-center">
                    <a class="btn btn-default btn-outline" href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="wish list">
                        <span class="sr-only">wish list</span>
                        <i class="fa fa-heart"></i>
                    </a>
                </div>

                <div class="table-cell-center">
                    <a class="btn btn-default btn-outline" href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="quick view">
                        <span class="sr-only">quick view</span>
                        <i class="fa fa-eye"></i>
                    </a>
                </div>

            </div>
        </div>
    </div> <!-- End .br-product__main -->
</div> <!-- End .br-product -->
