{% if page.map %}

<script src="http://maps.google.com/maps/api/js?sensor=true"></script>
<script src="js/vendor/gmaps.min.js"></script>
{% endif %}

<!-- JS -->
<script src="js/plugins/jquery-ui.min.js"></script>
<script src="js/plugins/bootstrap.min.js"></script>
<script src="js/plugins/awemenu.min.js"></script>
<script src="js/plugins/jquery.fittext.js"></script>
<script src="js/plugins/masonry.pkgd.min.js"></script>
<script src="js/plugins/imagesloaded.pkgd.min.js"></script>
<script src="js/plugins/isotope.pkgd.min.js"></script>
<script src="js/plugins/slick.min.js"></script>
<script src="js/plugins/jquery.countdown.min.js"></script>
<script src="js/plugins/jquery.hoverdir.js"></script>
<script src="js/plugins/select2.min.js"></script>
<script src="js/plugins/jquery.magnific-popup.min.js"></script>

<script src="js/main.js"></script>
