<aside class="sidebar widget-area">
    <section class="widget widget_categories">
        <h2 class="widget-title">Categories</h2><!-- widget-title -->

        <ul>
            <li><a href="#">New Arrivals</a></li>
            <li><a href="#">Clothes</a></li>
            <li><a href="#">Accessories</a></li>
            <li><a href="#">Underwear</a></li>
        </ul>

    </section><!-- widget -->

    <section class="widget widget_categories">
        <h2 class="widget-title">Color</h2><!-- widget-title -->

        <ul>
            <li><a href="#">Black    </a><span>8</span></li>
            <li><a href="#">Blue    </a><span>3</span></li>
            <li><a href="#">Grey    </a><span>8</span></li>
            <li><a href="#">White    </a><span>6</span></li>
            <li><a href="#">Brown    </a><span>8</span></li>
            <li><a href="#">Green    </a><span>1</span></li>
            <li><a href="#">Sand    </a><span>9</span></li>
            <li><a href="#">Tan    </a><span>9</span></li>
            <li><a href="#">Other    </a><span>1</span></li>
        </ul>
    </section><!-- widget -->

    <section class="widget">
        <h2 class="widget-title">Size Option</h2><!-- widget-title -->

        <select>
            <option>Any Size</option>
            <option>S</option>
            <option>M</option>
            <option>L</option>
            <option>2XL</option>
            <option>3XL</option>
            <option>One Size</option>
        </select>
    </section>

    <section class="widget">
        <h2 class="widget-title">price filter</h2><!-- widget-title -->

        <div class="widget_product_prices_filter">
            <div class="ranger-wrapper">
                <div id="price-slider" class="ranger"></div>
            </div><!-- ranger-wrapper -->

            <div class="small">
                <span>Price:</span>
                <span id="amount">$35</span>
                <span>-</span>
                <span class="destination">$350</span>
                <a href="#" class="btn btn-default">Filter</a>
            </div>
        </div><!-- widget_product_prices_filter -->
    </section>

    <section class="widget">
        <h2 class="widget-title">popular tags</h2><!-- widget-title -->
        <div class="tagcloud">
            <a href="#">Cotton</a>
            <a href="#">Men</a>
            <a href="#">Accessories</a>
            <a href="#">Hat</a>
            <a href="#">Swatch</a>
            <a href="#">Clothes</a>
            <a href="#">Ring</a>
            <a href="#">Shirt</a>
        </div><!-- tagcloud -->
    </section><!-- widget -->
</aside>
