<section class="widget widget_categories">
    <h2 class="widget-title">Categories</h2><!-- widget-title -->
    <ul>
        <li><a href="#">All Post</a></li>
        <li><a href="#">Women</a></li>
        <li><a href="#">Men</a></li>
        <li><a href="#">Kid</a></li>
    </ul>
</section><!-- widget -->

<section class="widget widget_recent_post">
    <h2 class="widget-title">Recent post</h2><!-- widget-title -->
    <ul>
        <li><a href="#">Fashion Minimal</a></li>
        <li><a href="#">Fashion Kid Trending</a></li>
        <li><a href="#">Gallery Post</a></li>
        <li><a href="#">Quote Post</a></li>
        <li><a href="#">New Look Women</a></li>
        <li><a href="#">Gentleman 2016</a></li>
    </ul>
</section><!-- widget -->

<section class="widget">
    <h2 class="widget-title">recent commnets</h2><!-- widget-title -->
    <div class="widget-list">
        <div class="xs-comment">
            <div class="xs-comment__info-commenters">
                <div class="xs-comment__media">
                    <a href="#"><img src="img-demo/avatars/1-xs-comment.jpg" alt=""></a>
                </div><!-- xs-comment__media -->

                <div class="comment__meta">
                    <h5 class="comment__author"><a href="#">Cynthia Stewart</a></h5><!-- .comment-author -->
                    <div class="comment__metadata">
                        <time datetime="2016-01-18T04:17:52+00:00">February 17, 2015</time>
                    </div><!-- .comment-metadata -->
                </div><!-- comment__meta -->
            </div><!-- xs-comment__info-commenters -->

            <div class="xs-comment__content">
                <p>Of course they don’t want us to eat our breakfast, so we are going to enjoy our breakfast ...</p>
            </div>
        </div><!-- xs-comment -->

        <div class="xs-comment">
            <div class="xs-comment__info-commenters">
                <div class="xs-comment__media">
                    <a href="#"><img src="img-demo/avatars/2-xs-comment.jpg" alt=""></a>
                </div><!-- xs-comment__media -->

                <div class="comment__meta">
                    <h5 class="comment__author"><a href="#">Jose Estrada</a></h5><!-- .comment-author -->
                    <div class="comment__metadata">
                        <time datetime="2016-01-18T04:17:52+00:00">February 17, 2015</time>
                    </div><!-- .comment-metadata -->
                </div><!-- comment__meta -->
            </div><!-- xs-comment__info-commenters -->

            <div class="xs-comment__content">
                <p>Cras neque nulla, convallis non commodo et, euismod nonsese. At vero eos et accusamus et iusto ...</p>
            </div>
        </div><!-- xs-comment -->

        <div class="xs-comment">
            <div class="xs-comment__info-commenters">
                <div class="xs-comment__media">
                    <a href="#"><img src="img-demo/avatars/3-xs-comment.jpg" alt=""></a>
                </div><!-- xs-comment__media -->

                <div class="comment__meta">
                    <h5 class="comment__author"><a href="#">Tom Cat</a></h5><!-- .comment-author -->
                    <div class="comment__metadata">
                        <time datetime="2016-01-18T04:17:52+00:00">February 17, 2015</time>
                    </div><!-- .comment-metadata -->
                </div><!-- comment__meta -->
            </div><!-- xs-comment__info-commenters -->

            <div class="xs-comment__content">
                <p>Egg whites, turkey sausage, wheat toast, water.</p>
            </div>
        </div><!-- xs-comment -->
    </div><!-- widget-list -->
</section><!-- widget -->

<section class="widget widget_latest_tweets">
    <h2 class="widget-title">latest tweets</h2><!-- widget-title -->
    <div class="widget-list">
        <div class="xs-tweets">
            <div class="xs-tweets__content">
                <p><span>@Brill_ we think it may be that</span> - just filed a ticket to discuss any possible solutions if this is the case - thanks!</p>
            </div><!-- xs-tweets__content -->

            <div class="xs-tweets__metadata">
                <time datetime="2016-01-18T04:17:52+00:00">February 17, 2015</time>
            </div><!-- .xs-tweets__metadata -->
        </div><!-- xs-tweets -->

        <div class="xs-tweets">
            <div class="xs-tweets__content">
                <p><span>@IrishRecruiter unfortunately not</span> - we suggest you use one of the many Job related plugins for job content.</p>
            </div><!-- xs-tweets__content -->

            <div class="xs-tweets__metadata">
                <time datetime="2016-01-18T04:17:52+00:00">February 17, 2015</time>
            </div><!-- .xs-tweets__metadata -->
        </div><!-- xs-tweets -->

        <div class="xs-tweets">
            <div class="xs-tweets__content">
                <p><span>@Brill_ we think it may be that</span> - just filed a ticket to discuss any possible solutions if this is the case - thanks!</p>
            </div><!-- xs-tweets__content -->

            <div class="xs-tweets__metadata">
                <time datetime="2016-01-18T04:17:52+00:00">February 17, 2015</time>
            </div><!-- .xs-tweets__metadata -->
        </div><!-- xs-tweets -->
    </div><!-- widget-list -->
    <p class="link_tweets">
        Follow<a href="#"> #brillian fashion</a>
    </p>
</section><!-- widget -->

<section class="widget">
    <h2 class="widget-title">instagram</h2><!-- widget-title -->
    <div class="instagram-pics mb-25">
        <a href="#"><img src="img-demo/instagram/1.jpg" alt=""></a>
        <a href="#"><img src="img-demo/instagram/2.jpg" alt=""></a>
        <a href="#"><img src="img-demo/instagram/3.jpg" alt=""></a>
        <a href="#"><img src="img-demo/instagram/4.jpg" alt=""></a>
        <a href="#"><img src="img-demo/instagram/5.jpg" alt=""></a>
        <a href="#"><img src="img-demo/instagram/6.jpg" alt=""></a>
        <a href="#"><img src="img-demo/instagram/7.jpg" alt=""></a>
        <a href="#"><img src="img-demo/instagram/8.jpg" alt=""></a>
        <a href="#"><img src="img-demo/instagram/9.jpg" alt=""></a>
    </div><!-- instagram-pics -->
</section><!-- widget -->

<section class="widget pb-40">
    <h2 class="widget-title">popular tags</h2><!-- widget-title -->
    <div class="tagcloud">
        <a href="#">Cotton</a>
        <a href="#">Men</a>
        <a href="#">Accessories</a>
        <a href="#">Hat</a>
        <a href="#">Swatch</a>
        <a href="#">Clothes</a>
        <a href="#">Ring</a>
        <a href="#">Shirt</a>
    </div><!-- tagcloud -->
</section><!-- widget -->

<section>
    <h2 class="widget-title sr-only">banner</h2><!-- widget-title -->
    <img src="img-demo/banners/banner-post.jpg" alt="">
</section>
