<div class="container">
    <div class="row">
        <div class="col-md-9">
            <article class="post post--standard">
                <header class="entry-header">

                    <div class="entry-media entry-media-thumbnail">
                        <a href="#">
                            <img src="img-demo/blogs/1.jpg" alt="">
                        </a><!-- br-img -->
                    </div><!-- .entry-media -->
                </header><!-- entry-header -->

                <div class="entry-container">
                    <div class="post-time">jun 24.2015</div><!-- post-time -->

                    <h2 class="entry-title"><a href="#">Stand Post</a></h2>

                    <div class="entry-meta">
                        <ul class="entry-meta-list">
                            <li class="light">Posted by <a href="#">Brilliant</a> in the <a href="#">Women</a></li>
                            <li><a class="link-comment" href="#">16 Comments</a></li>
                            <li><a class="link-like" href="#">20 Like</a></li>
                        </ul><!-- .entry-meta-list -->
                    </div><!-- entry-meta -->
                </div><!-- entry-container -->
            </article><!-- post -->

            <article class="post post--sticky">
                <header class="entry-header">
                    <div class="label-sticky">
                        <i class="fa fa-star"></i>
                    </div><!-- .label-sticky -->

                    <div class="entry-media entry-media-thumbnail">
                        <a href="#">
                            <img src="img-demo/blogs/2.jpg" alt="">
                        </a><!-- br-img -->
                    </div><!-- .entry-media -->
                </header><!-- entry-header -->

                <div class="entry-container">
                    <div class="post-time">jun 24.2015</div><!-- post-time -->

                    <h2 class="entry-title"><a href="#">Sticky Post</a></h2>

                    <div class="entry-meta">
                        <ul class="entry-meta-list">
                            <li class="light">Posted by <a href="#">Brilliant</a> in the <a href="#">Women</a></li>
                            <li><a class="link-comment" href="#">16 Comments</a></li>
                            <li><a class="link-like" href="#">20 Like</a></li>
                        </ul><!-- .entry-meta-list -->
                    </div><!-- entry-meta -->
                </div><!-- entry-container -->
            </article><!-- post -->

            <article class="post post--video">
                <header class="entry-header">

                    <div class="entry-media entry-media-oembed">
                        <a href="https://vimeo.com/56962340" class="popup-video">
                            <img src="img-demo/blogs/3.jpg" alt="">

                            <span class="br-play">
                                <span class="sr-only">Play</span>
                                <i class="fa fa-play-circle" aria-hidden="true"></i>
                            </span>
                        </a><!-- br-img -->
                    </div><!-- .entry-media -->
                </header><!-- entry-header -->

                <div class="entry-container">
                    <div class="post-time">jun 24.2015</div><!-- post-time -->

                    <h2 class="entry-title"><a href="#">Video Post</a></h2>

                    <div class="entry-meta">
                        <ul class="entry-meta-list">
                            <li class="light">Posted by <a href="#">Brilliant</a> in the <a href="#">Women</a></li>
                            <li><a class="link-comment" href="#">16 Comments</a></li>
                            <li><a class="link-like" href="#">20 Like</a></li>
                        </ul><!-- .entry-meta-list -->
                    </div><!-- entry-meta -->
                </div><!-- entry-container -->
            </article><!-- post -->

            <article class="post post--gallery br-slick-animation">
                <header class="entry-header">
                    <div class="entry-media entry-media-gallery">
                        <div class="js-entry-gallery br-slick-white">
                            <div class="entry-gallery__item">
                                <img src="img-demo/blogs/4.jpg" alt="">
                            </div>

                            <div class="entry-gallery__item">
                                <img src="img-demo/blogs/3.jpg" alt="">
                            </div>

                            <div class="entry-gallery__item">
                                <img src="img-demo/blogs/1.jpg" alt="">
                            </div>
                        </div>
                    </div><!-- .entry-media -->
                </header><!-- entry-header -->

                <div class="entry-container">
                    <div class="post-time">jun 24.2015</div><!-- post-time -->

                    <h2 class="entry-title"><a href="#">Gallery Picture Post</a></h2>

                    <div class="entry-meta">
                        <ul class="entry-meta-list">
                            <li class="light">Posted by <a href="#">Brilliant</a> in the <a href="#">Women</a></li>
                            <li><a class="link-comment" href="#">16 Comments</a></li>
                            <li><a class="link-like" href="#">20 Like</a></li>
                        </ul><!-- .entry-meta-list -->
                    </div><!-- entry-meta -->
                </div><!-- entry-container -->
            </article><!-- post -->

            <article class="post post--description-picture br-slick-animation">
                <header class="entry-header">
                    <div class="entry-media entry-media-gallery">
                        <div class="js-entry-gallery br-slick-white">
                            <div class="entry-gallery__item">
                                <img src="img-demo/blogs/5.jpg" alt="">

                                <div class="entry-description-picture">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                                </div>
                            </div>

                            <div class="entry-gallery__item">
                                <img src="img-demo/blogs/3.jpg" alt="">
                            </div>

                            <div class="entry-gallery__item">
                                <img src="img-demo/blogs/1.jpg" alt="">
                            </div>
                        </div>
                    </div><!-- .entry-media -->
                </header><!-- entry-header -->

                <div class="entry-container">
                    <div class="post-time">jun 24.2015</div><!-- post-time -->

                    <h2 class="entry-title"><a href="#">Gallery Picture Post</a></h2>

                    <div class="entry-meta">
                        <ul class="entry-meta-list">
                            <li class="light">Posted by <a href="#">Brilliant</a> in the <a href="#">Women</a></li>
                            <li><a class="link-comment" href="#">16 Comments</a></li>
                            <li><a class="link-like" href="#">20 Like</a></li>
                        </ul><!-- .entry-meta-list -->
                    </div><!-- entry-meta -->
                </div><!-- entry-container -->
            </article><!-- post -->

            <article class="post">
                <header class="entry-header">
                    <div class="entry-media entry-media-thumbnail">
                        <a href="#">
                            <img src="img-demo/blogs/6.jpg" alt="">
                        </a><!-- br-img -->
                    </div><!-- .entry-media -->
                </header><!-- entry-header -->

                <div class="entry-container">
                    <div class="post-time">jun 24.2015</div><!-- post-time -->

                    <div class="entry-meta">
                        <ul class="entry-meta-list">
                            <li class="light">Posted by <a href="#">Brilliant</a> in the <a href="#">Women</a></li>
                            <li><a class="link-comment" href="#">16 Comments</a></li>
                            <li><a class="link-like" href="#">20 Like</a></li>
                        </ul><!-- .entry-meta-list -->
                    </div><!-- entry-meta -->
                </div><!-- entry-container -->
            </article><!-- post -->

            <article class="post post-quote">
                <header class="entry-header">
                    <div class="entry-media entry-media-thumbnail">
                        <a href="#">
                            <img src="img-demo/blogs/7.jpg" alt="">
                        </a><!-- br-img -->
                    </div><!-- .entry-media -->

                    <div class="entry-quote">
                        <blockquote class="blockquote-white">
                            <p>In a free hour, when our power of choice is untrammelled and when nothing prevents our being able</p>
                            <small>Raymond Cruz</small>
                        </blockquote>
                    </div><!-- entry-quote -->
                </header><!-- entry-header -->

                <div class="entry-container">
                    <div class="post-time">jun 24.2015</div><!-- post-time -->

                    <h2 class="entry-title"><a href="#">quote Post</a></h2>

                    <div class="entry-meta">
                        <ul class="entry-meta-list">
                            <li class="light">Posted by <a href="#">Brilliant</a> in the <a href="#">Women</a></li>
                            <li><a class="link-comment" href="#">16 Comments</a></li>
                            <li><a class="link-like" href="#">20 Like</a></li>
                        </ul><!-- .entry-meta-list -->
                    </div><!-- entry-meta -->
                </div><!-- entry-container -->
            </article><!-- post -->

            <article class="post post--audio">
                <header class="entry-header">

                    <div class="entry-media entry-media-audio">
                        <div class="embed-responsive embed-responsive-4by3">
                            <iframe  src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/243823577&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
                        </div>
                    </div><!-- .entry-media -->
                </header><!-- entry-header -->

                <div class="entry-container">
                    <div class="post-time">jun 24.2015</div><!-- post-time -->

                    <h2 class="entry-title"><a href="#">Post Audio</a></h2>

                    <div class="entry-meta">
                        <ul class="entry-meta-list">
                            <li class="light">Posted by <a href="#">Brilliant</a> in the <a href="#">Women</a></li>
                            <li><a class="link-comment" href="#">16 Comments</a></li>
                            <li><a class="link-like" href="#">20 Like</a></li>
                        </ul><!-- .entry-meta-list -->
                    </div><!-- entry-meta -->
                </div><!-- entry-container -->
            </article><!-- post -->

            <article class="post post--link">
                <header class="entry-header">

                    <div class="entry-media entry-media-link">
                        <a href="index.html">www.brilliantunique.us</a>
                    </div><!-- .entry-media -->
                </header><!-- entry-header -->

                <div class="entry-container">
                    <div class="post-time">jun 24.2015</div><!-- post-time -->

                    <h2 class="entry-title"><a href="#">Stand Post</a></h2>

                    <div class="entry-meta">
                        <ul class="entry-meta-list">
                            <li class="light">Posted by <a href="#">Brilliant</a> in the <a href="#">Women</a></li>
                            <li><a class="link-comment" href="#">16 Comments</a></li>
                            <li><a class="link-like" href="#">20 Like</a></li>
                        </ul><!-- .entry-meta-list -->
                    </div><!-- entry-meta -->
                </div><!-- entry-container -->
            </article><!-- post -->

            <article class="post post-textonly">

                <div class="entry-container">
                    <div class="post-time">jun 24.2015</div><!-- post-time -->

                    <h2 class="entry-title"><a href="#">Fashion Collection Blue Color</a></h2>

                    <div class="entry-meta">
                        <ul class="entry-meta-list">
                            <li class="light">Posted by <a href="#">Brilliant</a> in the <a href="#">Women</a></li>
                            <li><a class="link-comment" href="#">16 Comments</a></li>
                            <li><a class="link-like" href="#">20 Like</a></li>
                        </ul><!-- .entry-meta-list -->
                    </div><!-- entry-meta -->
                </div><!-- entry-container -->
            </article><!-- post -->

            <article class="post post-textonly br-background-color">

                <div class="entry-container">
                    <div class="post-time">jun 24.2015</div><!-- post-time -->

                    <h2 class="entry-title"><a href="#">Fashion Collection For Women</a></h2>

                    <div class="entry-meta">
                        <ul class="entry-meta-list">
                            <li class="light">Posted by <a href="#">Brilliant</a> in the <a href="#">Women</a></li>
                            <li><a class="link-comment" href="#">16 Comments</a></li>
                            <li><a class="link-like" href="#">20 Like</a></li>
                        </ul><!-- .entry-meta-list -->
                    </div><!-- entry-meta -->
                </div><!-- entry-container -->
            </article><!-- post -->

            <article class="post post-textonly">

                <div class="label-sticky">
                    <i class="fa fa-star"></i>
                </div><!-- .label-sticky -->

                <div class="entry-container">
                    <div class="post-time">jun 24.2015</div><!-- post-time -->

                    <h2 class="entry-title"><a href="#">Fashion Collection For Women <br> / Summer 2016</a></h2>

                    <div class="entry-meta">
                        <ul class="entry-meta-list">
                            <li class="light">Posted by <a href="#">Brilliant</a> in the <a href="#">Women</a></li>
                            <li><a class="link-comment" href="#">16 Comments</a></li>
                            <li><a class="link-like" href="#">20 Like</a></li>
                        </ul><!-- .entry-meta-list -->
                    </div><!-- entry-meta -->
                </div><!-- entry-container -->
            </article><!-- post -->

            <article class="post post-textonly">

                <div class="entry-container">
                    <div class="entry-quote">
                        <blockquote>
                            <p>In a free hour, when our power of choice is untrammelled and when nothing prevents our being able</p>
                            <small>Raymond Cruz</small>
                        </blockquote>
                    </div><!-- entry-quote -->

                    <div class="entry-meta">
                        <ul class="entry-meta-list">
                            <li class="light">Posted by <a href="#">Brilliant</a> in the <a href="#">Women</a></li>
                            <li><a class="link-comment" href="#">16 Comments</a></li>
                            <li><a class="link-like" href="#">20 Like</a></li>
                        </ul><!-- .entry-meta-list -->
                    </div><!-- entry-meta -->
                </div><!-- entry-container -->
            </article><!-- post -->
        </div>
    </div>
</div>
