<div class="br-background-color">
    <h2 class="br-title text-center">brand’s</h2>

    <div class="js-brand">
        {% for brand in site.data.brands %}

        <div class="br-brand text-center">
            <div class="br-brand__thumb" style="background-image: url('img-demo/brands/{{ brand.background }}.jpg');">
                <img src="img-demo/brands/{{ brand.image }}.png" alt="">
            </div>

            <div class="br-brand__main">
                <h6 class="br-brand__name">{{ brand.name }}</h6>
            </div>
        </div> <!-- End .bs-brand -->

        {% endfor %}
    </div>
</div>
