

<div class="br-border">

    <div class="js-brand-horizontal br-slick-animation br-slick-white">
        {% for brand in site.data.brand-style %}

         <div class="br-brand br-brand--style">
            <div class="br-brand__thumb">
                <img src="img-demo/brands/{{ brand.image }}.png" alt="">
            </div>
        </div> <!-- End .bs-brand -->

        {% endfor %}
    </div>
</div>
