
<div class="container">
    <div class="form-search mb-70">
        <form action="index.html">
            <label class="sr-only"  >search</label>
            <input name="search" type="text" placeholder="Search your entry here..." value="">

            <button type="button"><i class="fa fa-search" aria-hidden="true"></i></button>
        </form>
    </div><!-- form-search -->

    <div class="comments mb-70">
        <h3 class="comments-title text-uppercase mb-40"> Customer Reviews <small>(4 Reviews)</small> </h3>

        <ol class="comment">
            <li>
                <article class="comment__body">
                    <div class="comment__avatar">
                        <img alt="" src="http://2.gravatar.com/avatar/5677dfcb7c7117b0ef64fc9897b861fb?s=70&amp;d=mm&amp;r=g" srcset="http://2.gravatar.com/avatar/5677dfcb7c7117b0ef64fc9897b861fb?s=140&amp;d=mm&amp;r=g 2x">
                    </div>
                    <div class="comment__container">
                        <div class="comment__meta">
                            <h5 class="comment__author">James Li</h5>
                            <!-- .comment-author -->
                            <div class="comment__metadata">
                                <a href="#">
                                    <time datetime="2016-01-18T04:17:52+00:00">January 18, 2016 at 4:17 am </time>
                                </a>
                            </div>
                            <!-- .comment-metadata -->
                        </div>
                        <!-- .comment-meta -->
                        <div class="comment__content">
                            <h4>Fantastic purchase!</h4>
                            <p>Cape cod luxury little B&amp;B, centrally located to everything!! Attention to details is what they do from daily complimentary breakfast delivered to your room, anniversary champagne bottle waiting for us upon arrival.</p>
                        </div>
                        <!-- .comment-content -->
                    </div>
                    <div class="comment__actions">
                        <a class="comment__link" href="#"><i class="fa fa-reply"></i>Reply</a>
                        <a class="comment__link" href="#"><i class="fa fa-pencil-square-o"></i>Edit</a>
                    </div>
                </article>

                <ol class="children">
                    <li>
                        <article class="comment__body">
                            <div class="comment__avatar">
                                <img alt="" src="http://2.gravatar.com/avatar/5677dfcb7c7117b0ef64fc9897b861fb?s=70&amp;d=mm&amp;r=g" srcset="http://2.gravatar.com/avatar/5677dfcb7c7117b0ef64fc9897b861fb?s=140&amp;d=mm&amp;r=g 2x">
                            </div>
                            <div class="comment__container">
                                <div class="comment__meta">
                                    <h5 class="comment__author">James Li</h5>
                                    <!-- .comment-author -->
                                    <div class="comment__metadata">
                                        <a href="#">
                                            <time datetime="2016-01-18T04:17:52+00:00">January 18, 2016 at 4:17 am </time>
                                        </a>
                                    </div>
                                    <!-- .comment-metadata -->
                                </div>
                                <!-- .comment-meta -->
                                <div class="comment__content">
                                    <h4>Fantastic purchase!</h4>
                                    <p>Cape cod luxury little B&amp;B, centrally located to everything!! Attention to details is what they do from daily complimentary breakfast delivered to your room, anniversary champagne bottle waiting for us upon arrival.</p>
                                </div>
                                <!-- .comment-content -->
                            </div>
                            <div class="comment__actions">
                                <a class="comment__link" href="#"><i class="fa fa-reply"></i>Reply</a>
                                <a class="comment__link" href="#"><i class="fa fa-pencil-square-o"></i>Edit</a>
                            </div>
                        </article>

                        <ol class="children">
                            <li>
                                <article class="comment__body">
                                    <div class="comment__avatar">
                                        <img alt="" src="http://2.gravatar.com/avatar/5677dfcb7c7117b0ef64fc9897b861fb?s=70&amp;d=mm&amp;r=g" srcset="http://2.gravatar.com/avatar/5677dfcb7c7117b0ef64fc9897b861fb?s=140&amp;d=mm&amp;r=g 2x">
                                    </div>
                                    <div class="comment__container">
                                        <div class="comment__meta">
                                            <h5 class="comment__author">James Li</h5>
                                            <!-- .comment-author -->
                                            <div class="comment__metadata">
                                                <a href="#">
                                                    <time datetime="2016-01-18T04:17:52+00:00">January 18, 2016 at 4:17 am </time>
                                                </a>
                                            </div>
                                            <!-- .comment-metadata -->
                                        </div>
                                        <!-- .comment-meta -->
                                        <div class="comment__content">
                                            <h4>Fantastic purchase!</h4>
                                            <p>Cape cod luxury little B&amp;B, centrally located to everything!! Attention to details is what they do from daily complimentary breakfast delivered to your room, anniversary champagne bottle waiting for us upon arrival.</p>
                                        </div>
                                        <!-- .comment-content -->
                                    </div>
                                    <div class="comment__actions">
                                        <a class="comment__link" href="#"><i class="fa fa-reply"></i>Reply</a>
                                        <a class="comment__link" href="#"><i class="fa fa-pencil-square-o"></i>Edit</a>
                                    </div>
                                </article>
                            </li>

                            <li>
                                <article class="comment__body">
                                    <div class="comment__avatar">
                                        <img alt="" src="http://2.gravatar.com/avatar/5677dfcb7c7117b0ef64fc9897b861fb?s=70&amp;d=mm&amp;r=g" srcset="http://2.gravatar.com/avatar/5677dfcb7c7117b0ef64fc9897b861fb?s=140&amp;d=mm&amp;r=g 2x">
                                    </div>
                                    <div class="comment__container">
                                        <div class="comment__meta">
                                            <h5 class="comment__author">James Li</h5>
                                            <!-- .comment-author -->
                                            <div class="comment__metadata">
                                                <a href="#">
                                                    <time datetime="2016-01-18T04:17:52+00:00">January 18, 2016 at 4:17 am </time>
                                                </a>
                                            </div>
                                            <!-- .comment-metadata -->
                                        </div>
                                        <!-- .comment-meta -->
                                        <div class="comment__content">
                                            <h4>Fantastic purchase!</h4>
                                            <p>Cape cod luxury little B&amp;B, centrally located to everything!! Attention to details is what they do from daily complimentary breakfast delivered to your room, anniversary champagne bottle waiting for us upon arrival.</p>
                                        </div>
                                        <!-- .comment-content -->
                                    </div>
                                    <div class="comment__actions">
                                        <a class="comment__link" href="#"><i class="fa fa-reply"></i>Reply</a>
                                        <a class="comment__link" href="#"><i class="fa fa-pencil-square-o"></i>Edit</a>
                                    </div>
                                </article>
                            </li>
                        </ol>
                    </li>

                    <li>
                        <article class="comment__body">
                            <div class="comment__avatar">
                                <img alt="" src="http://2.gravatar.com/avatar/5677dfcb7c7117b0ef64fc9897b861fb?s=70&amp;d=mm&amp;r=g" srcset="http://2.gravatar.com/avatar/5677dfcb7c7117b0ef64fc9897b861fb?s=140&amp;d=mm&amp;r=g 2x">
                            </div>
                            <div class="comment__container">
                                <div class="comment__meta">
                                    <h5 class="comment__author">James Li</h5>
                                    <!-- .comment-author -->
                                    <div class="comment__metadata">
                                        <a href="#">
                                            <time datetime="2016-01-18T04:17:52+00:00">January 18, 2016 at 4:17 am </time>
                                        </a>
                                    </div>
                                    <!-- .comment-metadata -->
                                </div>
                                <!-- .comment-meta -->
                                <div class="comment__content">
                                    <h4>Fantastic purchase!</h4>
                                    <p>Cape cod luxury little B&amp;B, centrally located to everything!! Attention to details is what they do from daily complimentary breakfast delivered to your room, anniversary champagne bottle waiting for us upon arrival.</p>
                                </div>
                                <!-- .comment-content -->
                            </div>
                            <div class="comment__actions">
                                <a class="comment__link" href="#"><i class="fa fa-reply"></i>Reply</a>
                                <a class="comment__link" href="#"><i class="fa fa-pencil-square-o"></i>Edit</a>
                            </div>
                        </article>
                    </li>
                </ol>

            </li>
        </ol>

    </div>

    <div class="comments-area">
        <div class="comment-respond">
            <h3 class="text-uppercase mb-40">Leave a Reply</h3>

            <form action="index.html" method="post" class="comment-form">
                <div class="row">
                    <div class="col-md-4">
                        <p class="comment-form-author">
                            <label class="sr-only" >Name</label>
                            <input id="author" name="author" type="text" placeholder="Name" value="" required="required">
                        </p>
                    </div>
                    <div class="col-md-4">
                        <p class="comment-form-email">
                            <label class="sr-only" >Email</label>
                            <input   name="email" type="email" placeholder="Email" value="" required="required">
                        </p>
                    </div>
                    <div class="col-md-4">
                        <p class="comment-form-url">
                            <label class="sr-only" for="url">Website</label>
                            <input id="url" name="url" type="url" placeholder="Website" value="">
                        </p>
                    </div>
                </div>
                <p class="comment-form-comment">
                    <label class="sr-only" >Comment</label>
                    <textarea id="comment" name="comment" cols="45" rows="8" required="required" placeholder="Comment"></textarea>
                </p>
                <p class="form-submit pull-right">
                    <input name="submit" type="submit" id="submit" class="submit" value="Post Comment">
                </p>
            </form>
        </div>
        <!-- #respond -->
    </div>
</div>
