<div class="container">
    <div class="br-lookbook br-lookbook--moderm">
        <button type="button" class="slick-prev">Previous</button>
        <button type="button" class="slick-next">Next</button>

        <div class="row">
            <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1">

                <div class="br-lookbook__gallery">
                    <div class="js-br-lookbook__gallery-moderm">
                        <div class="br-lookbook__item">
                            <img src="img-demo/lookbook/1.jpg" alt="">
                        </div>

                        <div class="br-lookbook__item">
                            <img src="img-demo/lookbook/2.jpg" alt="">
                        </div>
                    </div><!-- js-br-lookbook__gallery -->
                </div><!-- br-lookbook__gallery -->

                <div class="br-lookbook__main">
                    <h2 class="br-lookbook__name"><a href="#">Seafaring &amp; Sporty</a></h2><!-- br-lookbook__name -->

                    <div class="br-lookbook__description">
                        <p>The Spring Summer 2013 collection is based on a road trip through California. Drawing on the influences of surfer culture and the vibrant colours of the streets, the collection nods to a 50s aesthetic with clean tailored lines and more fitted silhouettes.</p>
                    </div>

                    <a href="#" class="btn btn-default">view colletion</a>
                </div><!-- br-lookbook__main -->

            </div>
        </div>
    </div><!-- br-lookbook -->

    <div class="br-lookbook br-lookbook--moderm">
        <button type="button" class="slick-prev">Previous</button>
        <button type="button" class="slick-next">Next</button>

        <div class="row">
            <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1">

                <div class="br-lookbook__gallery">
                    <div class="js-br-lookbook__gallery-moderm">
                        <div class="br-lookbook__item">
                            <img src="img-demo/lookbook/2.jpg" alt="">
                        </div>

                        <div class="br-lookbook__item">
                            <img src="img-demo/lookbook/4.jpg" alt="">
                        </div>
                    </div><!-- js-br-lookbook__gallery -->
                </div><!-- br-lookbook__gallery -->

                <div class="br-lookbook__main">
                    <h2 class="br-lookbook__name"><a href="#">Seafaring &amp; Sporty</a></h2><!-- br-lookbook__name -->

                    <div class="br-lookbook__description">
                        <p>The Spring Summer 2013 collection is based on a road trip through California. Drawing on the influences of surfer culture and the vibrant colours of the streets, the collection nods to a 50s aesthetic with clean tailored lines and more fitted silhouettes.</p>
                    </div>

                    <a href="#" class="btn btn-default">view colletion</a>
                </div><!-- br-lookbook__main -->

            </div>
        </div>
    </div><!-- br-lookbook -->

    <div class="br-lookbook">
        <div class="br-lookbook__gallery">
            <div class="row">
                <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
                    <div class="js-br-lookbook__gallery">
                        <div class="br-lookbook__item">
                            <img src="img-demo/lookbook2/1.jpg" alt="">
                        </div>

                        <div class="br-lookbook__item">
                            <img src="img-demo/lookbook2/2.jpg" alt="">
                        </div>
                    </div><!-- js-br-lookbook__gallery -->
                </div><!-- br-lookbook__gallery -->
            </div>
        </div>

        <div class="br-lookbook__main">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <h2 class="br-lookbook__name"><a href="#">Seafaring &amp; Sporty</a></h2><!-- br-lookbook__name -->

                    <div class="br-lookbook__description">
                        <p>The Spring Summer 2013 collection is based on a road trip through California. Drawing on the influences of surfer culture and the vibrant colours of the streets, the collection nods to a 50s aesthetic with clean tailored lines and more fitted silhouettes.</p>
                    </div>

                    <a href="#" class="btn btn-default">view colletion</a>
                </div>
            </div>
        </div><!-- br-lookbook__main -->
    </div><!-- br-lookbook -->
</div>
