
<div class="br-policy">
    <div class="br-policy__item">
        <div class="br-policy__icon">
            <i class="br br-car"></i>
        </div> <!-- End .br-policy__icon -->
        <div class="br-policy__text">
            <h5 class="text-uppercase mb-0">Free shipping</h5>
            <span>Free returns &amp; exchanges</span>
        </div> <!-- End br-policy__text -->
    </div> <!-- End br-policy__item  -->

    <div class="br-policy__item">
        <div class="br-policy__icon">
            <i class="br br-money"></i>
        </div> <!-- End .br-policy__icon -->
        <div class="br-policy__text">
            <h5 class="text-uppercase mb-0">15 Days returns</h5>
            <span>When order over $25</span>
        </div> <!-- End br-policy__text -->
    </div> <!-- End br-policy__item  -->

    <div class="br-policy__item">
        <div class="br-policy__icon">
            <i class="br br-clock"></i>
        </div> <!-- End .br-policy__icon -->
        <div class="br-policy__text">
            <h5 class="text-uppercase mb-0">support 24/7</h5>
            <span>When order over $25</span>
        </div> <!-- End br-policy__text -->
    </div> <!-- End br-policy__item  -->
</div>
