
<div class="container">
    <div class="js-br-card-hover br-card-wrapper" data-col="3" data-gap="10">
        <div class="br-card">
            <div class="br-card__media">
                <div class="br-card__thumb">
                    <a href="#">
                        <img src="img-demo/portfolio/1.jpg" alt="">
                    </a>

                    <div class="br-card__hover">
                    </div>
                </div>
            </div><!-- br-card__media -->

            <div class="br-card__main">
                <h4 class="br-card__title"><a href="#">Minimal Office Clean</a></h4>
                <span>Decor / Photography</span>
            </div>
        </div><!-- br-cart -->

        <div class="br-card inner-title">
            <div class="br-card__media">
                <div class="br-card__thumb">
                    <a href="#">
                        <img src="img-demo/portfolio/1.jpg" alt="">
                    </a>

                    <div class="br-card__hover">
                        <div class="br-card__main">
                            <h4 class="br-card__title"><a href="#">Minimal Office Clean</a></h4>
                            <span>Decor / Photography</span>
                        </div>
                    </div>
                </div>
            </div><!-- br-card__media -->
        </div><!-- br-cart -->

        <div class="br-card">
            <div class="br-card__media">
                <div class="br-card__slide">
                    <div class="js-br-card-slide br-slick-white">
                        <div><img src="img-demo/portfolio/1.jpg" alt=""></div>
                        <div><img src="img-demo/portfolio/2.jpg" alt=""></div>
                        <div><img src="img-demo/portfolio/3.jpg" alt=""></div>
                    </div>
                </div>
            </div><!-- br-card__media -->

            <div class="br-card__main">
                <h4 class="br-card__title"><a href="#">Minimal Office Clean</a></h4>
                <span>Decor / Photography</span>
            </div>
        </div><!-- br-card -->

        <div class="br-card inner-title br-card--quad">
            <div class="br-card__media">
                <div class="br-card__thumb">
                    <a href="#">
                        <img src="img-demo/portfolio/1.jpg" alt="">
                    </a>

                    <div class="br-card__hover">
                        <div class="br-card__main">
                            <h4 class="br-card__title"><a href="#">Minimal Office Clean</a></h4>
                            <span>Decor / Photography</span>
                        </div>
                    </div>
                </div>
            </div><!-- br-card__media -->
        </div><!-- br-cart inner-title -->

        <div class="br-card inner-title br-card--quad-w2">
            <div class="br-card__media">
                <div class="br-card__thumb">
                    <a href="#">
                        <img src="img-demo/portfolio/1.jpg" alt="">
                    </a>

                    <div class="br-card__hover">
                        <div class="br-card__main">
                            <h4 class="br-card__title"><a href="#">Minimal Office Clean</a></h4>
                            <span>Decor / Photography</span>
                        </div>
                    </div>
                </div>
            </div><!-- br-card__media -->
        </div><!-- br-cart inner-title -->

        <div class="br-card inner-title br-card--quad">
            <div class="br-card__media">
                <div class="br-card__thumb">
                    <a href="#">
                        <img src="img-demo/portfolio/1.jpg" alt="">
                    </a>

                    <div class="br-card__hover">
                        <div class="br-card__main">
                            <h4 class="br-card__title"><a href="#">Minimal Office Clean</a></h4>
                            <span>Decor / Photography</span>
                        </div>
                    </div>
                </div>
            </div><!-- br-card__media -->
        </div><!-- br-cart inner-title -->

        <div class="br-card inner-title br-card--quad">
            <div class="br-card__media">
                <div class="br-card__thumb">
                    <a href="#">
                        <img src="img-demo/portfolio/1.jpg" alt="">
                    </a>

                    <div class="br-card__hover">
                        <div class="br-card__main">
                            <h4 class="br-card__title"><a href="#">Minimal Office Clean</a></h4>
                            <span>Decor / Photography</span>
                        </div>
                    </div>
                </div>
            </div><!-- br-card__media -->
        </div><!-- br-cart inner-title -->

        <div class="br-card inner-title br-card--quad-h2">
            <div class="br-card__media">
                <div class="br-card__thumb">
                    <a href="#">
                        <img src="img-demo/portfolio/1.jpg" alt="">
                    </a>

                    <div class="br-card__hover">
                        <div class="br-card__main">
                            <h4 class="br-card__title"><a href="#">Minimal Office Clean</a></h4>
                            <span>Decor / Photography</span>
                        </div>
                    </div>
                </div>
            </div><!-- br-card__media -->
        </div><!-- br-cart inner-title -->

        <div class="br-card inner-title br-card--quad">
            <div class="br-card__media">
                <div class="br-card__thumb">
                    <a href="#">
                        <img src="img-demo/portfolio/1.jpg" alt="">
                    </a>

                    <div class="br-card__hover">
                        <div class="br-card__main">
                            <h4 class="br-card__title"><a href="#">Minimal Office Clean</a></h4>
                            <span>Decor / Photography</span>
                        </div>
                    </div>
                </div>
            </div><!-- br-card__media -->
        </div><!-- br-cart inner-title -->
    </div>
</div>
