
<div class="br-product br-product-detail">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="br-product__media br-product-slide-horizontal">
                    <div class="br-product__image">
                        <div class="js-br-product-image">
                            {% for i in (1..6) %}
                                <div>
                                    <div class="br-product__thumb">
                                        <img src="img-demo/products/details/p{{ i }}.jpg" alt="">
                                    </div><!-- .br-product__thumb -->

                                </div>
                            {% endfor %}

                        </div><!-- .js-bd-product-for-image -->


                        <div data-toggle="modal" data-target="#enlarge-product">
                            <a  href="#" class="br-icon br-enlarge" data-toggle="tooltip" title="Zoom">
                                <span class="sr-only">Zoom</span>
                                <i class="br br-plus"></i>
                            </a>
                        </div>

                        <a href="https://vimeo.com/56962340" class="br-icon br-play popup-video" data-toggle="tooltip" title="play">
                            <span class="sr-only">Play</span>
                            <i class="fa fa-play-circle" aria-hidden="true"></i>
                        </a>
                    </div><!-- .br-product__image -->

                    <div class="js-br-product-nav br-slick-white">
                        {% for i in (1..6) %}

                            <div class="br-product-nav__item">
                                <div class="br-product__thumb">
                                    <img src="img-demo/products/details/p{{ i }}.jpg" alt="">
                                </div><!-- .br-product__thumb -->
                            </div>

                        {% endfor %}
                    </div><!-- .js-br-product-nav -->
                </div><!-- .br-product__media -->

                <div class="modal modal-enlarge" id="enlarge-product"  >

                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><img src="../img/icon_media_close.gif" alt=""></button>

                     <ul>
                        <li><img src="img-demo/products/details/p1.jpg" alt=""></li>
                        <li><img src="img-demo/products/details/p2.jpg" alt=""></li>
                        <li><img src="img-demo/products/details/p3.jpg" alt=""></li>
                        <li><img src="img-demo/products/details/p4.jpg" alt=""></li>
                        <li><img src="img-demo/products/details/p5.jpg" alt=""></li>
                        <li><img src="img-demo/products/details/p6.jpg" alt=""></li>
                    </ul>

                </div><!-- .modal .modal-enlarge -->
            </div>

            <div class="col-md-6">
                <div class="br-product-detail__container">
                    <div class="br-product-detail__header">
                        <ul class="breadcrumb">
                            <li><a href="#">Brilliant</a></li>
                            <li><a href="#">Women</a></li>
                            <li><a href="#">Clother</a></li>
                            <li><a href="#">Sweatshirts</a></li>
                            <li class="active"><a href="#">Marsella Romper</a></li>
                        </ul><!-- .breadcrumb -->
                    </div> <!-- End .br-product-detail__header -->

                    <div class="br-product-detail__main">
                        <h2 class="text-uppercase">Marsella Romper</h2>

                        <div class="mb-20">
                            <span class="in-stock">In Stock</span>
                            <span class="sku">SKU: 603109</span>
                        </div>

                        <span class="br-product__price">
                            $ 68.00  - $ 128.00
                        </span> <!-- End .br-product__price -->

                        <div class="rating mb-20">
                            <span><i class="fa fa-star-o"></i></span><span><i class="fa fa-star-o"></i></span><span><i class="fa fa-star-o"></i></span><span><i class="fa fa-star-o"></i></span><span><i class="fa fa-star-o"></i></span>
                        </div>

                        <div class="br-product__description">
                            <p>Nulla ridiculus eu a curae ut sed in augue accumsan vestibulum dictumst fermentum at sem himenaeos netus netus nam convallis.Enim a cursus hendrerit lobortis class nec ad fusce nisi a viverra vestibulum a nec ullamcorper vel.A nulla at tristique scelerisque. Laboris turkey in et chuck</p>
                        </div>

                        <form action="index.html" class="mb-20">
                            <div class="row">
                                <div class="col-xs-4">
                                    <select >
                                        <option>Select Size</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                </div>

                                <div class="col-xs-4">
                                    <select >
                                        <option>Select Color</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                </div>

                                <div class="col-xs-3">

                                    <label  class="sr-only">Select a value:</label>
                                    <input type="number" class="spinner" name="value" value="0">

                                </div>
                            </div>

                            <button type="reset" value="Clear">Clear Selection</button>
                        </form>

                        <div class="variation-price mb-15">
                            <span class="br-product__price">
                                $ 128.00   <del>$60.00</del>
                            </span> <!-- End .br-product__price -->
                        </div><!-- .variation-price -->

                        <div class="br-product__action mb-15">
                            <div class="tb">

                                <div class="table-cell-center">
                                    <a href="#" class="btn btn-default btn-cart" data-placement="top" title="" data-original-title="cart">
                                        <i class="fa fa-shopping-bag"></i>
                                        <span>add to cart</span>
                                    </a>
                                </div>

                                <div class="table-cell-center">
                                    <a class="btn btn-default btn-outline" href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="wish list">
                                        <span class="sr-only">wish list</span>
                                        <i class="fa fa-heart"></i>
                                    </a>
                                </div>

                            </div>
                        </div><!-- .br-product__action -->

                        <div class="overflow-hidden">
                            Category:
                            <ul class="br-category">
                                <li><a href="#">Accessories</a></li>
                                <li><a href="#">Bags</a></li>
                            </ul>
                            -    Tags:
                            <ul class="br-tags">
                                <li><a href="#">Bag</a></li>
                                <li><a href="#">Pink</a></li>
                                <li><a href="#">Color Clean</a></li>
                                <li><a href="#">Vintage</a></li>
                                <li><a href="#">Minimal</a></li>
                            </ul>
                        </div>

                    </div><!-- .product-detail__main -->

                    <div class="overflow-hidden">
                        Share

                        <ul class="nav-social">
                            <li>
                                <a href="#" target="_blank">
                                    <i class="fa fa-instagram"></i>
                                    <span class="sr-only">Google Plus</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank">
                                    <i class="fa fa-facebook"></i>
                                    <span class="sr-only">Facebook</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank">
                                    <i class="fa fa-pinterest"></i>
                                    <span class="sr-only">Pinterest</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" data-toggle="tooltip" target="_blank" data-original-title="" title="">
                                    <i class="fa fa-twitter"></i>
                                    <span class="sr-only">Twitter</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank">
                                    <i class="fa fa-tumblr"></i>
                                    <span class="sr-only">Tumblr</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div><!-- .br-product-detail__container -->
            </div>
        </div>
    </div>
</div><!-- .bd-product-detail -->


<div class="br-product br-product-detail br-product-slide-vertical">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <!-- nav-default: Horizontal, add class .br-product-slide-vertical to nav: vertical -->
                <div class="br-product__media br-product-slide-vertical-image">
                    <div class="br-product__image">
                        <div class="js-br-product-image">
                            {% for i in (1..6) %}
                                <div>
                                    <div class="br-product__thumb">
                                        <img src="img-demo/products/details/p{{ i }}.jpg" alt="">
                                    </div><!-- .br-product__thumb -->
                                </div>
                            {% endfor %}

                        </div><!-- .js-bd-product-for-image -->

                        <div data-toggle="modal" data-target="#enlarge-product">
                            <a  href="#" class="br-icon br-enlarge" data-toggle="tooltip" title="Zoom">
                                <span class="sr-only">Zoom</span>
                                <i class="br br-plus"></i>
                            </a>
                        </div>

                        <a href="https://vimeo.com/56962340" class="br-icon br-play popup-video" data-toggle="tooltip" title="Play">
                            <span class="sr-only">Play</span>
                            <i class="fa fa-play-circle" aria-hidden="true"></i>
                        </a>
                    </div><!-- .br-product__image .br-product-slide-vertical-->

                    <div class="br-product-nav-wrapper">
                        <div class="js-br-product-nav br-slick-white">
                            {% for i in (1..6) %}

                                <div class="br-product-nav__item">
                                    <div class="br-product__thumb">
                                        <img src="img-demo/products/details/p{{ i }}.jpg" alt="">
                                    </div><!-- .br-product__thumb -->
                                </div>

                            {% endfor %}
                        </div><!-- .js-br-product-nav -->
                    </div>
                </div><!-- .br-product__media -->

                <div class="modal modal-enlarge"  >

                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><img src="img/icon_media_close.gif" alt=""></button>

                     <ul>
                        <li><img src="img-demo/products/details/p1.jpg" alt=""></li>
                        <li><img src="img-demo/products/details/p2.jpg" alt=""></li>
                        <li><img src="img-demo/products/details/p3.jpg" alt=""></li>
                        <li><img src="img-demo/products/details/p4.jpg" alt=""></li>
                        <li><img src="img-demo/products/details/p5.jpg" alt=""></li>
                        <li><img src="img-demo/products/details/p6.jpg" alt=""></li>
                    </ul>

                </div><!-- .modal .modal-enlarge -->
            </div>

            <div class="col-md-6">
                <div class="br-product-detail__container">
                    <div class="br-product-detail__header">
                        <ul class="breadcrumb">
                            <li><a href="#">Brilliant</a></li>
                            <li><a href="#">Women</a></li>
                            <li><a href="#">Clother</a></li>
                            <li><a href="#">Sweatshirts</a></li>
                            <li class="active"><a href="#">Marsella Romper</a></li>
                        </ul><!-- .breadcrumb -->
                    </div> <!-- End .br-product-detail__header -->

                    <div class="br-product-detail__main">
                        <h2 class="text-uppercase">Marsella Romper</h2>

                        <div class="mb-20">
                            <span class="in-stock">In Stock</span>
                            <span class="sku">SKU: 603109</span>
                        </div>

                        <span class="br-product__price">
                            $ 68.00  - $ 128.00
                        </span> <!-- End .br-product__price -->

                        <div class="rating mb-15">
                            <span><i class="fa fa-star-o"></i></span><span><i class="fa fa-star-o"></i></span><span class="active"><i class="fa fa-star-o"></i></span><span><i class="fa fa-star-o"></i></span><span><i class="fa fa-star-o"></i></span>
                        </div>

                        <div class="br-product__description">
                            <p>Nulla ridiculus eu a curae ut sed in augue accumsan vestibulum dictumst fermentum at sem himenaeos netus netus nam convallis.Enim a cursus hendrerit lobortis class nec ad fusce nisi a viverra vestibulum a nec ullamcorper vel.A nulla at tristique scelerisque. Laboris turkey in et chuck</p>
                        </div>

                        <form action="index.html" class="mb-20">
                            <div class="row">
                                <div class="col-xs-4">
                                    <select >
                                        <option>Select Size</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                </div>

                                <div class="col-xs-4">
                                    <select >
                                        <option>Select Color</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                </div>

                                <div class="col-xs-3">
                                    <label  class="sr-only">Select a value:</label>
                                    <input type="number" class="spinner" name="value" value="0">
                                </div>
                            </div>

                            <button type="reset" value="Clear">Clear Selection</button>
                        </form>

                        <div class="variation-price mb-15">
                            <span class="br-product__price">
                                $ 128.00   <del>$60.00</del>
                            </span> <!-- End .br-product__price -->
                        </div><!-- .variation-price -->

                        <div class="br-product__action mb-15">
                            <div class="tb">

                                <div class="table-cell-center">
                                    <a href="#" class="btn btn-default btn-cart" data-placement="top" title="" data-original-title="cart">
                                        <i class="fa fa-shopping-bag"></i>
                                        <span>add to cart</span>
                                    </a>
                                </div>

                                <div class="table-cell-center">
                                    <a class="btn btn-default btn-outline" href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="wish list">
                                        <span class="sr-only">wish list</span>
                                        <i class="fa fa-heart"></i>
                                    </a>
                                </div>

                            </div>
                        </div><!-- .br-product__action -->

                        <div class="overflow-hidden">
                            Category:
                            <ul class="br-category">
                                <li><a href="#">Accessories</a></li>
                                <li><a href="#">Bags</a></li>
                            </ul>
                            -    Tags:
                            <ul class="br-tags">
                                <li><a href="#">Bag</a></li>
                                <li><a href="#">Pink</a></li>
                                <li><a href="#">Color Clean</a></li>
                                <li><a href="#">Vintage</a></li>
                                <li><a href="#">Minimal</a></li>
                            </ul>
                        </div>

                    </div><!-- .product-detail__main -->

                    <div class="overflow-hidden">
                            Share

                            <ul class="nav-social">
                                <li>
                                    <a href="#" target="_blank">
                                        <i class="fa fa-instagram"></i>
                                        <span class="sr-only">Google Plus</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank">
                                        <i class="fa fa-facebook"></i>
                                        <span class="sr-only">Facebook</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank">
                                        <i class="fa fa-pinterest"></i>
                                        <span class="sr-only">Pinterest</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" data-toggle="tooltip" target="_blank" data-original-title="" title="">
                                        <i class="fa fa-twitter"></i>
                                        <span class="sr-only">Twitter</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank">
                                        <i class="fa fa-tumblr"></i>
                                        <span class="sr-only">Tumblr</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                </div><!-- .br-product-detail__container -->
            </div>
        </div>
    </div>
</div><!-- .bd-product-detail -->
