

<div class="container">
    <div class="row">

        <div class="col-md-3">
            {% include product.html  name="Women New Balance for J.Crew 696 " price="18.00" sale="45.00" color="" image="img-demo/products/2.jpg" label="new,hot"  %}
        </div>

        <div class="col-md-3">
            {% include product.html soldout="" name="Women New Balance for J.Crew 696 " price="18.00" sale="45.00" color="" label="new,sale"  %}
        </div>
    </div>
</div>
