

<ul class="nav-social">
        <li>
            <a href="#" target="_blank">
                <i class="fa fa-instagram"></i>
                <span class="sr-only">Google Plus</span>
            </a>
        </li>
        <li>
            <a href="#" target="_blank">
                <i class="fa fa-facebook"></i>
                <span class="sr-only">Facebook</span>
            </a>
        </li>
        <li>
            <a href="#" target="_blank">
                <i class="fa fa-pinterest"></i>
                <span class="sr-only">Pinterest</span>
            </a>
        </li>
        <li>
            <a href="#" data-toggle="tooltip" target="_blank">
                <i class="fa fa-twitter"></i>
                <span class="sr-only">Twitter</span>
            </a>
        </li>
        <li>
            <a href="#" target="_blank">
                <i class="fa fa-tumblr"></i>
                <span class="sr-only">Tumblr</span>
            </a>
        </li>
    </ul>

    <ul class="nav-social">
        <li>
            <a href="#" target="_blank">
                <i class="fa fa-instagram"></i>
                <span>Google Plus</span>
            </a>
        </li>
        <li>
            <a href="#" target="_blank">
                <i class="fa fa-facebook"></i>
                <span>Facebook</span>
            </a>
        </li>
        <li>
            <a href="#" target="_blank">
                <i class="fa fa-pinterest"></i>
                <span>Pinterest</span>
            </a>
        </li>
        <li>
            <a href="#" data-toggle="tooltip" target="_blank">
                <i class="fa fa-twitter"></i>
                <span>Twitter</span>
            </a>
        </li>
        <li>
            <a href="#" target="_blank">
                <i class="fa fa-tumblr"></i>
                <span>Tumblr</span>
            </a>
        </li>
    </ul>
