
<div class="rating mb-20">
    <span><i class="fa fa-star-o"></i></span><span><i class="fa fa-star-o"></i></span><span class="active"><i class="fa fa-star-o"></i></span><span><i class="fa fa-star-o"></i></span><span><i class="fa fa-star-o"></i></span>
</div>

<!-- //.rating-comment  -->
<div class="rating rating-comment mb-20">
    <span><i class="fa fa-star-o"></i></span><span><i class="fa fa-star-o"></i></span><span><i class="fa fa-star-o"></i></span><span><i class="fa fa-star-o"></i></span><span><i class="fa fa-star-o"></i></span>
</div>

