
<div class="row">
    {% for testimonial in site.data.testimonials %}
        <div class="col-md-4">
            <div class="br-testimonial">
                <div class="br-testimonial__avatar">
                    <img src="img-demo/avatars/{{ testimonial.avatar }}.jpg" alt="">
                </div> <!-- End .br-testimonial__avatar -->

                <div class="br-testimonial__main">
                    <div class="br-testimonial__say">
                        <p>{{ testimonial.content }}</p>
                    </div> <!-- End .br-testimonial__say -->

                    <h5 class="br-testimonial__name">{{ testimonial.name }}</h5>
                </div> <!-- End .br-testimonial__main -->
            </div> <!-- End .br-testimonial -->
        </div>
    {% endfor %}
</div>
