<div class="container">

    <div class="widget_product_prices_filter">
        <div class="ranger-wrapper">
            <div id="price-slider" class="ranger"></div>
        </div><!-- ranger-wrapper -->

        <div class="small">
            <span>Price:</span>
            <span id="amount">$35</span>
            <span>-</span>
            <span class="destination">$350</span>
            <a href="#" class="btn btn-default">Filter</a>
        </div>
    </div><!-- widget_product_prices_filter -->

</div>

<header class="header">
    <div class="br-promotion">
        <div class="container">
            <span class="text-uppercase small">free shipping on  orders over $125 withing the us</span>
            <div class="btn btn-outline btn-sm">shop now</div>

            <button type="button" class="close" ><i class="fa fa-times" aria-hidden="true"></i></button>
        </div>
    </div><!-- br-promotion -->

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt asperiores dignissimos unde soluta delectus ut corrupti nobis eos iste, cupiditate perspiciatis, ullam, facilis voluptate repudiandae necessitatibus. Optio cumque, quos quasi!</p>
</header>

